# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Django stuff:
*.log

# Internal
swagger.json

# vim
*.swp

# Sphinx docs
docs/source/generated/
docs/source/api_*.rst
docs/build/

# IDEs
.idea

.DS_Store
.vscode
