pytest>=3.6,<4
sphinx>=1.7.0,<2.0.0
flake8>=3.0.4,==3.*
mock==2.0.0 ; python_version == '2.7'
pytest-cov>=2.4.0,==2.*
vcrpy>=1.11.0,<=1.11.99
vcrpy-unittest==0.1.6
sphinx_rtd_theme>=0.2.4,<1.0.0
numpydoc>=0.7.0,<1.0.0

# pyarrow (feather dependency) doesn't have wheels for Python 3.4 at the time
# of writing (https://pypi.org/project/pyarrow/#files).
# We'll only test with feather for 3.5+ to avoid having to compile Arrow in CI.
feather-format ; python_version >= '3.5'

numpy
pandas; python_version >= '3.5'
pandas<0.21; python_version == '3.4'
pandas<=0.23; python_version == '2.7'
scikit-learn
scipy
