version: 2.1

orbs:
  win: circleci/windows@5.0

jobs:
  pre-build:
    description: A check that doesn't need every supported Python version (e.g., code style checks)
    parameters:
      command-run:
        type: string
      latest-supported-python-version:
        type: string
        # Pick the highest Python 3.x version that civis-python is known to support
        default: "3.14"
    docker:
      - image: cimg/python:<< parameters.latest-supported-python-version >>
    steps:
      - checkout
      - run:
          name: Set up uv virtual environment
          command: |
            uv python install << parameters.latest-supported-python-version >>
            uv venv .venv --managed-python --python=python<< parameters.latest-supported-python-version >>
            source .venv/bin/activate
      - run:
          command: << parameters.command-run >>

  build-python:
    parameters:
      python-version:
        type: string
    docker:
      - image: cimg/python:<< parameters.python-version >>
    environment:
      CIVIS_API_KEY: FOOBAR
    steps:
      - checkout
      - run:
          name: Install Python under uv
          command: |
            uv python install << parameters.python-version >>
      - run:
          name: Build source distribution, test installing package from it, and clean up
          command: |
              uv venv .venv --managed-python --python=python<< parameters.python-version >>
              source .venv/bin/activate
              uv pip install --no-progress --upgrade pip setuptools build
              uv run python -m build
              uv pip install dist/`ls dist/ | grep .whl`
              deactivate
              rm -rf .venv
      - run:
          name: Set up uv virtual environment for the test suite
          command: |
            uv venv .venv --managed-python --python=python<< parameters.python-version >>
            source .venv/bin/activate
            uv pip install --no-progress -e ".[dev-core,dev-civisml]"
      - run:
          name: Show installed Python packages
          command: |
            uv pip list -v
      - run:
          name: Run python tests
          command: |
            uv run pytest --junitxml=/tmp/testxml/report.xml --durations=0
      - store_test_results:
          path: /tmp/testxml/

  build-python-win:
    executor:
      name: win/default
      shell: powershell.exe
    steps:
      - checkout
      - run: systeminfo
      - run:
          name: Run tests on Windows
          shell: bash.exe
          command: |
            python --version && \
            python.exe -m pip install --upgrade pip setuptools wheel && \
            python.exe -m pip install ".[dev-core,dev-civisml]" && \
            python.exe -m pip list && \
            CIVIS_API_KEY=foobar pytest

workflows:
  version: 2
  build-and-test:
    jobs:
      - pre-build:
          name: bandit
          command-run: |
            uv pip install --no-progress -e ".[dev-core]" && \
            uv run bandit --version && \
            uv run bandit -r src -x tests
      - pre-build:
          name: black
          command-run: |
            uv pip install --no-progress -e ".[dev-core]" && \
            uv run black --check src tools tests docs/conf.py
      - pre-build:
          name: flake8
          command-run: |
            uv pip install --no-progress -e ".[dev-core]" && \
            uv run flake8 src tools tests docs/conf.py
      - pre-build:
          name: pip-audit
          command-run: |
            uv pip install --no-progress -r docs/requirements.txt && \
            uv pip install --no-progress -e ".[dev-core,dev-civisml]" && \
            uv run pip-audit --version && \
            uv run pip-audit --skip-editable
      - pre-build:
          name: twine
          command-run: |
            uv pip install --no-progress -e ".[dev-core]" && \
            uv run python -m build && \
            uv run twine check dist/`ls dist/ | grep .tar.gz` && \
            uv run twine check dist/`ls dist/ | grep .whl`
      - build-python:
          requires:
            - bandit
            - black
            - flake8
            - pip-audit
            - twine
          matrix:
            parameters:
              python-version: ["3.11", "3.12", "3.13", "3.14"]
      - build-python-win:
          requires:
            - bandit
            - black
            - flake8
            - pip-audit
            - twine
