{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/admin/organizations":{"get":{"summary":"List organizations","description":null,"deprecated":false,"parameters":[{"name":"status","in":"query","required":false,"description":"The status of the organization (active/trial/inactive).","type":"array","items":{"type":"string"}},{"name":"org_type","in":"query","required":false,"description":"The organization type (platform/ads/survey_vendor/other).","type":"array","items":{"type":"string"}}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object7"}}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List all orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 1yDslJPlzrkcnKN_o9cuxaIYEHMW3tR-oyIurJKJ1K4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"name\": \"Civis Analytics\",\n    \"slug\": \"civis\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": true,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 2,\n    \"name\": \"Demo\",\n    \"slug\": \"demo\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 3,\n    \"name\": \"Default\",\n    \"slug\": \"default\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 4,\n    \"name\": \"Managers\",\n    \"slug\": \"managers\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 5,\n    \"name\": \"Organization 1\",\n    \"slug\": \"organization_b\",\n    \"accountManagerId\": 1,\n    \"csSpecialistId\": 2,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 6,\n    \"name\": \"Organization 2\",\n    \"slug\": \"organization_c\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"ads\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 7,\n    \"name\": \"Organization 3\",\n    \"slug\": \"organization_d\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"trial\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"74e73e7bf7620c87b7e673af70baa1fb\"","X-Request-Id":"42077289-bebd-41f1-828b-811aed4c544d","X-Runtime":"0.121092","Content-Length":"3880"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 1yDslJPlzrkcnKN_o9cuxaIYEHMW3tR-oyIurJKJ1K4\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"Filter orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer kOgBL0QrwUjMGCHQmmaQBCXr6xmkHGTzGvvC99OtSq0","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"status":["active","trial"],"org_type":"platform"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 8,\n    \"name\": \"Organization 4\",\n    \"slug\": \"organization_e\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 10,\n    \"name\": \"Organization 6\",\n    \"slug\": \"organization_g\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"trial\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"2682b78bfeb17e80b8640cae322434f1\"","X-Request-Id":"7867350a-2bf6-4582-a840-b71ca9033591","X-Runtime":"0.015303","Content-Length":"1183"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer kOgBL0QrwUjMGCHQmmaQBCXr6xmkHGTzGvvC99OtSq0\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer MJeydcFRT9x4SsYUsgBPXa1r1Mxm3h_Iq9FWmB4Drq4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 11,\n    \"name\": \"Organization 7\",\n    \"slug\": \"organization_h\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-07\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-06\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"9f2d9ba0bf1356c1edc9eb15df18b528\"","X-Request-Id":"e060652d-6607-433e-b805-f2a88543f09b","X-Runtime":"0.015294","Content-Length":"616"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer MJeydcFRT9x4SsYUsgBPXa1r1Mxm3h_Iq9FWmB4Drq4\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object9"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object13","in":"body","schema":{"$ref":"#/definitions/Object13"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object14","in":"body","schema":{"$ref":"#/definitions/Object14"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/dependencies":{"get":{"summary":"List dependent objects for this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"query","required":false,"description":"ID of target user","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object15"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/transfer":{"put":{"summary":"Transfer ownership of this object to another user","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/":{"get":{"summary":"List Aliases","description":null,"deprecated":false,"parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: cass_ncoa, container_script, geocode, identity_resolution, dbt_script, python_script, r_script, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object19"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create an Alias","description":null,"deprecated":false,"parameters":[{"name":"Object20","in":"body","schema":{"$ref":"#/definitions/Object20"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"put":{"summary":"Replace all attributes of this Alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object21","in":"body","schema":{"$ref":"#/definitions/Object21"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update some attributes of this Alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object22","in":"body","schema":{"$ref":"#/definitions/Object22"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Delete an alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","description":null,"deprecated":false,"parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: cass_ncoa, container_script, geocode, identity_resolution, dbt_script, python_script, r_script, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/announcements/":{"get":{"summary":"List announcements","description":null,"deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Announcements","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer qEkd3_1rezHTtG68ijdjx5x1ac1ID8o0CPwC9Sm3g6g","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 44,\n    \"subject\": \"Important message 44\",\n    \"body\": \"The square root of 44 is 6.63.\",\n    \"releasedAt\": \"2023-07-18T17:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T17:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T17:39:24.000Z\"\n  },\n  {\n    \"id\": 45,\n    \"subject\": \"Important message 45\",\n    \"body\": \"The square root of 45 is 6.71.\",\n    \"releasedAt\": \"2023-07-18T16:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T16:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T16:39:24.000Z\"\n  },\n  {\n    \"id\": 46,\n    \"subject\": \"Important message 46\",\n    \"body\": \"The square root of 46 is 6.78.\",\n    \"releasedAt\": \"2023-07-18T15:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T15:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T15:39:24.000Z\"\n  },\n  {\n    \"id\": 47,\n    \"subject\": \"Important message 47\",\n    \"body\": \"The square root of 47 is 6.86.\",\n    \"releasedAt\": \"2023-07-18T14:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T14:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T14:39:24.000Z\"\n  },\n  {\n    \"id\": 48,\n    \"subject\": \"Important message 48\",\n    \"body\": \"The square root of 48 is 6.93.\",\n    \"releasedAt\": \"2023-07-18T13:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T13:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T13:39:24.000Z\"\n  },\n  {\n    \"id\": 49,\n    \"subject\": \"Important message 49\",\n    \"body\": \"The square root of 49 is 7.0.\",\n    \"releasedAt\": \"2023-07-18T12:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T12:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T12:39:24.000Z\"\n  },\n  {\n    \"id\": 50,\n    \"subject\": \"Important message 50\",\n    \"body\": \"The square root of 50 is 7.07.\",\n    \"releasedAt\": \"2023-07-18T11:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T11:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T11:39:24.000Z\"\n  },\n  {\n    \"id\": 51,\n    \"subject\": \"Important message 51\",\n    \"body\": \"The square root of 51 is 7.14.\",\n    \"releasedAt\": \"2023-07-18T10:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T10:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T10:39:24.000Z\"\n  },\n  {\n    \"id\": 52,\n    \"subject\": \"Important message 52\",\n    \"body\": \"The square root of 52 is 7.21.\",\n    \"releasedAt\": \"2023-07-18T09:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T09:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T09:39:24.000Z\"\n  },\n  {\n    \"id\": 53,\n    \"subject\": \"Important message 53\",\n    \"body\": \"The square root of 53 is 7.28.\",\n    \"releasedAt\": \"2023-07-18T08:44:24.000Z\",\n    \"createdAt\": \"2023-07-18T08:39:24.000Z\",\n    \"updatedAt\": \"2023-07-18T08:39:24.000Z\"\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2023-07-18T18:39:24.900Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","ETag":"W/\"9d41de72d1d0ee40af9342bf952fd109\"","X-Request-Id":"a273f2b0-7622-4a3d-a9cb-764b1972eb9c","X-Runtime":"0.014117","Content-Length":"2010"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer qEkd3_1rezHTtG68ijdjx5x1ac1ID8o0CPwC9Sm3g6g\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","description":null,"deprecated":false,"parameters":[{"name":"organization_id","in":"query","required":false,"description":"The ID of this cluster's organization. Cannot be used along with the organization slug.","type":"integer"},{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization. Cannot be used along with the organization ID.","type":"string"},{"name":"raw_cluster_slug","in":"query","required":false,"description":"The slug of this cluster's raw configuration.","type":"string"},{"name":"exclude_inactive_orgs","in":"query","required":false,"description":"When true, excludes KubeClusters associated with inactive orgs. Defaults to false.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object24"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer ptvfOrFCJa7cPFPM8LuTCRozbvumlXR_xhAJ9q7ibF8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"organizationId\": 1,\n    \"organizationName\": \"Civis Analytics\",\n    \"organizationSlug\": \"civis\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 1,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 1,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 1\n      },\n      {\n        \"clusterPartitionId\": 2,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 2,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 2\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 2,\n    \"organizationId\": 2,\n    \"organizationName\": \"civismatching\",\n    \"organizationSlug\": \"platform-matching\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 3,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 3,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 3\n      },\n      {\n        \"clusterPartitionId\": 4,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 4,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 4\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 3,\n    \"organizationId\": 3,\n    \"organizationName\": \"Demo\",\n    \"organizationSlug\": \"demo\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 5,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 5,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 5\n      },\n      {\n        \"clusterPartitionId\": 6,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 6,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 6\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 4,\n    \"organizationId\": 4,\n    \"organizationName\": \"Default\",\n    \"organizationSlug\": \"default\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 7,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 7,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 7\n      },\n      {\n        \"clusterPartitionId\": 8,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 8,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 8\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 5,\n    \"organizationId\": 5,\n    \"organizationName\": \"Managers\",\n    \"organizationSlug\": \"managers\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 9,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 9,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 9\n      },\n      {\n        \"clusterPartitionId\": 10,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 10,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 10\n      }\n    ],\n    \"isNatEnabled\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","ETag":"W/\"e32c92283e181147f0b84580f272be4c\"","X-Request-Id":"453aed21-47f4-473c-91e7-a1526b2cdce2","X-Runtime":"0.375652","Content-Length":"5582"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ptvfOrFCJa7cPFPM8LuTCRozbvumlXR_xhAJ9q7ibF8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/6","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer 5ILP3eniJlf4tBuecCYapSz-lsaOQUphztfP6e1c6Tc","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"id\": 6,\n  \"organizationId\": 6,\n  \"organizationName\": \"Organization 1\",\n  \"organizationSlug\": \"organization_b\",\n  \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 11,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 11,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 11\n    },\n    {\n      \"clusterPartitionId\": 12,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 12,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 12\n    }\n  ],\n  \"isNatEnabled\": false,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"b4d9fbe249a34a7e1d776c0d607b6632\"","X-Request-Id":"47935462-f2d5-4f9f-a5dd-57427468049e","X-Runtime":"0.092830","Content-Length":"1144"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/6\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 5ILP3eniJlf4tBuecCYapSz-lsaOQUphztfP6e1c6Tc\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/compute_hours":{"get":{"summary":"List compute hours for a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object30"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object32"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object34"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object25"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/15/partitions","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer CHEy7z6DAOo-frp4PdftAiZ3lcDid1AypSVvJonFit4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"clusterPartitionId\": 29,\n    \"name\": \"jobs\",\n    \"labels\": [\n      \"Job\"\n    ],\n    \"instanceConfigs\": [\n      {\n        \"instanceConfigId\": 29,\n        \"instanceType\": \"m4.xlarge\",\n        \"minInstances\": 1,\n        \"maxInstances\": 8,\n        \"instanceMaxMemory\": 15320,\n        \"instanceMaxCpu\": 4096,\n        \"instanceMaxDisk\": 90.0,\n        \"usageStats\": {\n          \"pendingMemoryRequested\": null,\n          \"pendingCpuRequested\": null,\n          \"runningMemoryRequested\": null,\n          \"runningCpuRequested\": null,\n          \"pendingDeployments\": null,\n          \"runningDeployments\": null\n        }\n      }\n    ],\n    \"defaultInstanceConfigId\": 29\n  },\n  {\n    \"clusterPartitionId\": 30,\n    \"name\": \"notebook_services\",\n    \"labels\": [\n      \"Notebook\",\n      \"Service\"\n    ],\n    \"instanceConfigs\": [\n      {\n        \"instanceConfigId\": 30,\n        \"instanceType\": \"m4.xlarge\",\n        \"minInstances\": 0,\n        \"maxInstances\": 2,\n        \"instanceMaxMemory\": 15320,\n        \"instanceMaxCpu\": 4096,\n        \"instanceMaxDisk\": 90.0,\n        \"usageStats\": {\n          \"pendingMemoryRequested\": null,\n          \"pendingCpuRequested\": null,\n          \"runningMemoryRequested\": null,\n          \"runningCpuRequested\": null,\n          \"pendingDeployments\": null,\n          \"runningDeployments\": null\n        }\n      }\n    ],\n    \"defaultInstanceConfigId\": 30\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"7d16f446fd1627e6cd3e86aa2b96185b\"","X-Request-Id":"b8ebed36-a4ab-4c3a-a7d1-d7463dfec1b4","X-Runtime":"0.033333","Content-Length":"915"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/15/partitions\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer CHEy7z6DAOo-frp4PdftAiZ3lcDid1AypSVvJonFit4\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Cluster Partition for given cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object35","in":"body","schema":{"$ref":"#/definitions/Object35"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object25"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/17/partitions","request_body":"{\n  \"name\": \"test\",\n  \"labels\": [\n    \"testlabel\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer L4LUVs1ETAg53QroJuBeg6FZr-NhuqQ_9Ij3v-VYfqo","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 35,\n  \"name\": \"test\",\n  \"labels\": [\n    \"testlabel\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 35,\n      \"instanceType\": \"m4.2xlarge\",\n      \"minInstances\": 0,\n      \"maxInstances\": 1,\n      \"instanceMaxMemory\": 31641,\n      \"instanceMaxCpu\": 8192,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 35\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"6ea66d1269069c4b494c90928c467f29\"","X-Request-Id":"6c80e5b7-f086-4d6e-9fe3-07da5311ffa2","X-Runtime":"0.041528","Content-Length":"449"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/17/partitions\" -d '{\"name\":\"test\",\"labels\":[\"testlabel\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer L4LUVs1ETAg53QroJuBeg6FZr-NhuqQ_9Ij3v-VYfqo\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object37","in":"body","schema":{"$ref":"#/definitions/Object37"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object25"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/19/partitions/38","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer Sj1gSBcBNYOKVyaSwcumE4Q3qt3rlONSZ520J8jW2jA","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 38,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 38,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 1,\n      \"maxInstances\": 8,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 38\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"4bcc6936359fddc61ea40fc591f25287\"","X-Request-Id":"4b2d9420-036b-49ea-9bb3-eff93828738e","X-Runtime":"0.044679","Content-Length":"450"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/19/partitions/38\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer Sj1gSBcBNYOKVyaSwcumE4Q3qt3rlONSZ520J8jW2jA\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/20/partitions/40","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer JUoXxLH15r24f490wkYwi89joUVNmDn6o4liKjWy1NI","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 40,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"Job\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 42,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 3,\n      \"maxInstances\": 5,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 42\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"5ddd1dfd427ba88d5f1145de0416b1e9\"","X-Request-Id":"5594b97b-e7b8-4fd5-beb1-023b7f176c17","X-Runtime":"0.069852","Content-Length":"442"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/20/partitions/40\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer JUoXxLH15r24f490wkYwi89joUVNmDn6o4liKjWy1NI\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete a Cluster Partition","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/18/partitions/36","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer CB-Osin1ZuDPXSZ6hMYgI4E4mUr5d8XXu6J2KWgP0iI","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","X-Request-Id":"917096a3-eff4-4e2a-864d-332eb823c334","X-Runtime":"0.036135"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/18/partitions/36\" -d '' -X DELETE \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer CB-Osin1ZuDPXSZ6hMYgI4E4mUr5d8XXu6J2KWgP0iI\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"get":{"summary":"Describe a Cluster Partition","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object25"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/16/partitions/31","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer TmN-D3hOGZGnpnRD1opnaJ35oDNEdn5xvoB1o4Kie7U","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 31,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"Job\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 31,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 1,\n      \"maxInstances\": 8,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 31\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"dbd7647ea74d99f82f21ce96bca09592\"","X-Request-Id":"99626eec-a228-49e7-836c-9e6dd34a4f8e","X-Runtime":"0.053675","Content-Length":"442"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/16/partitions/31\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer TmN-D3hOGZGnpnRD1opnaJ35oDNEdn5xvoB1o4Kie7U\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}":{"get":{"summary":"Describe an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id","description":"View an instance config's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/19","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer q_2EsiNuRoBI24scnvupvVfhNIxz21biU49Zgk5u_nk","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"instanceConfigId\": 19,\n  \"instanceType\": \"m4.xlarge\",\n  \"minInstances\": 1,\n  \"maxInstances\": 8,\n  \"instanceMaxMemory\": 15320,\n  \"instanceMaxCpu\": 4096,\n  \"instanceMaxDisk\": 90.0,\n  \"usageStats\": {\n    \"pendingMemoryRequested\": null,\n    \"pendingCpuRequested\": null,\n    \"runningMemoryRequested\": null,\n    \"runningCpuRequested\": null,\n    \"pendingDeployments\": null,\n    \"runningDeployments\": null\n  },\n  \"clusterPartitionId\": 19,\n  \"clusterPartitionName\": \"jobs\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"d82509e71e535bc0a899995c30dc3ede\"","X-Request-Id":"a7961b52-57d2-4b66-af82-d45b220e6ab8","X-Runtime":"0.064227","Content-Length":"390"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/19\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer q_2EsiNuRoBI24scnvupvVfhNIxz21biU49Zgk5u_nk\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{id}/active_workloads":{"get":{"summary":"List active workloads in an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the instance config.","type":"integer"},{"name":"state","in":"query","required":false,"description":"If specified, return workloads in these states. It accepts a comma-separated list, possible values are pending, running","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object40"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:id/active_workloads","description":"List active workloads in an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/27/active_workloads","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer YQMB80V4r6QPlvh47MjTvBQnaKcIMiLmD9Y5ol9YtkE","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 2,\n    \"baseType\": \"Run\",\n    \"baseId\": 2,\n    \"baseObjectName\": \"My python script\",\n    \"jobType\": \"python_script\",\n    \"jobId\": 4,\n    \"jobCancelRequestedAt\": null,\n    \"state\": \"running\",\n    \"cpu\": 500,\n    \"memory\": 2008,\n    \"diskSpace\": 1.0,\n    \"user\": {\n      \"id\": 16,\n      \"name\": \"Example User\",\n      \"username\": \"devuserfactory2\",\n      \"initials\": \"EU\",\n      \"online\": null\n    },\n    \"createdAt\": \"2024-11-25T20:54:10.000Z\",\n    \"cancellable\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"b627ef08b911efccc3be2213347f452a\"","X-Request-Id":"cda258f4-5bfa-4640-98ed-a21e6754fc7c","X-Runtime":"0.068518","Content-Length":"353"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/27/active_workloads\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer YQMB80V4r6QPlvh47MjTvBQnaKcIMiLmD9Y5ol9YtkE\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/user_statistics":{"get":{"summary":"Get statistics about the current users of an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to running_deployments. Must be one of pending_memory_requested, pending_cpu_requested, running_memory_requested, running_cpu_requested, pending_deployments, running_deployments.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending). Defaults to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object41"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id/user_statistics","description":"List user statistics for an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/21/user_statistics","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer Nt7S7eb3NOpS434EgDIz-JQ6Lx4hw0RvV_xFgs2_jU8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"userId\": 12,\n    \"userName\": \"Example User\",\n    \"pendingDeployments\": 0,\n    \"pendingMemoryRequested\": 0,\n    \"pendingCpuRequested\": 0,\n    \"runningDeployments\": 1,\n    \"runningMemoryRequested\": 2008,\n    \"runningCpuRequested\": 500\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"e2ecfd5dd9aec9f9c8df865b57ef5223\"","X-Request-Id":"9788a7e8-fb02-4c9d-a1f2-7fb220e8edd9","X-Runtime":"0.041855","Content-Length":"194"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/21/user_statistics\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer Nt7S7eb3NOpS434EgDIz-JQ6Lx4hw0RvV_xFgs2_jU8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/historical_graphs":{"get":{"summary":"Get graphs of historical resource usage in an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"timeframe","in":"query","required":false,"description":"The span of time that the graphs cover. Must be one of 1_day, 1_week.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object42"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id/historical_graphs","description":"View historical resource usage graphs for an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/23/historical_graphs?timeframe=1_week","request_body":null,"request_headers":{"Version":"HTTP/1.0","Content-Type":"application/json","Authorization":"Bearer 4ZmNJzRvkwKI_HJDwhrBDCPkZhgDYbuRsb-rw6RL3Fg","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"timeframe":"1_week"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"cpuGraphUrl\": \"https://app.datadoghq.com/graph/embed?token=cputoken&height=275&width=800&legend=false\",\n  \"memGraphUrl\": \"https://app.datadoghq.com/graph/embed?token=memtoken&height=275&width=800&legend=false\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"private, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"a3c67938cb6d89c42d317be9182e3ef0\"","X-Request-Id":"88ba5160-b93f-423e-b844-e3d1f7bed6e7","X-Runtime":"0.044650","Content-Length":"237"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/23/historical_graphs?timeframe=1_week\" -X GET \\\n\t-H \"Version: HTTP/1.0\" \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4ZmNJzRvkwKI_HJDwhrBDCPkZhgDYbuRsb-rw6RL3Fg\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/credentials/types":{"get":{"summary":"Get list of Credential Types","description":null,"deprecated":false,"parameters":[],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object45"}}},"x-examples":null,"x-deprecation-warning":null}},"/credentials/":{"get":{"summary":"List credentials","description":null,"deprecated":false,"parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"system_credentials","in":"query","required":false,"description":"If true, will only return system credentials. System credentials can only be created and viewed by Civis Admins.","type":"boolean"},{"name":"users","in":"query","required":false,"description":"A comma-separated list of user ids. If specified, returns set of credentials owned by the users that requesting user has at least read access on.","type":"string"},{"name":"name","in":"query","required":false,"description":"If specified, will be used to filter the credentials returned. Will search across name and will return any full name containing the search string.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object46"}}}},"x-examples":[{"resource":"Credentials","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"systemCredentials","description":"If true, will only return system credentials. System credentials can only be created and viewed by Civis Admins."},{"required":false,"name":"users","description":"A comma-separated list of user ids. If specified, returns set of credentials owned by the users that requesting user has at least read access on."},{"required":false,"name":"name","description":"If specified, will be used to filter the credentials returned. Will search across name and will return any full name containing the search string."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer lWRcdYuWQC71P1UU-3Xp0FtBO3m3r4ABIoZgMLNG_QA","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 10,\n    \"name\": \"db_user-1\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-1\",\n    \"description\": null,\n    \"owner\": \"devuserfactory10\",\n    \"user\": {\n      \"id\": 34,\n      \"name\": \"User devuserfactory10 8\",\n      \"username\": \"devuserfactory10\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 12,\n    \"remoteHostName\": \"redshift-10000\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:38:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 12,\n    \"name\": \"db_user-2\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-2\",\n    \"description\": null,\n    \"owner\": \"devuserfactory10\",\n    \"user\": {\n      \"id\": 34,\n      \"name\": \"User devuserfactory10 8\",\n      \"username\": \"devuserfactory10\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 13,\n    \"remoteHostName\": \"redshift-10001\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:37:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 13,\n    \"name\": \"salesforce-user-key-1\",\n    \"type\": \"Salesforce User\",\n    \"username\": \"skomanduri@civisanalytics.com\",\n    \"description\": null,\n    \"owner\": \"devuserfactory10\",\n    \"user\": {\n      \"id\": 34,\n      \"name\": \"User devuserfactory10 8\",\n      \"username\": \"devuserfactory10\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": null,\n    \"remoteHostName\": null,\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:36:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 14,\n    \"name\": \"Rentrak\",\n    \"type\": \"Amazon Web Services S3\",\n    \"username\": \"b1a44ca7-2c68-4a69-9986-cad248264f35\",\n    \"description\": null,\n    \"owner\": \"devuserfactory10\",\n    \"user\": {\n      \"id\": 34,\n      \"name\": \"User devuserfactory10 8\",\n      \"username\": \"devuserfactory10\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": null,\n    \"remoteHostName\": null,\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:34:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"4","Content-Type":"application/json; charset=utf-8","ETag":"W/\"f5942b4f55bf56bd4d9c3c528db50a41\"","X-Request-Id":"48ca0a58-455b-4492-bd11-97c6db7690d3","X-Runtime":"0.033309","Content-Length":"1655"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer lWRcdYuWQC71P1UU-3Xp0FtBO3m3r4ABIoZgMLNG_QA\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"systemCredentials","description":"If true, will only return system credentials. System credentials can only be created and viewed by Civis Admins."},{"required":false,"name":"users","description":"A comma-separated list of user ids. If specified, returns set of credentials owned by the users that requesting user has at least read access on."},{"required":false,"name":"name","description":"If specified, will be used to filter the credentials returned. Will search across name and will return any full name containing the search string."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer -jElCftQeUXoOmEPiZfC3Nt_rRg_JOJFj_8GGKq6Yak","Accept":"application/vnd.civis-platform.v2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 16,\n    \"name\": \"db_user-3\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-3\",\n    \"description\": null,\n    \"owner\": \"devuserfactory11\",\n    \"user\": {\n      \"id\": 37,\n      \"name\": \"User devuserfactory11 9\",\n      \"username\": \"devuserfactory11\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 15,\n    \"remoteHostName\": \"redshift-10002\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:38:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 18,\n    \"name\": \"db_user-4\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-4\",\n    \"description\": null,\n    \"owner\": \"devuserfactory11\",\n    \"user\": {\n      \"id\": 37,\n      \"name\": \"User devuserfactory11 9\",\n      \"username\": \"devuserfactory11\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 16,\n    \"remoteHostName\": \"redshift-10003\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:37:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 19,\n    \"name\": \"salesforce-user-key-2\",\n    \"type\": \"Salesforce User\",\n    \"username\": \"skomanduri@civisanalytics.com\",\n    \"description\": null,\n    \"owner\": \"devuserfactory11\",\n    \"user\": {\n      \"id\": 37,\n      \"name\": \"User devuserfactory11 9\",\n      \"username\": \"devuserfactory11\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": null,\n    \"remoteHostName\": null,\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:36:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 20,\n    \"name\": \"Rentrak\",\n    \"type\": \"Amazon Web Services S3\",\n    \"username\": \"b1a44ca7-2c68-4a69-9986-cad248264f35\",\n    \"description\": null,\n    \"owner\": \"devuserfactory11\",\n    \"user\": {\n      \"id\": 37,\n      \"name\": \"User devuserfactory11 9\",\n      \"username\": \"devuserfactory11\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": null,\n    \"remoteHostName\": null,\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:34:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"4","Content-Type":"application/json; charset=utf-8","ETag":"W/\"efe5254b2f627e525b81252c184fbdd3\"","X-Request-Id":"c75a2cf7-260d-4d8f-a30c-0c803a56c9f1","X-Runtime":"0.021882","Content-Length":"1655"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer -jElCftQeUXoOmEPiZfC3Nt_rRg_JOJFj_8GGKq6Yak\" \\\n\t-H \"Accept: application/vnd.civis-platform.v2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/credentials?type=Database","description":"List all credentials of the specified type","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"systemCredentials","description":"If true, will only return system credentials. System credentials can only be created and viewed by Civis Admins."},{"required":false,"name":"users","description":"A comma-separated list of user ids. If specified, returns set of credentials owned by the users that requesting user has at least read access on."},{"required":false,"name":"name","description":"If specified, will be used to filter the credentials returned. Will search across name and will return any full name containing the search string."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer kCJTtAHf9tOeeRMJx-OKl_gsiDq1xLEM2ZlfJHvc3Zw","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 22,\n    \"name\": \"db_user-5\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-5\",\n    \"description\": null,\n    \"owner\": \"devuserfactory12\",\n    \"user\": {\n      \"id\": 40,\n      \"name\": \"User devuserfactory12 10\",\n      \"username\": \"devuserfactory12\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 18,\n    \"remoteHostName\": \"redshift-10004\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:38:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 24,\n    \"name\": \"db_user-6\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-6\",\n    \"description\": null,\n    \"owner\": \"devuserfactory12\",\n    \"user\": {\n      \"id\": 40,\n      \"name\": \"User devuserfactory12 10\",\n      \"username\": \"devuserfactory12\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 19,\n    \"remoteHostName\": \"redshift-10005\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:28.000Z\",\n    \"updatedAt\": \"2023-07-18T18:37:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"2","Content-Type":"application/json; charset=utf-8","ETag":"W/\"b0ed064374bcb6f1b44ef1d6956a6370\"","X-Request-Id":"079e5424-f525-4281-846e-28f0c47c5ade","X-Runtime":"0.020379","Content-Length":"801"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/credentials?type=Database\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer kCJTtAHf9tOeeRMJx-OKl_gsiDq1xLEM2ZlfJHvc3Zw\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/credentials?type=Database,Salesforce User","description":"List all credentials of multiple types","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"systemCredentials","description":"If true, will only return system credentials. System credentials can only be created and viewed by Civis Admins."},{"required":false,"name":"users","description":"A comma-separated list of user ids. If specified, returns set of credentials owned by the users that requesting user has at least read access on."},{"required":false,"name":"name","description":"If specified, will be used to filter the credentials returned. Will search across name and will return any full name containing the search string."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database,Salesforce User","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer ewWXjWGfSIPFHnCkQIpZtpLesBPDFuE4KDus749ubCM","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database,Salesforce User"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 28,\n    \"name\": \"db_user-7\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-7\",\n    \"description\": null,\n    \"owner\": \"devuserfactory13\",\n    \"user\": {\n      \"id\": 43,\n      \"name\": \"User devuserfactory13 11\",\n      \"username\": \"devuserfactory13\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 21,\n    \"remoteHostName\": \"redshift-10006\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:29.000Z\",\n    \"updatedAt\": \"2023-07-18T18:38:28.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 30,\n    \"name\": \"db_user-8\",\n    \"type\": \"Database\",\n    \"username\": \"db_user-8\",\n    \"description\": null,\n    \"owner\": \"devuserfactory13\",\n    \"user\": {\n      \"id\": 43,\n      \"name\": \"User devuserfactory13 11\",\n      \"username\": \"devuserfactory13\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": 22,\n    \"remoteHostName\": \"redshift-10007\",\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:29.000Z\",\n    \"updatedAt\": \"2023-07-18T18:37:29.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  },\n  {\n    \"id\": 31,\n    \"name\": \"salesforce-user-key-4\",\n    \"type\": \"Salesforce User\",\n    \"username\": \"skomanduri@civisanalytics.com\",\n    \"description\": null,\n    \"owner\": \"devuserfactory13\",\n    \"user\": {\n      \"id\": 43,\n      \"name\": \"User devuserfactory13 11\",\n      \"username\": \"devuserfactory13\",\n      \"initials\": \"UD\",\n      \"online\": null\n    },\n    \"remoteHostId\": null,\n    \"remoteHostName\": null,\n    \"state\": null,\n    \"createdAt\": \"2023-07-18T18:39:29.000Z\",\n    \"updatedAt\": \"2023-07-18T18:36:29.000Z\",\n    \"default\": false,\n    \"oauth\": false\n  }\n]","response_headers":{"X-Frame-Options":
[...]
