{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/admin/announcements":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/announcements","description":"List first 10 announcements (inluding unreleased)","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer pJhpo04IeC-edp6ikW9bQfjM2w5aNVwsHETopBITlAg","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"subject\": \"Important message 1\",\n    \"body\": \"The square root of 1 is 1.0.\",\n    \"releasedAt\": \"2021-12-01T18:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T18:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T18:10:57.000Z\"\n  },\n  {\n    \"id\": 2,\n    \"subject\": \"Important message 2\",\n    \"body\": \"The square root of 2 is 1.41.\",\n    \"releasedAt\": \"2021-12-01T17:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T17:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T17:10:57.000Z\"\n  },\n  {\n    \"id\": 3,\n    \"subject\": \"Important message 3\",\n    \"body\": \"The square root of 3 is 1.73.\",\n    \"releasedAt\": \"2021-12-01T16:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T16:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T16:10:57.000Z\"\n  },\n  {\n    \"id\": 4,\n    \"subject\": \"Important message 4\",\n    \"body\": \"The square root of 4 is 2.0.\",\n    \"releasedAt\": \"2021-12-01T15:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T15:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T15:10:57.000Z\"\n  },\n  {\n    \"id\": 5,\n    \"subject\": \"Important message 5\",\n    \"body\": \"The square root of 5 is 2.24.\",\n    \"releasedAt\": \"2021-12-01T14:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T14:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T14:10:57.000Z\"\n  },\n  {\n    \"id\": 6,\n    \"subject\": \"Important message 6\",\n    \"body\": \"The square root of 6 is 2.45.\",\n    \"releasedAt\": \"2021-12-01T13:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T13:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T13:10:57.000Z\"\n  },\n  {\n    \"id\": 7,\n    \"subject\": \"Important message 7\",\n    \"body\": \"The square root of 7 is 2.65.\",\n    \"releasedAt\": \"2021-12-01T12:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T12:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T12:10:57.000Z\"\n  },\n  {\n    \"id\": 8,\n    \"subject\": \"Important message 8\",\n    \"body\": \"The square root of 8 is 2.83.\",\n    \"releasedAt\": \"2021-12-01T11:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T11:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T11:10:57.000Z\"\n  },\n  {\n    \"id\": 9,\n    \"subject\": \"Important message 9\",\n    \"body\": \"The square root of 9 is 3.0.\",\n    \"releasedAt\": \"2021-12-01T10:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T10:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T10:10:57.000Z\"\n  },\n  {\n    \"id\": 10,\n    \"subject\": \"Important message 10\",\n    \"body\": \"The square root of 10 is 3.16.\",\n    \"releasedAt\": \"2021-12-01T09:15:57.000Z\",\n    \"createdAt\": \"2021-12-01T09:10:57.000Z\",\n    \"updatedAt\": \"2021-12-01T09:10:57.000Z\"\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"10","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"4","X-Pagination-Total-Entries":"40","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"f9231848-6744-4e81-ae38-c57f41288d95","X-Runtime":"0.385620","Content-Length":"1981"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer pJhpo04IeC-edp6ikW9bQfjM2w5aNVwsHETopBITlAg\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Post an announcement","deprecated":false,"parameters":[{"name":"Object1","in":"body","schema":{"$ref":"#/definitions/Object1"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/admin/announcements","description":"Announcement creation","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/admin/announcements","request_body":"{\n  \"subject\": \"Important message 41\",\n  \"body\": \"The square root of 41 is 6.4.\",\n  \"released_at\": null\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer o6jSZNdNzYlocBRKN0Qz4_fQ4rRoU7nefqk9PyeSDw8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\n  \"id\": 41,\n  \"subject\": \"Important message 41\",\n  \"body\": \"The square root of 41 is 6.4.\",\n  \"releasedAt\": null,\n  \"createdAt\": \"2021-12-01T19:10:59.000Z\",\n  \"updatedAt\": \"2021-12-01T19:10:59.000Z\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"50d5c268-85c3-48fe-a07b-052db88197cb","X-Runtime":"0.034971","Content-Length":"177"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -d '{\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"released_at\":null}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer o6jSZNdNzYlocBRKN0Qz4_fQ4rRoU7nefqk9PyeSDw8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/announcements/{id}":{"get":{"summary":"Get a particular announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Edit an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"},{"name":"Object2","in":"body","schema":{"$ref":"#/definitions/Object2"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement update","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/admin/announcements/42","request_body":"{\n  \"subject\": \"Friendship\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 7FKFCzCZ6iCRLQRtRv2WZWZbAbbuTSFgF7bJZvyOoiw","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"id\": 42,\n  \"subject\": \"Friendship\",\n  \"body\": \"The square root of 42 is 6.48.\",\n  \"releasedAt\": null,\n  \"createdAt\": \"2021-12-01T19:10:59.000Z\",\n  \"updatedAt\": \"2021-12-01T19:10:59.000Z\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"6803d1e4-980d-4d85-927b-cfd1793e89f9","X-Runtime":"0.031565","Content-Length":"168"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/42\" -d '{\"subject\":\"Friendship\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 7FKFCzCZ6iCRLQRtRv2WZWZbAbbuTSFgF7bJZvyOoiw\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"DELETE","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement deletion","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/admin/announcements/43","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer nfgv5MuI5vBSjqNiN0Uj3XnY3Vi3euUFLTXZdKfMWPI","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"d64e3f23-26dc-4f01-8f23-c90c93dbfd71","X-Runtime":"0.035166"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/43\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer nfgv5MuI5vBSjqNiN0Uj3XnY3Vi3euUFLTXZdKfMWPI\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/themes":{"post":{"summary":"Create a theme","deprecated":false,"parameters":[{"name":"Object3","in":"body","schema":{"$ref":"#/definitions/Object3"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/themes/{id}":{"patch":{"summary":"Edit a theme","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this theme.","type":"integer"},{"name":"Object6","in":"body","schema":{"$ref":"#/definitions/Object6"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/organizations":{"get":{"summary":"List organizations","deprecated":false,"parameters":[{"name":"status","in":"query","required":false,"description":"The status of the organization (active/trial/inactive).","type":"array","items":{"type":"string"}},{"name":"org_type","in":"query","required":false,"description":"The organization type (platform/ads/survey_vendor/other).","type":"array","items":{"type":"string"}}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object7"}}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List all orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 0nVBIhpkyshk8Q1tgJBFiQQZONWKoFWR7Ubc7Podcog","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"name\": \"Civis Analytics\",\n    \"slug\": \"civis\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": true,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 2,\n    \"name\": \"Default\",\n    \"slug\": \"default\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 3,\n    \"name\": \"Default Fedramp Org\",\n    \"slug\": \"fedramp\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": true,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 4,\n    \"name\": \"Demo\",\n    \"slug\": \"demo\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 5,\n    \"name\": \"Managers\",\n    \"slug\": \"managers\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 6,\n    \"name\": \"Organization 1\",\n    \"slug\": \"organization_b\",\n    \"accountManagerId\": 1,\n    \"csSpecialistId\": 2,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 7,\n    \"name\": \"Organization 2\",\n    \"slug\": \"organization_c\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"ads\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 8,\n    \"name\": \"Organization 3\",\n    \"slug\": \"organization_d\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"trial\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"4538203a-b410-489c-bffb-4ff96e80bedc","X-Runtime":"0.067612","Content-Length":"4426"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 0nVBIhpkyshk8Q1tgJBFiQQZONWKoFWR7Ubc7Podcog\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"Filter orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer o048rZ9FMUGuAtTUUQ9bHkwPEp88fW62dI4xqu3MULI","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"status":["active","trial"],"org_type":"platform"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 9,\n    \"name\": \"Organization 4\",\n    \"slug\": \"organization_e\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 11,\n    \"name\": \"Organization 6\",\n    \"slug\": \"organization_g\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"trial\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"222629e2-c728-4fd0-9626-0511a2b7ae80","X-Runtime":"0.036047","Content-Length":"1183"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer o048rZ9FMUGuAtTUUQ9bHkwPEp88fW62dI4xqu3MULI\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer JxDwUTHyvP6HZO71ghF4Nuw0mqIo4kj6eR6JY3v_mPc","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 12,\n    \"name\": \"Organization 7\",\n    \"slug\": \"organization_h\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2021-12\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2021-11\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"aba24823-d2b8-4be2-9598-fb34718b3042","X-Runtime":"0.083606","Content-Length":"616"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer JxDwUTHyvP6HZO71ghF4Nuw0mqIo4kj6eR6JY3v_mPc\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object9"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object13","in":"body","schema":{"$ref":"#/definitions/Object13"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object14","in":"body","schema":{"$ref":"#/definitions/Object14"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/dependencies":{"get":{"summary":"List dependent objects for this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"query","required":false,"description":"ID of target user","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object15"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/transfer":{"put":{"summary":"Transfer ownership of this object to another user","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/":{"get":{"summary":"List Aliases","deprecated":false,"parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: cass_ncoa, container_script, geocode, python_script, r_script, salesforce_export, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object19"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create an Alias","deprecated":false,"parameters":[{"name":"Object20","in":"body","schema":{"$ref":"#/definitions/Object20"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"put":{"summary":"Replace all attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object21","in":"body","schema":{"$ref":"#/definitions/Object21"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update some attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object22","in":"body","schema":{"$ref":"#/definitions/Object22"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Delete an alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","deprecated":false,"parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: cass_ncoa, container_script, geocode, python_script, r_script, salesforce_export, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/announcements/":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Announcements","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer LJnPDEhsDsUSvFJLn-JyC5zVt5IPOBDiSHxpdDqsJQ0","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 44,\n    \"subject\": \"Important message 44\",\n    \"body\": \"The square root of 44 is 6.63.\",\n    \"releasedAt\": \"2021-12-01T18:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T18:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T18:11:00.000Z\"\n  },\n  {\n    \"id\": 45,\n    \"subject\": \"Important message 45\",\n    \"body\": \"The square root of 45 is 6.71.\",\n    \"releasedAt\": \"2021-12-01T17:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T17:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T17:11:00.000Z\"\n  },\n  {\n    \"id\": 46,\n    \"subject\": \"Important message 46\",\n    \"body\": \"The square root of 46 is 6.78.\",\n    \"releasedAt\": \"2021-12-01T16:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T16:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T16:11:00.000Z\"\n  },\n  {\n    \"id\": 47,\n    \"subject\": \"Important message 47\",\n    \"body\": \"The square root of 47 is 6.86.\",\n    \"releasedAt\": \"2021-12-01T15:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T15:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T15:11:00.000Z\"\n  },\n  {\n    \"id\": 48,\n    \"subject\": \"Important message 48\",\n    \"body\": \"The square root of 48 is 6.93.\",\n    \"releasedAt\": \"2021-12-01T14:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T14:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T14:11:00.000Z\"\n  },\n  {\n    \"id\": 49,\n    \"subject\": \"Important message 49\",\n    \"body\": \"The square root of 49 is 7.0.\",\n    \"releasedAt\": \"2021-12-01T13:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T13:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T13:11:00.000Z\"\n  },\n  {\n    \"id\": 50,\n    \"subject\": \"Important message 50\",\n    \"body\": \"The square root of 50 is 7.07.\",\n    \"releasedAt\": \"2021-12-01T12:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T12:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T12:11:00.000Z\"\n  },\n  {\n    \"id\": 51,\n    \"subject\": \"Important message 51\",\n    \"body\": \"The square root of 51 is 7.14.\",\n    \"releasedAt\": \"2021-12-01T11:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T11:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T11:11:00.000Z\"\n  },\n  {\n    \"id\": 52,\n    \"subject\": \"Important message 52\",\n    \"body\": \"The square root of 52 is 7.21.\",\n    \"releasedAt\": \"2021-12-01T10:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T10:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T10:11:00.000Z\"\n  },\n  {\n    \"id\": 53,\n    \"subject\": \"Important message 53\",\n    \"body\": \"The square root of 53 is 7.28.\",\n    \"releasedAt\": \"2021-12-01T09:16:00.000Z\",\n    \"createdAt\": \"2021-12-01T09:11:00.000Z\",\n    \"updatedAt\": \"2021-12-01T09:11:00.000Z\"\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2021-12-01T19:11:00.825Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"f78f9617-8728-428d-bdd7-2427d0078f9e","X-Runtime":"0.037339","Content-Length":"2010"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer LJnPDEhsDsUSvFJLn-JyC5zVt5IPOBDiSHxpdDqsJQ0\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","deprecated":false,"parameters":[{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization.","type":"string"},{"name":"raw_cluster_slug","in":"query","required":false,"description":"The slug of this cluster's raw configuration.","type":"string"},{"name":"exclude_inactive_orgs","in":"query","required":false,"description":"When true, excludes KubeClusters associated with inactive orgs. Defaults to false.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object23"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer pHPkdt2JPCc0hbKADhqg9_hpGJiNI2mhtjc9qpcWIbE","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"organizationId\": 1,\n    \"organizationName\": \"Civis Analytics\",\n    \"organizationSlug\": \"civis\",\n    \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 1,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 1,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 1\n      },\n      {\n        \"clusterPartitionId\": 2,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 2,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 2\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 2,\n    \"organizationId\": 2,\n    \"organizationName\": \"Default\",\n    \"organizationSlug\": \"default\",\n    \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 3,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 3,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 3\n      },\n      {\n        \"clusterPartitionId\": 4,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 4,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 4\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 3,\n    \"organizationId\": 3,\n    \"organizationName\": \"Default Fedramp Org\",\n    \"organizationSlug\": \"fedramp\",\n    \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 5,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 5,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 5\n      },\n      {\n        \"clusterPartitionId\": 6,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 6,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 6\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 4,\n    \"organizationId\": 4,\n    \"organizationName\": \"Demo\",\n    \"organizationSlug\": \"demo\",\n    \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 7,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 7,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 7\n      },\n      {\n        \"clusterPartitionId\": 8,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 8,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 8\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 5,\n    \"organizationId\": 5,\n    \"organizationName\": \"Managers\",\n    \"organizationSlug\": \"managers\",\n    \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 9,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 9,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 9\n      },\n      {\n        \"clusterPartitionId\": 10,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 10,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 10\n      }\n    ],\n    \"isNatEnabled\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"64d57931-fa36-4154-a55c-b3241395729f","X-Runtime":"0.078412","Content-Length":"5578"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer pHPkdt2JPCc0hbKADhqg9_hpGJiNI2mhtjc9qpcWIbE\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"Object27","in":"body","schema":{"$ref":"#/definitions/Object27"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object28"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization ID","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationId\": 16\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer J_bJw1UGKY3ikb7jLnD8nAcyXcIqG5f-aQXGHu5nnIQ","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\n  \"id\": 7,\n  \"organizationId\": 16,\n  \"organizationName\": \"Organization 11\",\n  \"organizationSlug\": \"organization_l\",\n  \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 13,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 13,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 13\n    },\n    {\n      \"clusterPartitionId\": 14,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 14,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 14\n    }\n  ],\n  \"isNatEnabled\": false,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"882b840f-3d81-4310-bdd3-204b8d91db05","X-Runtime":"0.084642","Content-Length":"1146"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationId\":16}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer J_bJw1UGKY3ikb7jLnD8nAcyXcIqG5f-aQXGHu5nnIQ\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization slug","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationSlug\": \"organization_m\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer ao9Ps1WvD1Zl-Q6b0QhXnoJIiinlO-so-qTmt1fBvsY","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\n  \"id\": 8,\n  \"organizationId\": 17,\n  \"organizationName\": \"Organization 12\",\n  \"organizationSlug\": \"organization_m\",\n  \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 15,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 15,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 15\n    },\n    {\n      \"clusterPartitionId\": 16,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 16,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 16\n    }\n  ],\n  \"isNatEnabled\": false,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"8081ebe8-94ed-473c-8071-c45d08c106fb","X-Runtime":"0.108241","Content-Length":"1146"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationSlug\":\"organization_m\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ao9Ps1WvD1Zl-Q6b0QhXnoJIiinlO-so-qTmt1fBvsY\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object28"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/6","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9xStKiW5ZzjICTeQPhClaJgsi3nMU0Z7LPqT0ZfsTAQ","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"id\": 6,\n  \"organizationId\": 15,\n  \"organizationName\": \"Organization 10\",\n  \"organizationSlug\": \"organization_k\",\n  \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 11,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 11,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 11\n    },\n    {\n      \"clusterPartitionId\": 12,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 12,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 12\n    }\n  ],\n  \"isNatEnabled\": false,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"4d48a692-89c2-4bff-b664-a41afd580c8d","X-Runtime":"0.086725","Content-Length":"1146"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/6\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9xStKiW5ZzjICTeQPhClaJgsi3nMU0Z7LPqT0ZfsTAQ\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"patch":{"summary":"Update a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"},{"name":"Object29","in":"body","schema":{"$ref":"#/definitions/Object29"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object28"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id","description":"Update a Kubernetes cluster via PATCH","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/9","request_body":"{\n  \"isNatEnabled\": true\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer rbCPdoL2glH9pz0SyAICKbwDoCnvafycT_DWRVd8UsE","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"id\": 9,\n  \"organizationId\": 18,\n  \"organizationName\": \"Organization 13\",\n  \"organizationSlug\": \"organization_n\",\n  \"rawClusterSlug\": \"cluster01-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 17,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 17,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 17\n    },\n    {\n      \"clusterPartitionId\": 18,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 18,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 18\n    }\n  ],\n  \"isNatEnabled\": true,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"0a4346dc-15e2-4eb4-910b-378a1125b799","X-Runtime":"0.083481","Content-Length":"1145"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/9\" -d '{\"isNatEnabled\":true}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer rbCPdoL2glH9pz0SyAICKbwDoCnvafycT_DWRVd8UsE\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object30"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object32"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object24"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/14/partitions","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 1Lz7e-30K9pKwKlO-nCToHb5tMcZP4q20uQybbCG29k","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"clusterPartitionId\": 27,\n    \"name\": \"jobs\",\n    \"labels\": [\n      \"Job\"\n    ],\n    \"instanceConfigs\": [\n      {\n        \"instanceConfigId\": 27,\n        \"instanceType\": \"m4.xlarge\",\n        \"minInstances\": 1,\n        \"maxInstances\": 8,\n        \"instanceMaxMemory\": 15320,\n        \"instanceMaxCpu\": 4096,\n        \"instanceMaxDisk\": 90.0,\n        \"usageStats\": {\n          \"pendingMemoryRequested\": null,\n          \"pendingCpuRequested\": null,\n          \"runningMemoryRequested\": null,\n          \"runningCpuRequested\": null,\n          \"pendingDeployments\": null,\n          \"runningDeployments\": null\n        }\n      }\n    ],\n    \"defaultInstanceConfigId\": 27\n  },\n  {\n    \"clusterPartitionId\": 28,\n    \"name\": \"notebook_services\",\n    \"labels\": [\n      \"Notebook\",\n      \"Service\"\n    ],\n    \"instanceConfigs\": [\n      {\n        \"instanceConfigId\": 28,\n        \"instanceType\": \"m4.xlarge\",\n        \"minInstances\": 0,\n        \"maxInstances\": 2,\n        \"instanceMaxMemory\": 15320,\n        \"instanceMaxCpu\": 4096,\n        \"instanceMaxDisk\": 90.0,\n        \"usageStats\": {\n          \"pendingMemoryRequested\": null,\n          \"pendingCpuRequested\": null,\n          \"runningMemoryRequested\": null,\n          \"runningCpuRequested\": null,\n          \"pendingDeployments\": null,\n          \"runningDeployments\": null\n        }\n      }\n    ],\n    \"defaultInstanceConfigId\": 28\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"63852b86-745c-4a06-93be-97912542a0ec","X-Runtime":"0.038636","Content-Length":"915"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/14/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 1Lz7e-30K9pKwKlO-nCToHb5tMcZP4q20uQybbCG29k\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Cluster Partition for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object33","in":"body","schema":{"$ref":"#/definitions/Object33"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object24"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/16/partitions","request_body":"{\n  \"name\": \"test\",\n  \"labels\": [\n    \"testlabel\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer HUoxHVsU7pvnQgZhXt6ky4zuk772jV1eetjgfx5QgEk","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 33,\n  \"name\": \"test\",\n  \"labels\": [\n    \"testlabel\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 33,\n      \"instanceType\": \"m4.2xlarge\",\n      \"minInstances\": 0,\n      \"maxInstances\": 1,\n      \"instanceMaxMemory\": 31641,\n      \"instanceMaxCpu\": 8192,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 33\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"fa4aa2f5-4a05-4690-841c-a85be672c1e9","X-Runtime":"0.033047","Content-Length":"449"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/16/partitions\" -d '{\"name\":\"test\",\"labels\":[\"testlabel\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer HUoxHVsU7pvnQgZhXt6ky4zuk772jV1eetjgfx5QgEk\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object35","in":"body","schema":{"$ref":"#/definitions/Object35"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object24"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/18/partitions/36","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 0cQCpsIAVsl54vuR8AUw88uHCmfey-NoR8VQJ08u0dQ","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 36,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 36,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 1,\n      \"maxInstances\": 8,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 36\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"61f78f3c-bbf1-4539-b76a-3a71469638c9","X-Runtime":"0.033001","Content-Length":"450"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/18/partitions/36\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 0cQCpsIAVsl54vuR8AUw88uHCmfey-NoR8VQJ08u0dQ\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/19/partitions/38","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer LxZZhktIoWSyo9rwaH7byUAXHiqftN1VMQJCuwkBLfI","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 38,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"Job\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 40,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 3,\n      \"maxInstances\": 5,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 40\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"78a96100-2195-47db-9ae3-0797cfa82a66","X-Runtime":"0.045103","Content-Length":"442"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/19/partitions/38\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer LxZZhktIoWSyo9rwaH7byUAXHiqftN1VMQJCuwkBLfI\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/17/partitions/34","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 3LR0v9GIe5AncTUpbIbDEG07ZoCvV645e01IU2SqlcM","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"c150ecfc-60c1-4f5e-bd2b-40f8ad8e402b","X-Runtime":"0.028204"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/17/partitions/34\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 3LR0v9GIe5AncTUpbIbDEG07ZoCvV645e01IU2SqlcM\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"get":{"summary":"Describe a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object24"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/15/partitions/29","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer Wtl-8zrAiPS_F8LsZDvTTLjBWoMRa7E4TY1ruSYuU1s","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 29,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"Job\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 29,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 1,\n      \"maxInstances\": 8,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 29\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"ea0553df-a091-4de8-a6a4-933cef2a29b1","X-Runtime":"0.053413","Content-Length":"442"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/15/partitions/29\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer Wtl-8zrAiPS_F8LsZDvTTLjBWoMRa7E4TY1ruSYuU1s\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}":{"get":{"summary":"Describe an Instance Config","deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object37"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id","description":"View an instance config's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/19","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer CinVLx-O2bSlbwi3weaB-_g48aco-DjQe5hiCy2J57A","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"instanceConfigId\": 19,\n  \"instanceType\": \"m4.xlarge\",\n  \"minInstances\": 1,\n  \"maxInstances\": 8,\n  \"instanceMaxMemory\": 15320,\n  \"instanceMaxCpu\": 4096,\n  \"instanceMaxDisk\": 90.0,\n  \"usageStats\": {\n    \"pendingMemoryRequested\": null,\n    \"pendingCpuRequested\": null,\n    \"runningMemoryRequested\": null,\n    \"runningCpuRequested\": null,\n    \"pendingDeployments\": null,\n    \"runningDeployments\": null\n  },\n  \"clusterPartitionId\": 19,\n  \"clusterPartitionName\": \"jobs\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"a3fbf189-82a1-4a46-9e35-5b3d32445757","X-Runtime":"0.053761","Content-Length":"390"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/19\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer CinVLx-O2bSlbwi3weaB-_g48aco-DjQe5hiCy2J57A\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{id}/active_workloads":{"get":{"summary":"List active workloads in an Instance Config","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the instance config.","type":"integer"},{"name":"state","in":"query","required":false,"description":"If specified, return workloads in these states. It accepts a comma-separated list, possible values are pending, running","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object38"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:id/active_workloads","description":"List active workloads in an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/25/active_workloads","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer nuIjVvUi96RCmKogXOZimuXLxQr_wH391VMaQa4Vi-8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 2,\n    \"baseType\": \"Run\",\n    \"baseId\": 2,\n    \"baseObjectName\": \"My python script\",\n    \"jobType\": \"python_script\",\n    \"jobId\": 4,\n    \"jobCancelRequestedAt\": null,\n    \"state\": \"running\",\n    \"cpu\": 500,\n    \"memory\": 2008,\n    \"diskSpace\": 1.0,\n    \"user\": {\n      \"id\": 22,\n      \"name\": \"Example User\",\n      \"username\": \"devuserfactory4\",\n      \"initials\": \"EU\",\n      \"online\": null\n    },\n    \"createdAt\": \"2021-12-01T19:11:04.000Z\",\n    \"cancellable\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"c0bace46-3f73-42b9-b473-e51126cfc6c6","X-Runtime":"0.053564","Content-Length":"353"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/25/active_workloads\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer nuIjVvUi96RCmKogXOZimuXLxQr_wH391VMaQa4Vi-8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/user_statistics":{"get":{"summary":"Get statistics about the current users of an Instance Config","deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to running_deployments. Must be one of pending_memory_requested, pending_cpu_requested, running_memory_requested, running_cpu_requested, pending_deployments, running_deployments.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending). Defaults to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object39"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id/user_statistics","description":"List user statistics for an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/21/user_statistics","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 4rtLsVV9zE3ZWA8rLBuqZPTfA-7MrqnsQqm6sAQ4Pyo","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"userId\": 19,\n    \"userName\": \"Example User\",\n    \"pendingDeployments\": 0,\n    \"pendingMemoryRequested\": 0,\n    \"pendingCpuRequested\": 0,\n    \"runningDeployments\": 1,\n    \"runningMemoryRequested\": 2008,\n    \"runningCpuRequested\": 500\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"acc3a1b5-0853-4e87-b5d5-198ec8943112","X-Runtime":"0.031171","Content-Length":"194"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/21/user_statistics\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4rtLsVV9zE3ZWA8rLBuqZPTfA-7MrqnsQqm6sAQ4Pyo\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/historical_graphs":{"get":{"summary":"Get graphs of historical resource usage in an Instance Config","deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"timeframe","in":"query","required":false,"description":"The span of time that the graphs cover. Must be one of 1_day, 1_week.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object40"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id/historical_graphs","description":"View historical resource usage graphs for an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/23/historical_graphs?timeframe=1_week","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer KI36gA6HaYRU-bQPYDXf1vnnPgt5stEZ9GAOaCGxoWs","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"timeframe":"1_week"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"cpuGraphUrl\": \"https://app.datadoghq.com/graph/embed?token=cputoken&height=275&width=800&legend=false\",\n  \"memGraphUrl\": \"https://app.datadoghq.com/graph/embed?token=memtoken&height=275&width=800&legend=false\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"c35890ce-b82c-40c2-8d9f-92358e9f7af6","X-Runtime":"0.038882","Content-Length":"237"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/23/historical_graphs?timeframe=1_week\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer KI36gA6HaYRU-bQPYDXf1vnnPgt5stEZ9GAOaCGxoWs\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/credentials/types":{"get":{"summary":"Get list of Credential Types","deprecated":false,"parameters":[],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object41"}}},"x-examples":null,"x-deprecation-warning":null}},"/credentials/":{"get":{"summary":"List credentials","deprecated":false,"parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"na
[...]
