{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/admin/announcements":{"get":{"summary":"List announcements","description":null,"deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/announcements","description":"List first 10 announcements (inluding unreleased)","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer sey0N8KYN2fTaFVRqpzFhNgufDkL2dXk_s5PzpjiLQc","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"subject\": \"Important message 1\",\n    \"body\": \"The square root of 1 is 1.0.\",\n    \"releasedAt\": \"2023-05-30T20:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T20:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T20:14:54.000Z\"\n  },\n  {\n    \"id\": 2,\n    \"subject\": \"Important message 2\",\n    \"body\": \"The square root of 2 is 1.41.\",\n    \"releasedAt\": \"2023-05-30T19:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T19:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T19:14:54.000Z\"\n  },\n  {\n    \"id\": 3,\n    \"subject\": \"Important message 3\",\n    \"body\": \"The square root of 3 is 1.73.\",\n    \"releasedAt\": \"2023-05-30T18:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T18:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T18:14:54.000Z\"\n  },\n  {\n    \"id\": 4,\n    \"subject\": \"Important message 4\",\n    \"body\": \"The square root of 4 is 2.0.\",\n    \"releasedAt\": \"2023-05-30T17:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T17:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T17:14:54.000Z\"\n  },\n  {\n    \"id\": 5,\n    \"subject\": \"Important message 5\",\n    \"body\": \"The square root of 5 is 2.24.\",\n    \"releasedAt\": \"2023-05-30T16:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T16:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T16:14:54.000Z\"\n  },\n  {\n    \"id\": 6,\n    \"subject\": \"Important message 6\",\n    \"body\": \"The square root of 6 is 2.45.\",\n    \"releasedAt\": \"2023-05-30T15:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T15:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T15:14:54.000Z\"\n  },\n  {\n    \"id\": 7,\n    \"subject\": \"Important message 7\",\n    \"body\": \"The square root of 7 is 2.65.\",\n    \"releasedAt\": \"2023-05-30T14:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T14:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T14:14:54.000Z\"\n  },\n  {\n    \"id\": 8,\n    \"subject\": \"Important message 8\",\n    \"body\": \"The square root of 8 is 2.83.\",\n    \"releasedAt\": \"2023-05-30T13:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T13:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T13:14:54.000Z\"\n  },\n  {\n    \"id\": 9,\n    \"subject\": \"Important message 9\",\n    \"body\": \"The square root of 9 is 3.0.\",\n    \"releasedAt\": \"2023-05-30T12:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T12:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T12:14:54.000Z\"\n  },\n  {\n    \"id\": 10,\n    \"subject\": \"Important message 10\",\n    \"body\": \"The square root of 10 is 3.16.\",\n    \"releasedAt\": \"2023-05-30T11:19:54.000Z\",\n    \"createdAt\": \"2023-05-30T11:14:54.000Z\",\n    \"updatedAt\": \"2023-05-30T11:14:54.000Z\"\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"10","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"4","X-Pagination-Total-Entries":"40","Content-Type":"application/json; charset=utf-8","ETag":"W/\"29de32b501b2dcb19e50b07587599a3b\"","X-Request-Id":"7b299082-addd-4ced-9f84-734f8e950a6d","X-Runtime":"0.145602","Content-Length":"1981"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer sey0N8KYN2fTaFVRqpzFhNgufDkL2dXk_s5PzpjiLQc\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Post an announcement","description":null,"deprecated":false,"parameters":[{"name":"Object1","in":"body","schema":{"$ref":"#/definitions/Object1"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/admin/announcements","description":"Announcement creation","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/admin/announcements","request_body":"{\n  \"subject\": \"Important message 41\",\n  \"body\": \"The square root of 41 is 6.4.\",\n  \"released_at\": null\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9dc-zJ9p4wz0wb7lYL2jhbzQceFO1tnmjSMKsHCsqZ0","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\n  \"id\": 41,\n  \"subject\": \"Important message 41\",\n  \"body\": \"The square root of 41 is 6.4.\",\n  \"releasedAt\": null,\n  \"createdAt\": \"2023-05-30T21:14:55.000Z\",\n  \"updatedAt\": \"2023-05-30T21:14:55.000Z\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"b7fb306c4ef841528efca3bdd9efcce9\"","X-Request-Id":"5121eb8c-4be8-4acc-b700-e8c2dd1b7d42","X-Runtime":"0.016878","Content-Length":"177"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -d '{\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"released_at\":null}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9dc-zJ9p4wz0wb7lYL2jhbzQceFO1tnmjSMKsHCsqZ0\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/announcements/{id}":{"get":{"summary":"Get a particular announcement","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Edit an announcement","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"},{"name":"Object2","in":"body","schema":{"$ref":"#/definitions/Object2"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement update","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/admin/announcements/42","request_body":"{\n  \"subject\": \"Friendship\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer MnOrFPi57osIWPrbV1XrgqrWiVcAWoYLEnF7GEA1abw","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"id\": 42,\n  \"subject\": \"Friendship\",\n  \"body\": \"The square root of 42 is 6.48.\",\n  \"releasedAt\": null,\n  \"createdAt\": \"2023-05-30T21:14:55.000Z\",\n  \"updatedAt\": \"2023-05-30T21:14:55.000Z\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"0120c9ed0b102cdec98ca6ecabec611e\"","X-Request-Id":"177c3010-1d86-4ba9-b738-a7276cf6c953","X-Runtime":"0.016565","Content-Length":"168"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/42\" -d '{\"subject\":\"Friendship\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer MnOrFPi57osIWPrbV1XrgqrWiVcAWoYLEnF7GEA1abw\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete an announcement","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"DELETE","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement deletion","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/admin/announcements/43","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer iId_qXanuistlU9Rn9TtFxp51w4_6lqsUPo9Lcj7fbU","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Request-Id":"39992d43-d48b-444d-a617-b3cf09820552","X-Runtime":"0.016372"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/43\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer iId_qXanuistlU9Rn9TtFxp51w4_6lqsUPo9Lcj7fbU\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/themes":{"post":{"summary":"Create a theme","description":null,"deprecated":false,"parameters":[{"name":"Object3","in":"body","schema":{"$ref":"#/definitions/Object3"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/themes/{id}":{"patch":{"summary":"Edit a theme","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this theme.","type":"integer"},{"name":"Object6","in":"body","schema":{"$ref":"#/definitions/Object6"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/organizations":{"get":{"summary":"List organizations","description":null,"deprecated":false,"parameters":[{"name":"status","in":"query","required":false,"description":"The status of the organization (active/trial/inactive).","type":"array","items":{"type":"string"}},{"name":"org_type","in":"query","required":false,"description":"The organization type (platform/ads/survey_vendor/other).","type":"array","items":{"type":"string"}}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object7"}}}},"x-examples":[{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List all orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer LjMQchb6fQDmy_zn14-lntnwSba6Q7fZw2-6eHPf2XQ","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"name\": \"Civis Analytics\",\n    \"slug\": \"civis\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": true,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 2,\n    \"name\": \"Demo\",\n    \"slug\": \"demo\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 3,\n    \"name\": \"Default\",\n    \"slug\": \"default\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 4,\n    \"name\": \"Managers\",\n    \"slug\": \"managers\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": null,\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": null,\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 5,\n    \"name\": \"Organization 1\",\n    \"slug\": \"organization_b\",\n    \"accountManagerId\": 1,\n    \"csSpecialistId\": 2,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 6,\n    \"name\": \"Organization 2\",\n    \"slug\": \"organization_c\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"ads\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 7,\n    \"name\": \"Organization 3\",\n    \"slug\": \"organization_d\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"trial\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"f0d306a869b81e38df5b95ffa8a06f2f\"","X-Request-Id":"4dd41443-19ad-4a04-9d6f-ea06266c67dc","X-Runtime":"0.024525","Content-Length":"3880"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer LjMQchb6fQDmy_zn14-lntnwSba6Q7fZw2-6eHPf2XQ\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"Filter orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer xbDhNJiptLo2YZaFqYD3Wa3CGyUV4cnF8Nufeoky3d0","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"status":["active","trial"],"org_type":"platform"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 8,\n    \"name\": \"Organization 4\",\n    \"slug\": \"organization_e\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  },\n  {\n    \"id\": 10,\n    \"name\": \"Organization 6\",\n    \"slug\": \"organization_g\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"trial\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": null,\n    \"maxAnalystUsers\": null,\n    \"maxReportUsers\": null,\n    \"vertical\": null,\n    \"csMetadata\": null,\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"22dfacabb37d44cf1e44aa1a0053a917\"","X-Request-Id":"31433b42-c652-4863-bd84-ffb803e9440a","X-Runtime":"0.014838","Content-Length":"1183"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer xbDhNJiptLo2YZaFqYD3Wa3CGyUV4cnF8Nufeoky3d0\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer qQ5wMFu40kmTPdXlMMk9y-YP87VJacIwZMIj-6CVr3g","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 11,\n    \"name\": \"Organization 7\",\n    \"slug\": \"organization_h\",\n    \"accountManagerId\": null,\n    \"csSpecialistId\": null,\n    \"status\": \"active\",\n    \"orgType\": \"platform\",\n    \"customBranding\": null,\n    \"contractSize\": 25555,\n    \"maxAnalystUsers\": 3,\n    \"maxReportUsers\": 20,\n    \"vertical\": \"Snake Handling\",\n    \"csMetadata\": \"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\n    \"removeFooterInEmails\": false,\n    \"salesforceAccountId\": null,\n    \"tableauSiteId\": \"tableau-site-id\",\n    \"fedrampEnabled\": false,\n    \"createdById\": null,\n    \"lastUpdatedById\": null,\n    \"advancedSettings\": {\n      \"dedicatedDjPoolEnabled\": false\n    },\n    \"tableauRefreshHistory\": [\n      {\n        \"time_period\": \"2023-05\",\n        \"usage\": 0\n      },\n      {\n        \"time_period\": \"2023-04\",\n        \"usage\": 0\n      }\n    ]\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"b621364d77fc5eef300c2a67da06762a\"","X-Request-Id":"bc66859b-18d8-423a-833f-1cb6642284d2","X-Runtime":"0.013761","Content-Length":"616"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer qQ5wMFu40kmTPdXlMMk9y-YP87VJacIwZMIj-6CVr3g\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object9"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object13","in":"body","schema":{"$ref":"#/definitions/Object13"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object14","in":"body","schema":{"$ref":"#/definitions/Object14"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/dependencies":{"get":{"summary":"List dependent objects for this object","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"query","required":false,"description":"ID of target user","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object15"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/transfer":{"put":{"summary":"Transfer ownership of this object to another user","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/":{"get":{"summary":"List Aliases","description":null,"deprecated":false,"parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: cass_ncoa, container_script, geocode, python_script, r_script, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object19"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create an Alias","description":null,"deprecated":false,"parameters":[{"name":"Object20","in":"body","schema":{"$ref":"#/definitions/Object20"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"put":{"summary":"Replace all attributes of this Alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object21","in":"body","schema":{"$ref":"#/definitions/Object21"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update some attributes of this Alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object22","in":"body","schema":{"$ref":"#/definitions/Object22"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Delete an alias","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","description":null,"deprecated":false,"parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: cass_ncoa, container_script, geocode, python_script, r_script, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/announcements/":{"get":{"summary":"List announcements","description":null,"deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Announcements","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer EnxMMy6WTz1qa9tT3RL0y-TUrASMvtNKVR2616edNMU","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 44,\n    \"subject\": \"Important message 44\",\n    \"body\": \"The square root of 44 is 6.63.\",\n    \"releasedAt\": \"2023-05-30T20:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T20:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T20:14:56.000Z\"\n  },\n  {\n    \"id\": 45,\n    \"subject\": \"Important message 45\",\n    \"body\": \"The square root of 45 is 6.71.\",\n    \"releasedAt\": \"2023-05-30T19:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T19:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T19:14:56.000Z\"\n  },\n  {\n    \"id\": 46,\n    \"subject\": \"Important message 46\",\n    \"body\": \"The square root of 46 is 6.78.\",\n    \"releasedAt\": \"2023-05-30T18:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T18:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T18:14:56.000Z\"\n  },\n  {\n    \"id\": 47,\n    \"subject\": \"Important message 47\",\n    \"body\": \"The square root of 47 is 6.86.\",\n    \"releasedAt\": \"2023-05-30T17:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T17:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T17:14:56.000Z\"\n  },\n  {\n    \"id\": 48,\n    \"subject\": \"Important message 48\",\n    \"body\": \"The square root of 48 is 6.93.\",\n    \"releasedAt\": \"2023-05-30T16:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T16:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T16:14:56.000Z\"\n  },\n  {\n    \"id\": 49,\n    \"subject\": \"Important message 49\",\n    \"body\": \"The square root of 49 is 7.0.\",\n    \"releasedAt\": \"2023-05-30T15:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T15:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T15:14:56.000Z\"\n  },\n  {\n    \"id\": 50,\n    \"subject\": \"Important message 50\",\n    \"body\": \"The square root of 50 is 7.07.\",\n    \"releasedAt\": \"2023-05-30T14:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T14:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T14:14:56.000Z\"\n  },\n  {\n    \"id\": 51,\n    \"subject\": \"Important message 51\",\n    \"body\": \"The square root of 51 is 7.14.\",\n    \"releasedAt\": \"2023-05-30T13:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T13:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T13:14:56.000Z\"\n  },\n  {\n    \"id\": 52,\n    \"subject\": \"Important message 52\",\n    \"body\": \"The square root of 52 is 7.21.\",\n    \"releasedAt\": \"2023-05-30T12:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T12:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T12:14:56.000Z\"\n  },\n  {\n    \"id\": 53,\n    \"subject\": \"Important message 53\",\n    \"body\": \"The square root of 53 is 7.28.\",\n    \"releasedAt\": \"2023-05-30T11:19:56.000Z\",\n    \"createdAt\": \"2023-05-30T11:14:56.000Z\",\n    \"updatedAt\": \"2023-05-30T11:14:56.000Z\"\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2023-05-30T21:14:56.155Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","ETag":"W/\"0f08778c62aebd1399669abaa5946743\"","X-Request-Id":"b15fc3bf-efa5-4a5f-8897-a1ed4a3db540","X-Runtime":"0.012686","Content-Length":"2010"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer EnxMMy6WTz1qa9tT3RL0y-TUrASMvtNKVR2616edNMU\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","description":null,"deprecated":false,"parameters":[{"name":"organization_id","in":"query","required":false,"description":"The ID of this cluster's organization. Cannot be used along with the organization slug.","type":"integer"},{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization. Cannot be used along with the organization ID.","type":"string"},{"name":"raw_cluster_slug","in":"query","required":false,"description":"The slug of this cluster's raw configuration.","type":"string"},{"name":"exclude_inactive_orgs","in":"query","required":false,"description":"When true, excludes KubeClusters associated with inactive orgs. Defaults to false.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object24"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer AjJEHzv2OYQMbmLCePht3qMuGPvkgWFtoiMwnux4VFk","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 1,\n    \"organizationId\": 1,\n    \"organizationName\": \"Civis Analytics\",\n    \"organizationSlug\": \"civis\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 1,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 1,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 1\n      },\n      {\n        \"clusterPartitionId\": 2,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 2,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 2\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 2,\n    \"organizationId\": 2,\n    \"organizationName\": \"Demo\",\n    \"organizationSlug\": \"demo\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 3,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 3,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 3\n      },\n      {\n        \"clusterPartitionId\": 4,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 4,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 4\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 3,\n    \"organizationId\": 3,\n    \"organizationName\": \"Default\",\n    \"organizationSlug\": \"default\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 5,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 5,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 5\n      },\n      {\n        \"clusterPartitionId\": 6,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 6,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 6\n      }\n    ],\n    \"isNatEnabled\": false\n  },\n  {\n    \"id\": 4,\n    \"organizationId\": 4,\n    \"organizationName\": \"Managers\",\n    \"organizationSlug\": \"managers\",\n    \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n    \"customPartitions\": false,\n    \"clusterPartitions\": [\n      {\n        \"clusterPartitionId\": 7,\n        \"name\": \"jobs\",\n        \"labels\": [\n          \"Job\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 7,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 1,\n            \"maxInstances\": 8,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 7\n      },\n      {\n        \"clusterPartitionId\": 8,\n        \"name\": \"notebook_services\",\n        \"labels\": [\n          \"Notebook\",\n          \"Service\"\n        ],\n        \"instanceConfigs\": [\n          {\n            \"instanceConfigId\": 8,\n            \"instanceType\": \"m4.xlarge\",\n            \"minInstances\": 0,\n            \"maxInstances\": 2,\n            \"instanceMaxMemory\": 15320,\n            \"instanceMaxCpu\": 4096,\n            \"instanceMaxDisk\": 90.0,\n            \"usageStats\": {\n              \"pendingMemoryRequested\": null,\n              \"pendingCpuRequested\": null,\n              \"runningMemoryRequested\": null,\n              \"runningCpuRequested\": null,\n              \"pendingDeployments\": null,\n              \"runningDeployments\": null\n            }\n          }\n        ],\n        \"defaultInstanceConfigId\": 8\n      }\n    ],\n    \"isNatEnabled\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"4","Content-Type":"application/json; charset=utf-8","ETag":"W/\"80406ef03f207116ebc2b76c387f2371\"","X-Request-Id":"f98fb373-74e1-4656-9cb0-7751ffe83278","X-Runtime":"0.032427","Content-Length":"4451"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer AjJEHzv2OYQMbmLCePht3qMuGPvkgWFtoiMwnux4VFk\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"Object28","in":"body","schema":{"$ref":"#/definitions/Object28"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization ID","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationId\": 15\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer moayRYlYOrukx0GlDM_ytN9FHsMakMmQlCbZXJo3-eU","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\n  \"id\": 6,\n  \"organizationId\": 15,\n  \"organizationName\": \"Organization 11\",\n  \"organizationSlug\": \"organization_l\",\n  \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 11,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 11,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 11\n    },\n    {\n      \"clusterPartitionId\": 12,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 12,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 12\n    }\n  ],\n  \"isNatEnabled\": false,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"741163f5ca8ed42253ac0e216009602f\"","X-Request-Id":"2c8410b1-d357-4b7c-9028-4bf92acb7116","X-Runtime":"0.028962","Content-Length":"1146"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationId\":15}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer moayRYlYOrukx0GlDM_ytN9FHsMakMmQlCbZXJo3-eU\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization slug","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationSlug\": \"organization_m\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer gr7OpIpKeZft2drIS_LlKPcihFI1cBH2R3MALyTpx_w","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\n  \"id\": 7,\n  \"organizationId\": 16,\n  \"organizationName\": \"Organization 12\",\n  \"organizationSlug\": \"organization_m\",\n  \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 13,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 13,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 13\n    },\n    {\n      \"clusterPartitionId\": 14,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 14,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 14\n    }\n  ],\n  \"isNatEnabled\": false,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"d690fe407e115cbb193f6debb51e754a\"","X-Request-Id":"a98bb7c0-b50d-4b3b-abc3-2e34cc5c68ae","X-Runtime":"0.028697","Content-Length":"1146"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationSlug\":\"organization_m\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer gr7OpIpKeZft2drIS_LlKPcihFI1cBH2R3MALyTpx_w\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/5","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer QPStvId2H_X8HAUv4KgVlMmI7pm2OCdPSQ8eW_MU-UY","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"id\": 5,\n  \"organizationId\": 14,\n  \"organizationName\": \"Organization 10\",\n  \"organizationSlug\": \"organization_k\",\n  \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 9,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 9,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 9\n    },\n    {\n      \"clusterPartitionId\": 10,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 10,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 10\n    }\n  ],\n  \"isNatEnabled\": false,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"8448a3d218f982ad16f8204b57acd4ad\"","X-Request-Id":"60a86ac1-ef75-4cc4-8361-36df06b6b809","X-Runtime":"0.020840","Content-Length":"1143"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/5\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer QPStvId2H_X8HAUv4KgVlMmI7pm2OCdPSQ8eW_MU-UY\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"patch":{"summary":"Update a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"},{"name":"Object30","in":"body","schema":{"$ref":"#/definitions/Object30"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id","description":"Update a Kubernetes cluster via PATCH","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/8","request_body":"{\n  \"isNatEnabled\": true\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer dV_Pj-JMXEKfQWRqUtyW9fJd-xAGshxHSP3_BRgbhq4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"id\": 8,\n  \"organizationId\": 17,\n  \"organizationName\": \"Organization 13\",\n  \"organizationSlug\": \"organization_n\",\n  \"rawClusterSlug\": \"cluster03-kubernetes-us-east-1\",\n  \"customPartitions\": false,\n  \"clusterPartitions\": [\n    {\n      \"clusterPartitionId\": 15,\n      \"name\": \"jobs\",\n      \"labels\": [\n        \"Job\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 15,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 1,\n          \"maxInstances\": 8,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 15\n    },\n    {\n      \"clusterPartitionId\": 16,\n      \"name\": \"notebook_services\",\n      \"labels\": [\n        \"Notebook\",\n        \"Service\"\n      ],\n      \"instanceConfigs\": [\n        {\n          \"instanceConfigId\": 16,\n          \"instanceType\": \"m4.xlarge\",\n          \"minInstances\": 0,\n          \"maxInstances\": 2,\n          \"instanceMaxMemory\": 15320,\n          \"instanceMaxCpu\": 4096,\n          \"instanceMaxDisk\": 90.0,\n          \"usageStats\": {\n            \"pendingMemoryRequested\": null,\n            \"pendingCpuRequested\": null,\n            \"runningMemoryRequested\": null,\n            \"runningCpuRequested\": null,\n            \"pendingDeployments\": null,\n            \"runningDeployments\": null\n          }\n        }\n      ],\n      \"defaultInstanceConfigId\": 16\n    }\n  ],\n  \"isNatEnabled\": true,\n  \"hours\": null\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"50be615fb4d3388ced52ed498b3e1e16\"","X-Request-Id":"e8c24597-e4ee-4c62-92d8-055f46a904b0","X-Runtime":"0.024264","Content-Length":"1145"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/8\" -d '{\"isNatEnabled\":true}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer dV_Pj-JMXEKfQWRqUtyW9fJd-xAGshxHSP3_BRgbhq4\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object31"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object33"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object25"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/13/partitions","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 5BHmEGId1rt9cRtqx0zW1YmVeUUk3_eRFFXnqxa-1Lg","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"clusterPartitionId\": 25,\n    \"name\": \"jobs\",\n    \"labels\": [\n      \"Job\"\n    ],\n    \"instanceConfigs\": [\n      {\n        \"instanceConfigId\": 25,\n        \"instanceType\": \"m4.xlarge\",\n        \"minInstances\": 1,\n        \"maxInstances\": 8,\n        \"instanceMaxMemory\": 15320,\n        \"instanceMaxCpu\": 4096,\n        \"instanceMaxDisk\": 90.0,\n        \"usageStats\": {\n          \"pendingMemoryRequested\": null,\n          \"pendingCpuRequested\": null,\n          \"runningMemoryRequested\": null,\n          \"runningCpuRequested\": null,\n          \"pendingDeployments\": null,\n          \"runningDeployments\": null\n        }\n      }\n    ],\n    \"defaultInstanceConfigId\": 25\n  },\n  {\n    \"clusterPartitionId\": 26,\n    \"name\": \"notebook_services\",\n    \"labels\": [\n      \"Notebook\",\n      \"Service\"\n    ],\n    \"instanceConfigs\": [\n      {\n        \"instanceConfigId\": 26,\n        \"instanceType\": \"m4.xlarge\",\n        \"minInstances\": 0,\n        \"maxInstances\": 2,\n        \"instanceMaxMemory\": 15320,\n        \"instanceMaxCpu\": 4096,\n        \"instanceMaxDisk\": 90.0,\n        \"usageStats\": {\n          \"pendingMemoryRequested\": null,\n          \"pendingCpuRequested\": null,\n          \"runningMemoryRequested\": null,\n          \"runningCpuRequested\": null,\n          \"pendingDeployments\": null,\n          \"runningDeployments\": null\n        }\n      }\n    ],\n    \"defaultInstanceConfigId\": 26\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"4a431eccf1870217b77439488f46039a\"","X-Request-Id":"007cc7d2-75cb-47e1-978c-b5fd7944fc6e","X-Runtime":"0.014860","Content-Length":"915"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/13/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 5BHmEGId1rt9cRtqx0zW1YmVeUUk3_eRFFXnqxa-1Lg\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Cluster Partition for given cluster","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object34","in":"body","schema":{"$ref":"#/definitions/Object34"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object25"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/15/partitions","request_body":"{\n  \"name\": \"test\",\n  \"labels\": [\n    \"testlabel\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer piyUe1wdlhw-VwOJ5Ahtxgi19CtehHyi8uRoqR3FRQ8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 31,\n  \"name\": \"test\",\n  \"labels\": [\n    \"testlabel\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 31,\n      \"instanceType\": \"m4.2xlarge\",\n      \"minInstances\": 0,\n      \"maxInstances\": 1,\n      \"instanceMaxMemory\": 31641,\n      \"instanceMaxCpu\": 8192,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 31\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"183a6431d7ce04be17b3f9d8bf0ec9c3\"","X-Request-Id":"07b17c78-99cf-4c9c-a710-06cece90dd61","X-Runtime":"0.019983","Content-Length":"449"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/15/partitions\" -d '{\"name\":\"test\",\"labels\":[\"testlabel\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer piyUe1wdlhw-VwOJ5Ahtxgi19CtehHyi8uRoqR3FRQ8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object36","in":"body","schema":{"$ref":"#/definitions/Object36"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object25"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/17/partitions/34","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer pRWsEBuJz0A251YEyquSgaiSDCLt-KMzQZU0IwitxTY","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 34,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 34,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 1,\n      \"maxInstances\": 8,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 34\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"e12ad3df35838d241433019e4faed826\"","X-Request-Id":"641ff225-f41c-497a-b06e-6f6a9a625bf3","X-Runtime":"0.018547","Content-Length":"450"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/17/partitions/34\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer pRWsEBuJz0A251YEyquSgaiSDCLt-KMzQZU0IwitxTY\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","resource_explanation":null,"http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/18/partitions/36","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer QYNgno_uDVeENa75Auy-dgitaFjAwGSt-o5UY0a5sx8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 36,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"Job\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 38,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 3,\n      \"maxInstances\": 5,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 38\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"40a89e1dbb09e122e843ed269053065f\"","X-Request-Id":"841941f8-0a4f-46bc-82a4-197e40999b74","X-Runtime":"0.020085","Content-Length":"442"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/18/partitions/36\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer QYNgno_uDVeENa75Auy-dgitaFjAwGSt-o5UY0a5sx8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete a Cluster Partition","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/16/partitions/32","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer ARoB8WMYGqz6cOFmTVgWotEEe2onDyuDm6O8pwqUKbY","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Request-Id":"59fae0db-d311-4d22-9f12-0e65f86c2224","X-Runtime":"0.016128"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/16/partitions/32\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ARoB8WMYGqz6cOFmTVgWotEEe2onDyuDm6O8pwqUKbY\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"get":{"summary":"Describe a Cluster Partition","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object25"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/14/partitions/27","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer d34icNRaCBmDkC2kzOIlT7B6juBR_XzxX_42Dp875c4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"clusterPartitionId\": 27,\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"Job\"\n  ],\n  \"instanceConfigs\": [\n    {\n      \"instanceConfigId\": 27,\n      \"instanceType\": \"m4.xlarge\",\n      \"minInstances\": 1,\n      \"maxInstances\": 8,\n      \"instanceMaxMemory\": 15320,\n      \"instanceMaxCpu\": 4096,\n      \"instanceMaxDisk\": 90.0,\n      \"usageStats\": {\n        \"pendingMemoryRequested\": null,\n        \"pendingCpuRequested\": null,\n        \"runningMemoryRequested\": null,\n        \"runningCpuRequested\": null,\n        \"pendingDeployments\": null,\n        \"runningDeployments\": null\n      }\n    }\n  ],\n  \"defaultInstanceConfigId\": 27\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"ccab2410b3242d40a895fe3a0c436501\"","X-Request-Id":"5d739cda-a716-49f5-8cc1-cd5a1449e326","X-Runtime":"0.015354","Content-Length":"442"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/14/partitions/27\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer d34icNRaCBmDkC2kzOIlT7B6juBR_XzxX_42Dp875c4\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}":{"get":{"summary":"Describe an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object38"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id","description":"View an instance config's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/17","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer qsRXPPsw7_PQ5HlL_9OmzZeH_OD9yQMSrtHEK8zxN5U","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"instanceConfigId\": 17,\n  \"instanceType\": \"m4.xlarge\",\n  \"minInstances\": 1,\n  \"maxInstances\": 8,\n  \"instanceMaxMemory\": 15320,\n  \"instanceMaxCpu\": 4096,\n  \"instanceMaxDisk\": 90.0,\n  \"usageStats\": {\n    \"pendingMemoryRequested\": null,\n    \"pendingCpuRequested\": null,\n    \"runningMemoryRequested\": null,\n    \"runningCpuRequested\": null,\n    \"pendingDeployments\": null,\n    \"runningDeployments\": null\n  },\n  \"clusterPartitionId\": 17,\n  \"clusterPartitionName\": \"jobs\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"b0c8acce298fa0346a8dce836ae2a26b\"","X-Request-Id":"0f2ed44a-95c0-475f-9693-1ebffe2fbfb4","X-Runtime":"0.016072","Content-Length":"390"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/17\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer qsRXPPsw7_PQ5HlL_9OmzZeH_OD9yQMSrtHEK8zxN5U\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{id}/active_workloads":{"get":{"summary":"List active workloads in an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the instance config.","type":"integer"},{"name":"state","in":"query","required":false,"description":"If specified, return workloads in these states. It accepts a comma-separated list, possible values are pending, running","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object39"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:id/active_workloads","description":"List active workloads in an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/23/active_workloads","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer X559gYn_viqhO93G5Jn0E7DUhBIKe__33Rp4Oi7mdW8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"id\": 2,\n    \"baseType\": \"Run\",\n    \"baseId\": 2,\n    \"baseObjectName\": \"My python script\",\n    \"jobType\": \"python_script\",\n    \"jobId\": 4,\n    \"jobCancelRequestedAt\": null,\n    \"state\": \"running\",\n    \"cpu\": 500,\n    \"memory\": 2008,\n    \"diskSpace\": 1.0,\n    \"user\": {\n      \"id\": 24,\n      \"name\": \"Example User\",\n      \"username\": \"devuserfactory7\",\n      \"initials\": \"EU\",\n      \"online\": null\n    },\n    \"createdAt\": \"2023-05-30T21:14:57.000Z\",\n    \"cancellable\": false\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"654aec475b2b07e382a105179f6cd229\"","X-Request-Id":"a72f1afe-503a-4821-925d-a5a6a7fe8359","X-Runtime":"0.030187","Content-Length":"353"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/23/active_workloads\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer X559gYn_viqhO93G5Jn0E7DUhBIKe__33Rp4Oi7mdW8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/user_statistics":{"get":{"summary":"Get statistics about the current users of an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to running_deployments. Must be one of pending_memory_requested, pending_cpu_requested, running_memory_requested, running_cpu_requested, pending_deployments, running_deployments.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending). Defaults to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object40"}}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id/user_statistics","description":"List user statistics for an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/19/user_statistics","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer ypO3QxFf48UOIrj-nrlCQzx1Hv9vG4Vwm5gTcgiyQFk","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[\n  {\n    \"userId\": 21,\n    \"userName\": \"Example User\",\n    \"pendingDeployments\": 0,\n    \"pendingMemoryRequested\": 0,\n    \"pendingCpuRequested\": 0,\n    \"runningDeployments\": 1,\n    \"runningMemoryRequested\": 2008,\n    \"runningCpuRequested\": 500\n  }\n]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"02e9f6c6b0d35376327ab351c2132a60\"","X-Request-Id":"78a1d70f-fcb8-45fd-9617-ee2d05dc9384","X-Runtime":"0.015144","Content-Length":"194"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/19/user_statistics\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ypO3QxFf48UOIrj-nrlCQzx1Hv9vG4Vwm5gTcgiyQFk\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/historical_graphs":{"get":{"summary":"Get graphs of historical resource usage in an Instance Config","description":null,"deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"timeframe","in":"query","required":false,"description":"The span of time that the graphs cover. Must be one of 1_day, 1_week.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object41"}}},"x-examples":[{"resource":"Clusters","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/instance_configs/:instance_config_id/historical_graphs","description":"View historical resource usage graphs for an instance config","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/instance_configs/21/historical_graphs?timeframe=1_week","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer kc7wOfwFgNjfAR6IYuMHm7kMySQ4WwW6QvpuWhVpRXA","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"timeframe":"1_week"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\n  \"cpuGraphUrl\": \"https://app.datadoghq.com/graph/embed?token=cputoken&height=275&width=800&legend=false\",\n  \"memGraphUrl\": \"https://app.datadoghq.com/graph/embed?token=memtoken&height=275&width=800&legend=false\"\n}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","ETag":"W/\"a3c67938cb6d89c42d317be9182e3ef0\"","X-Request-Id":"cf4f2744-29cb-421b-9e86-792c4a222684","X-Runtime":"0.014459","Content-Length":"237"},"response_content_type":"application/json; charset=utf-8","curl":"curl -g \"api.civis.testhttp://api.civis.test/clusters/kubernetes/instance_configs/21/historical_graphs?timeframe=1_week\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer kc7wOfwFgNjfAR6IYuMHm7kMySQ4WwW6QvpuWhVpRXA\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/credentials/types":{"get":{"summary":"Get list of Credential Types","description":null,"deprecated":false,"parameters":[],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object42"}}},"x-examples":null,"x-deprecation-warning":null}},"/credentials/":{"get":{"summary":"List credentials","description":null,"deprecated":false,"parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"system_credentials","in":"query","required":false,"description":"If true, will only return system credentials. System credentials can only be created and viewed by Civis Admins.","type":"boolean"},{"name":"users","in":"query","required":false,"description":"A comma-separated list of user ids. If specified, returns set of credentials owned by the users that requesting user has at least read access on.","type":"string"},{"name":"name","in":"query","required":false,"description":"If specified, will be used to filter the credentials returned. Will search across name and will return any full name containing the search string.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object43"}}}},"x-examples":[{"resource":"Credentials","resource_explanation":null,"http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCO
[...]
