{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/admin/announcements":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/announcements","description":"List first 10 announcements (inluding unreleased)","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 4675dcca10cee1019890598a5af567c728efcee0d3bf7004e5c7cb75364d6feb","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":67776,\"subject\":\"Important message 1\",\"body\":\"The square root of 1 is 1.0.\",\"releasedAt\":\"2020-04-15T16:27:18.000Z\",\"createdAt\":\"2020-04-15T16:22:18.000Z\",\"updatedAt\":\"2020-04-15T16:22:18.000Z\"},{\"id\":67777,\"subject\":\"Important message 2\",\"body\":\"The square root of 2 is 1.41.\",\"releasedAt\":\"2020-04-15T15:27:18.000Z\",\"createdAt\":\"2020-04-15T15:22:18.000Z\",\"updatedAt\":\"2020-04-15T15:22:18.000Z\"},{\"id\":67778,\"subject\":\"Important message 3\",\"body\":\"The square root of 3 is 1.73.\",\"releasedAt\":\"2020-04-15T14:27:18.000Z\",\"createdAt\":\"2020-04-15T14:22:18.000Z\",\"updatedAt\":\"2020-04-15T14:22:18.000Z\"},{\"id\":67779,\"subject\":\"Important message 4\",\"body\":\"The square root of 4 is 2.0.\",\"releasedAt\":\"2020-04-15T13:27:18.000Z\",\"createdAt\":\"2020-04-15T13:22:18.000Z\",\"updatedAt\":\"2020-04-15T13:22:18.000Z\"},{\"id\":67780,\"subject\":\"Important message 5\",\"body\":\"The square root of 5 is 2.24.\",\"releasedAt\":\"2020-04-15T12:27:18.000Z\",\"createdAt\":\"2020-04-15T12:22:18.000Z\",\"updatedAt\":\"2020-04-15T12:22:18.000Z\"},{\"id\":67781,\"subject\":\"Important message 6\",\"body\":\"The square root of 6 is 2.45.\",\"releasedAt\":\"2020-04-15T11:27:18.000Z\",\"createdAt\":\"2020-04-15T11:22:18.000Z\",\"updatedAt\":\"2020-04-15T11:22:18.000Z\"},{\"id\":67782,\"subject\":\"Important message 7\",\"body\":\"The square root of 7 is 2.65.\",\"releasedAt\":\"2020-04-15T10:27:18.000Z\",\"createdAt\":\"2020-04-15T10:22:18.000Z\",\"updatedAt\":\"2020-04-15T10:22:18.000Z\"},{\"id\":67783,\"subject\":\"Important message 8\",\"body\":\"The square root of 8 is 2.83.\",\"releasedAt\":\"2020-04-15T09:27:18.000Z\",\"createdAt\":\"2020-04-15T09:22:18.000Z\",\"updatedAt\":\"2020-04-15T09:22:18.000Z\"},{\"id\":67784,\"subject\":\"Important message 9\",\"body\":\"The square root of 9 is 3.0.\",\"releasedAt\":\"2020-04-15T08:27:18.000Z\",\"createdAt\":\"2020-04-15T08:22:18.000Z\",\"updatedAt\":\"2020-04-15T08:22:18.000Z\"},{\"id\":67785,\"subject\":\"Important message 10\",\"body\":\"The square root of 10 is 3.16.\",\"releasedAt\":\"2020-04-15T07:27:18.000Z\",\"createdAt\":\"2020-04-15T07:22:18.000Z\",\"updatedAt\":\"2020-04-15T07:22:18.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"10","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"4","X-Pagination-Total-Entries":"40","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"b77cdb91-0b15-4467-8e5a-2d1c04132ba6","X-Runtime":"0.280161","Content-Length":"2020"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4675dcca10cee1019890598a5af567c728efcee0d3bf7004e5c7cb75364d6feb\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Post an announcement","deprecated":false,"parameters":[{"name":"Object1","in":"body","schema":{"$ref":"#/definitions/Object1"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","http_method":"POST","route":"http://api.civis.test/admin/announcements","description":"Announcement creation","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/admin/announcements","request_body":"{\n  \"subject\": \"Important message 41\",\n  \"body\": \"The square root of 41 is 6.4.\",\n  \"released_at\": null\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 4ccadc577473ae950fb34922c34f48b1b27fdaba0756a8b6553a6d984f0955e3","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":67816,\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"releasedAt\":null,\"createdAt\":\"2020-04-15T17:23:15.000Z\",\"updatedAt\":\"2020-04-15T17:23:15.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"22703bce-47ad-45a8-a8f5-4c4fd35b375e","X-Runtime":"0.044430","Content-Length":"180"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -d '{\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"released_at\":null}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4ccadc577473ae950fb34922c34f48b1b27fdaba0756a8b6553a6d984f0955e3\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/announcements/{id}":{"get":{"summary":"Get a particular announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Edit an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"},{"name":"Object2","in":"body","schema":{"$ref":"#/definitions/Object2"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","http_method":"PATCH","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement update","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/admin/announcements/67817","request_body":"{\n  \"subject\": \"Friendship\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 90f8891f69a30935de2dd774248f199929b13c9acfaa944000fadf5d0156e89c","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":67817,\"subject\":\"Friendship\",\"body\":\"The square root of 42 is 6.48.\",\"releasedAt\":null,\"createdAt\":\"2020-04-15T17:23:15.000Z\",\"updatedAt\":\"2020-04-15T17:23:15.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"39c92ea2-a0cf-4ebe-9793-4157937a1e25","X-Runtime":"0.041185","Content-Length":"171"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/67817\" -d '{\"subject\":\"Friendship\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 90f8891f69a30935de2dd774248f199929b13c9acfaa944000fadf5d0156e89c\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Admin","http_method":"DELETE","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement deletion","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/admin/announcements/67818","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 39b3c6da98bf234d8f239002064a9c4886516ed69ffd1f5c4b95bf29a9f95b0f","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"05812ed3-f20b-42c9-a139-0236f77278d9","X-Runtime":"0.049429"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/67818\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 39b3c6da98bf234d8f239002064a9c4886516ed69ffd1f5c4b95bf29a9f95b0f\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/themes":{"post":{"summary":"Create a theme","deprecated":false,"parameters":[{"name":"Object3","in":"body","schema":{"$ref":"#/definitions/Object3"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/themes/{id}":{"patch":{"summary":"Edit a theme","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this theme.","type":"integer"},{"name":"Object6","in":"body","schema":{"$ref":"#/definitions/Object6"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/organizations":{"get":{"summary":"List organizations","deprecated":false,"parameters":[{"name":"status","in":"query","required":false,"description":"The status of the organization (active/trial/inactive).","type":"array","items":{"type":"string"}},{"name":"org_type","in":"query","required":false,"description":"The organization type (platform/ads/survey_vendor/other).","type":"array","items":{"type":"string"}}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object7"}}}},"x-examples":[{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List all orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer d6534350c2ad8aa565b9b799af241becc2d9f1a969eed43c143f857caf1c1987","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"name\":\"Default\",\"slug\":\"default\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":2,\"name\":\"Civis Analytics\",\"slug\":\"civis\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":3,\"name\":\"Demo\",\"slug\":\"demo\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":4,\"name\":\"Managers\",\"slug\":\"managers\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":73844,\"name\":\"Organization 1\",\"slug\":\"organization_b\",\"accountManagerId\":1,\"csSpecialistId\":2,\"status\":\"active\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":25555,\"maxAnalystUsers\":3,\"maxReportUsers\":20,\"vertical\":\"Snake Handling\",\"csMetadata\":\"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":73845,\"name\":\"Organization 2\",\"slug\":\"organization_c\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"active\",\"orgType\":\"ads\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":73846,\"name\":\"Organization 3\",\"slug\":\"organization_d\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"trial\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"fcbfb518-dc40-4695-a2e5-9f4aef54aab3","X-Runtime":"0.048281","Content-Length":"3236"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer d6534350c2ad8aa565b9b799af241becc2d9f1a969eed43c143f857caf1c1987\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"Filter orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer e47b8243a041d3bf11d0dabd6fa44d4305a754751cd76fc7390f92e83198de7d","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"status":["active","trial"],"org_type":"platform"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":73847,\"name\":\"Organization 4\",\"slug\":\"organization_e\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"active\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":25555,\"maxAnalystUsers\":3,\"maxReportUsers\":20,\"vertical\":\"Snake Handling\",\"csMetadata\":\"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":73849,\"name\":\"Organization 6\",\"slug\":\"organization_g\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"trial\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"33aa1ce9-90af-4195-8557-69559fcb8b4d","X-Runtime":"0.039436","Content-Length":"992"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e47b8243a041d3bf11d0dabd6fa44d4305a754751cd76fc7390f92e83198de7d\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 7cb8833d14a1d90c3355b21618355eb2a53689831ac674fa8ec03eb1f287115b","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":404,"response_status_text":"Not Found","response_body":"{\"error\":\"not_found\",\"errorDescription\":\"The requested endpoint could not be found.\",\"code\":404}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"e867c517-1fca-46e4-9932-5ee7ae00fefe","X-Runtime":"0.019518","Content-Length":"96"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 7cb8833d14a1d90c3355b21618355eb2a53689831ac674fa8ec03eb1f287115b\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object9"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object13","in":"body","schema":{"$ref":"#/definitions/Object13"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object14","in":"body","schema":{"$ref":"#/definitions/Object14"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/":{"get":{"summary":"List Aliases","deprecated":false,"parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: model, cass_ncoa, container_script, gdoc_export, geocode, media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object15"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create an Alias","deprecated":false,"parameters":[{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null},"put":{"summary":"Replace all attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object17","in":"body","schema":{"$ref":"#/definitions/Object17"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update some attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object18","in":"body","schema":{"$ref":"#/definitions/Object18"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Delete an alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","deprecated":false,"parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: model, cass_ncoa, container_script, gdoc_export, geocode, media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null}},"/announcements/":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Announcements","http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer fe9c63c07630ccb79b9290a8bc3887c9b947ca2620da5ea878133aef4bf6370a","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":67819,\"subject\":\"Important message 44\",\"body\":\"The square root of 44 is 6.63.\",\"releasedAt\":\"2020-04-15T16:28:16.000Z\",\"createdAt\":\"2020-04-15T16:23:16.000Z\",\"updatedAt\":\"2020-04-15T16:23:16.000Z\"},{\"id\":67820,\"subject\":\"Important message 45\",\"body\":\"The square root of 45 is 6.71.\",\"releasedAt\":\"2020-04-15T15:28:16.000Z\",\"createdAt\":\"2020-04-15T15:23:16.000Z\",\"updatedAt\":\"2020-04-15T15:23:16.000Z\"},{\"id\":67821,\"subject\":\"Important message 46\",\"body\":\"The square root of 46 is 6.78.\",\"releasedAt\":\"2020-04-15T14:28:16.000Z\",\"createdAt\":\"2020-04-15T14:23:16.000Z\",\"updatedAt\":\"2020-04-15T14:23:16.000Z\"},{\"id\":67822,\"subject\":\"Important message 47\",\"body\":\"The square root of 47 is 6.86.\",\"releasedAt\":\"2020-04-15T13:28:16.000Z\",\"createdAt\":\"2020-04-15T13:23:16.000Z\",\"updatedAt\":\"2020-04-15T13:23:16.000Z\"},{\"id\":67823,\"subject\":\"Important message 48\",\"body\":\"The square root of 48 is 6.93.\",\"releasedAt\":\"2020-04-15T12:28:16.000Z\",\"createdAt\":\"2020-04-15T12:23:16.000Z\",\"updatedAt\":\"2020-04-15T12:23:16.000Z\"},{\"id\":67824,\"subject\":\"Important message 49\",\"body\":\"The square root of 49 is 7.0.\",\"releasedAt\":\"2020-04-15T11:28:16.000Z\",\"createdAt\":\"2020-04-15T11:23:16.000Z\",\"updatedAt\":\"2020-04-15T11:23:16.000Z\"},{\"id\":67825,\"subject\":\"Important message 50\",\"body\":\"The square root of 50 is 7.07.\",\"releasedAt\":\"2020-04-15T10:28:16.000Z\",\"createdAt\":\"2020-04-15T10:23:16.000Z\",\"updatedAt\":\"2020-04-15T10:23:16.000Z\"},{\"id\":67826,\"subject\":\"Important message 51\",\"body\":\"The square root of 51 is 7.14.\",\"releasedAt\":\"2020-04-15T09:28:16.000Z\",\"createdAt\":\"2020-04-15T09:23:16.000Z\",\"updatedAt\":\"2020-04-15T09:23:16.000Z\"},{\"id\":67827,\"subject\":\"Important message 52\",\"body\":\"The square root of 52 is 7.21.\",\"releasedAt\":\"2020-04-15T08:28:16.000Z\",\"createdAt\":\"2020-04-15T08:23:16.000Z\",\"updatedAt\":\"2020-04-15T08:23:16.000Z\"},{\"id\":67828,\"subject\":\"Important message 53\",\"body\":\"The square root of 53 is 7.28.\",\"releasedAt\":\"2020-04-15T07:28:16.000Z\",\"createdAt\":\"2020-04-15T07:23:16.000Z\",\"updatedAt\":\"2020-04-15T07:23:16.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2020-04-15T17:23:16.573Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"91d18ed0-49f6-4b43-9cb3-2c40cf796c01","X-Runtime":"0.044717","Content-Length":"2040"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer fe9c63c07630ccb79b9290a8bc3887c9b947ca2620da5ea878133aef4bf6370a\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/apps/":{"get":{"summary":"List apps","deprecated":false,"parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object19"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}":{"get":{"summary":"List details of a Decision Application","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object20"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/features/{org}":{"put":{"summary":"Update the Decision Application features for a given organization","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"org","in":"path","required":true,"description":"Organization.","type":"string"},{"name":"Object22","in":"body","schema":{"$ref":"#/definitions/Object22"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object20"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances":{"get":{"summary":"List the instances of a Decision Application","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"app_release_id","in":"query","required":false,"description":"If supplied, return only instances matching this release.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object23"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create a new instance of an application of the given slug","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object27","in":"body","schema":{"$ref":"#/definitions/Object27"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object28"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases":{"get":{"summary":"List the releases of a particular Decision Application","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object21"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create a new Decision Application release","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object25","in":"body","schema":{"$ref":"#/definitions/Object25"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object21"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}":{"get":{"summary":"Return a given app release","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the release.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object21"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update an existing Decision Application release","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The unique id of the release.","type":"integer"},{"name":"Object26","in":"body","schema":{"$ref":"#/definitions/Object26"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object21"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}":{"get":{"summary":"Return a given app instance","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object28"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update a given app instance","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object29","in":"body","schema":{"$ref":"#/definitions/Object29"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object28"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object9"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object30","in":"body","schema":{"$ref":"#/definitions/Object30"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object31","in":"body","schema":{"$ref":"#/definitions/Object31"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/archive":{"put":{"summary":"Update the archive status of this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object32","in":"body","schema":{"$ref":"#/definitions/Object32"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object21"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object9"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object33","in":"body","schema":{"$ref":"#/definitions/Object33"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object34","in":"body","schema":{"$ref":"#/definitions/Object34"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/archive":{"put":{"summary":"Update the archive status of this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object35","in":"body","schema":{"$ref":"#/definitions/Object35"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object28"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/projects":{"get":{"summary":"List the projects an App Instance belongs to","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden items. Defaults to false, returning non-hidden items.","type":"boolean"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object36"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/projects/{project_id}":{"put":{"summary":"Add an App Instance to a project","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Remove an App Instance from a project","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","deprecated":false,"parameters":[{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object39"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 432e74d655f767aede5408595c5168fcc35d4384fd0d7b774f323539b7dde092","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"organizationId\":1,\"organizationName\":\"Default\",\"organizationSlug\":\"default\",\"clusterPartitions\":[{\"clusterPartitionId\":1,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":1},{\"clusterPartitionId\":2,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":2,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":2}],\"isNatEnabled\":false},{\"id\":2,\"organizationId\":2,\"organizationName\":\"Civis Analytics\",\"organizationSlug\":\"civis\",\"clusterPartitions\":[{\"clusterPartitionId\":3,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":3,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":3},{\"clusterPartitionId\":4,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":4,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":4}],\"isNatEnabled\":false},{\"id\":3,\"organizationId\":3,\"organizationName\":\"Demo\",\"organizationSlug\":\"demo\",\"clusterPartitions\":[{\"clusterPartitionId\":5,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":5,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":5},{\"clusterPartitionId\":6,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":6,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":6}],\"isNatEnabled\":false},{\"id\":4,\"organizationId\":4,\"organizationName\":\"Managers\",\"organizationSlug\":\"managers\",\"clusterPartitions\":[{\"clusterPartitionId\":7,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":7,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":7},{\"clusterPartitionId\":8,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":8,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":8}],\"isNatEnabled\":false}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"4","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"b6db8fc4-ecf0-4d40-a08b-027cc511c592","X-Runtime":"0.062328","Content-Length":"2711"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 432e74d655f767aede5408595c5168fcc35d4384fd0d7b774f323539b7dde092\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"Object42","in":"body","schema":{"$ref":"#/definitions/Object42"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization ID","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationId\": 73855\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 97e28db99a8569e09bde513f6ce7995582f81f84b85842ab25321aac4c94d9d2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":75143,\"organizationId\":73855,\"organizationName\":\"Organization 12\",\"organizationSlug\":\"organization_m\",\"clusterPartitions\":[],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"8cd29cbd-58c6-495c-aa39-b8c19326bfc2","X-Runtime":"0.054409","Content-Length":"152"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationId\":73855}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 97e28db99a8569e09bde513f6ce7995582f81f84b85842ab25321aac4c94d9d2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization slug","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationSlug\": \"organization_n\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 290567d279fe6ef1a67fc4cef761eaf2e5239c8971d6a4fdd220339bfb9f0c95","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":75144,\"organizationId\":73856,\"organizationName\":\"Organization 13\",\"organizationSlug\":\"organization_n\",\"clusterPartitions\":[],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"2cf73450-159f-48fb-a5fc-29ef50413017","X-Runtime":"0.051712","Content-Length":"152"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationSlug\":\"organization_n\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 290567d279fe6ef1a67fc4cef761eaf2e5239c8971d6a4fdd220339bfb9f0c95\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/75142","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 0df45641e7753df0206f7ed60bae1062b4440801a8aec625d5d1687bde16c184","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":75142,\"organizationId\":73854,\"organizationName\":\"Organization 11\",\"organizationSlug\":\"organization_l\",\"clusterPartitions\":[{\"clusterPartitionId\":83128,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68783,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68783},{\"clusterPartitionId\":83129,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":68784,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68784}],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"3f86908b-9d95-40d3-9a26-b764101d1666","X-Runtime":"0.047367","Content-Length":"723"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75142\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 0df45641e7753df0206f7ed60bae1062b4440801a8aec625d5d1687bde16c184\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"patch":{"summary":"Update a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"},{"name":"Object43","in":"body","schema":{"$ref":"#/definitions/Object43"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id","description":"Update a Kubernetes cluster via PATCH","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/75145","request_body":"{\n  \"isNatEnabled\": true\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9ba8a3fdec4a8d1702429571fb9f55d530bb7b0710b1a54341e4a55e06c3d752","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":75145,\"organizationId\":73857,\"organizationName\":\"Organization 14\",\"organizationSlug\":\"organization_o\",\"clusterPartitions\":[{\"clusterPartitionId\":83130,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68785,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68785},{\"clusterPartitionId\":83131,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":68786,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68786}],\"isNatEnabled\":true}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"487415d2-c872-495a-b4f0-f7c30a6a28c4","X-Runtime":"0.060683","Content-Length":"722"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75145\" -d '{\"isNatEnabled\":true}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9ba8a3fdec4a8d1702429571fb9f55d530bb7b0710b1a54341e4a55e06c3d752\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object44"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object45"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object40"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/75146/partitions","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 18a520c834566462957119009cb48966c5eb952d118bb7363228b8f30b724d11","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"clusterPartitionId\":83132,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68787,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68787},{\"clusterPartitionId\":83133,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":68788,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68788}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"4b1753ac-69d2-4b77-9a3c-cf0feec39e66","X-Runtime":"0.043087","Content-Length":"573"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75146/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 18a520c834566462957119009cb48966c5eb952d118bb7363228b8f30b724d11\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Cluster Partition for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object46","in":"body","schema":{"$ref":"#/definitions/Object46"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object40"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/75148/partitions","request_body":"{\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 775dabd7b40997261f8df0435e6be44494d9a6aca4ddee0981a5f255cc7f77d0","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":83138,\"name\":\"jobs\",\"labels\":[\"this\"],\"instanceConfigs\":[{\"instanceConfigId\":68793,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68793}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"c904b6ae-e25d-44dc-aae3-444e44502d03","X-Runtime":"0.051305","Content-Length":"272"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75148/partitions\" -d '{\"name\":\"jobs\",\"labels\":[\"this\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 775dabd7b40997261f8df0435e6be44494d9a6aca4ddee0981a5f255cc7f77d0\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object48","in":"body","schema":{"$ref":"#/definitions/Object48"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object40"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/75150/partitions/83141","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer a4214522a1022dad0de2554c0f83d4173169dcf4503b6a79c21b7d0112091d78","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":83141,\"name\":\"jobs\",\"labels\":[\"this\",\"that\"],\"instanceConfigs\":[{\"instanceConfigId\":68796,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68796}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"57516bdd-9553-4524-9941-2e6750b54c56","X-Runtime":"0.065448","Content-Length":"279"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75150/partitions/83141\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer a4214522a1022dad0de2554c0f83d4173169dcf4503b6a79c21b7d0112091d78\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/75151/partitions/83143","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 607f763282641d21a479446f4495485b302dc7beab9f37dc3cd3e5be8bb92c40","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":83143,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68800,\"instanceType\":\"m4.xlarge\",\"minInstances\":3,\"maxInstances\":5,\"instanceMaxMemory\":15320,\"instanceMaxCpu\":4096,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68800}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"51d80eb5-1a77-4afe-977c-850101f89356","X-Runtime":"0.055120","Content-Length":"270"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75151/partitions/83143\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 607f763282641d21a479446f4495485b302dc7beab9f37dc3cd3e5be8bb92c40\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/75149/partitions/83139","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer c22a12d853884df12d7ab877bdb76a9cf4b69a74fb55111dccdf4011fc9e6765","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"0a9a25ac-1aa0-4343-a52e-fa377965861e","X-Runtime":"0.049191"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75149/partitions/83139\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c22a12d853884df12d7ab877bdb76a9cf4b69a74fb55111dccdf4011fc9e6765\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"get":{"summary":"Describe a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object40"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/75147/partitions/83134","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 0571779942a2a2fd90ff0b8ee7d746b65ee1791bbdc74835669e020f6287eb46","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":83134,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68789,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68789}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"bd542667-e4d5-445f-b127-cbd33d0f792e","X-Runtime":"0.048818","Content-Length":"271"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/75147/partitions/83134\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 0571779942a2a2fd90ff0b8ee7d746b65ee1791bbdc74835669e020f6287eb46\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}":{"get":{"summary":"Describe an Instance Config","deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object41"}}},"x-examples":null,"x-deprecation-warning":null}},"/credentials/":{"get":{"summary":"List credentials","deprecated":false,"parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object51"}}}},"x-examples":[{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f679ea1c37fc5098d18c480e49f7f0dc8b40e264a9da21a8f84db293811919ca","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":25165,\"name\":\"van-api-key-1\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:23:24.000Z\"},{\"id\":25167,\"name\":\"db_user-1\",\"type\":\"Database\",\"username\":\"db_user-1\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":46153,\"remoteHostName\":\"redshift-10000\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:22:24.000Z\"},{\"id\":25169,\"name\":\"db_user-2\",\"type\":\"Database\",\"username\":\"db_user-2\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":46154,\"remoteHostName\":\"redshift-10001\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:21:24.000Z\"},{\"id\":25170,\"name\":\"salesforce-user-key-1\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:20:24.000Z\"},{\"id\":25172,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:18:24.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"101351c2-113c-4eac-ac41-311b94b673d3","X-Runtime":"0.196759","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f679ea1c37fc5098d18c480e49f7f0dc8b40e264a9da21a8f84db293811919ca\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer a0e543021ad0f2a63a8e4967197966bf07bdb4d3ff45eacd75728943490e119e","Accept":"application/vnd.civis-platform.v2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":25173,\"name\":\"van-api-key-3\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:23:24.000Z\"},{\"id\":25175,\"name\":\"db_user-3\",\"type\":\"Database\",\"username\":\"db_user-3\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":46156,\"remoteHostName\":\"redshift-10002\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:22:24.000Z\"},{\"id\":25177,\"name\":\"db_user-4\",\"type\":\"Database\",\"username\":\"db_user-4\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":46157,\"remoteHostName\":\"redshift-10003\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:21:24.000Z\"},{\"id\":25178,\"name\":\"salesforce-user-key-2\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:20:24.000Z\"},{\"id\":25180,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T17:23:24.000Z\",\"updatedAt\":\"2020-04-15T17:18:24.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"525aae62-5272-4985-bd3f-954c5cb8c6f9","X-Runtime":"0.095211","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer a0e543021ad0f2a63a8e4967197966bf07bdb4d3ff45eacd75728943490e119e\" \\\n\t-H \"Accept: application/vnd.civis-platform.v2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database","description":"List all credentials of the specified type","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer e6c41be0a4e3e9989ced8e0b77c1b526721c9f2dfc1c13ac5b84498287d30929","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":25183,\"name\":\"db_user-5\",\"type\":\"Database\",\"username\":\"db_user-5\",\"description\":null,\"owner\":\"devuserfactory15\",\"remoteHostId\":46159,\"remoteHostName\":\"redshift-10004\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:25.000Z\",\"updatedAt\":\"2020-04-15T17:22:25.000Z\"},{\"id\":25185,\"name\":\"db_user-6\",\"type\":\"Database\",\"username\":\"db_user-6\",\"description\":null,\"owner\":\"devuserfactory15\",\"remoteHostId\":46160,\"remoteHostName\":\"redshift-10005\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:25.000Z\",\"updatedAt\":\"2020-04-15T17:21:25.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"2","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"28cd766d-b363-483c-8ab3-a40350dea283","X-Runtime":"0.099994","Content-Length":"531"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e6c41be0a4e3e9989ced8e0b77c1b526721c9f2dfc1c13ac5b84498287d30929\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","description":"List all credentials of multiple types","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer eb6d5c4efc8dee183154bdfd1f9c2a68f92376c3a14fa238ed34a7b31b08882a","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database,VAN::MyCampaign"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":25189,\"name\":\"van-api-key-7\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T17:23:25.000Z\",\"updatedAt\":\"2020-04-15T17:23:25.000Z\"},{\"id\":25191,\"name\":\"db_user-7\",\"type\":\"Database\",\"username\":\"db_user-7\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":46162,\"remoteHostName\":\"redshift-10006\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:25.000Z\",\"updatedAt\":\"2020-04-15T17:22:25.000Z\"},{\"id\":25193,\"name\":\"db_user-8\",\"type\":\"Database\",\"username\":\"db_user-8\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":46163,\"remoteHostName\":\"redshift-10007\",\"state\":null,\"createdAt\":\"2020-04-15T17:23:25.000Z\",\"updatedAt\":\"2020-04-15T17:21:25.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"3","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"07443a56-35be-4cdf-8d16-a277b8c9fee1","X-Runtime":"0.091518","Content-Length":"800"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database,VAN::MyCampaign\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer eb6d5c4efc8dee183154bdfd1f9c2a68f92376c3a14fa238ed34a7b31b08882a\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/cred
[...]
