{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object10"}}}},"x-examples":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object14","in":"body","schema":{"$ref":"#/definitions/Object14"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object10"}}},"x-examples":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object15","in":"body","schema":{"$ref":"#/definitions/Object15"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object10"}}},"x-examples":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/aliases/":{"get":{"summary":"List Aliases","parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: bsd_cons_export, model, cass_ncoa, container_script, gdoc_export, geocode, match, media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, van_list_import, van_list_export, van_person_export, van_score_export, van_sync, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object16"}}}},"x-examples":null},"post":{"summary":"Create an Alias","parameters":[{"name":"Object17","in":"body","schema":{"$ref":"#/definitions/Object17"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object16"}}},"x-examples":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object16"}}},"x-examples":null},"put":{"summary":"Replace all attributes of this Alias","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object18","in":"body","schema":{"$ref":"#/definitions/Object18"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object16"}}},"x-examples":null},"patch":{"summary":"Update some attributes of this Alias","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object19","in":"body","schema":{"$ref":"#/definitions/Object19"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object16"}}},"x-examples":null},"delete":{"summary":"Delete an alias","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: bsd_cons_export, model, cass_ncoa, container_script, gdoc_export, geocode, match, media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, van_list_import, van_list_export, van_person_export, van_score_export, van_sync, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object16"}}},"x-examples":null}},"/announcements/":{"get":{"summary":"List announcements","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object2"}}}},"x-examples":[{"resource":"Announcements","http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 2f00d5a632c52277dbd4eff019027e906440b3e2f6a699632139413c7cb4fa44","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":22619,\"subject\":\"Important message 44\",\"body\":\"The square root of 44 is 6.63.\",\"releasedAt\":\"2019-07-18T19:54:06.000Z\",\"createdAt\":\"2019-07-18T19:49:06.000Z\",\"updatedAt\":\"2019-07-18T19:49:06.000Z\"},{\"id\":22620,\"subject\":\"Important message 45\",\"body\":\"The square root of 45 is 6.71.\",\"releasedAt\":\"2019-07-18T18:54:06.000Z\",\"createdAt\":\"2019-07-18T18:49:06.000Z\",\"updatedAt\":\"2019-07-18T18:49:06.000Z\"},{\"id\":22621,\"subject\":\"Important message 46\",\"body\":\"The square root of 46 is 6.78.\",\"releasedAt\":\"2019-07-18T17:54:06.000Z\",\"createdAt\":\"2019-07-18T17:49:06.000Z\",\"updatedAt\":\"2019-07-18T17:49:06.000Z\"},{\"id\":22622,\"subject\":\"Important message 47\",\"body\":\"The square root of 47 is 6.86.\",\"releasedAt\":\"2019-07-18T16:54:06.000Z\",\"createdAt\":\"2019-07-18T16:49:06.000Z\",\"updatedAt\":\"2019-07-18T16:49:06.000Z\"},{\"id\":22623,\"subject\":\"Important message 48\",\"body\":\"The square root of 48 is 6.93.\",\"releasedAt\":\"2019-07-18T15:54:06.000Z\",\"createdAt\":\"2019-07-18T15:49:06.000Z\",\"updatedAt\":\"2019-07-18T15:49:06.000Z\"},{\"id\":22624,\"subject\":\"Important message 49\",\"body\":\"The square root of 49 is 7.0.\",\"releasedAt\":\"2019-07-18T14:54:06.000Z\",\"createdAt\":\"2019-07-18T14:49:06.000Z\",\"updatedAt\":\"2019-07-18T14:49:06.000Z\"},{\"id\":22625,\"subject\":\"Important message 50\",\"body\":\"The square root of 50 is 7.07.\",\"releasedAt\":\"2019-07-18T13:54:06.000Z\",\"createdAt\":\"2019-07-18T13:49:06.000Z\",\"updatedAt\":\"2019-07-18T13:49:06.000Z\"},{\"id\":22626,\"subject\":\"Important message 51\",\"body\":\"The square root of 51 is 7.14.\",\"releasedAt\":\"2019-07-18T12:54:06.000Z\",\"createdAt\":\"2019-07-18T12:49:06.000Z\",\"updatedAt\":\"2019-07-18T12:49:06.000Z\"},{\"id\":22627,\"subject\":\"Important message 52\",\"body\":\"The square root of 52 is 7.21.\",\"releasedAt\":\"2019-07-18T11:54:06.000Z\",\"createdAt\":\"2019-07-18T11:49:06.000Z\",\"updatedAt\":\"2019-07-18T11:49:06.000Z\"},{\"id\":22628,\"subject\":\"Important message 53\",\"body\":\"The square root of 53 is 7.28.\",\"releasedAt\":\"2019-07-18T10:54:06.000Z\",\"createdAt\":\"2019-07-18T10:49:06.000Z\",\"updatedAt\":\"2019-07-18T10:49:06.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2019-07-18T20:49:07.601Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1c8f7428-9556-405c-8b7a-4112abb9d804","X-Runtime":"0.159435","Content-Length":"2040"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2f00d5a632c52277dbd4eff019027e906440b3e2f6a699632139413c7cb4fa44\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/apps/":{"get":{"summary":"List apps","parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object20"}}}},"x-examples":null}},"/apps/{slug}":{"get":{"summary":"List details of a Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object21"}}},"x-examples":null}},"/apps/{slug}/instances":{"get":{"summary":"List the instances of a Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"app_release_id","in":"query","required":false,"description":"If supplied, return only instances matching this release.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object24"}}}},"x-examples":null},"post":{"summary":"Create a new instance of an application of the given slug","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object28","in":"body","schema":{"$ref":"#/definitions/Object28"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":null}},"/apps/{slug}/releases":{"get":{"summary":"List the releases of a particular Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object22"}}}},"x-examples":null}},"/apps/{slug}/releases/{id}":{"get":{"summary":"Return a given app release","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the release.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object22"}}},"x-examples":null}},"/apps/{slug}/instances/{id}":{"get":{"summary":"Return a given app instance","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":null},"patch":{"summary":"Update a given app instance","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object30","in":"body","schema":{"$ref":"#/definitions/Object30"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object10"}}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object34","in":"body","schema":{"$ref":"#/definitions/Object34"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object10"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object35","in":"body","schema":{"$ref":"#/definitions/Object35"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object10"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/apps/{slug}/instances/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object36","in":"body","schema":{"$ref":"#/definitions/Object36"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object29"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/projects":{"get":{"summary":"List the projects an App Instance belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden items. Defaults to false, returning non-hidden items.","type":"boolean"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object37"}}}},"x-examples":null}},"/apps/{slug}/instances/{id}/projects/{project_id}":{"put":{"summary":"Add an App Instance to a project","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null},"delete":{"summary":"Remove an App Instance from a project","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/clusters/workers":{"get":{"summary":"List Worker Clusters","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object46"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers","description":"lists all clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 8ab773361baab6907cf4f4add8b4c3c37267f5bca0d7f87cd39f35d14971abb8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0},{\"id\":46906,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1},{\"id\":46907,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"3","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"44e63487-3182-443f-89c1-e87b03118abd","X-Runtime":"0.130342","Content-Length":"403"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 8ab773361baab6907cf4f4add8b4c3c37267f5bca0d7f87cd39f35d14971abb8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/workers/{id}":{"get":{"summary":"Describe a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object47"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers/:id","description":"show a specific cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers/46908","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 663ed48fdc8612a44c4f267e8995894a1fb40877758496b61c68e74956dca6e5","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":46908,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"instances\":-1,\"instanceMaxMemory\":3188,\"instanceMaxCpu\":1024,\"instanceMaxDiskSpace\":90.0,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"a03bd49e-7ae5-4821-b95d-d3ff7e016049","X-Runtime":"0.235906","Content-Length":"224"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers/46908\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 663ed48fdc8612a44c4f267e8995894a1fb40877758496b61c68e74956dca6e5\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/workers/{id}/active_jobs":{"get":{"summary":"List Active Jobs for a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object42"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers/:id/active_jobs","description":"lists active jobs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers/46912/active_jobs","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f162180ab00b4c751c2596b132d8b2f713fb4b09ae3ae60d16a4a27a0596323e","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":34698,\"name\":\"Script #34698\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"running\",\"createdAt\":\"2019-07-18T20:49:40.000Z\",\"updatedAt\":\"2019-07-18T20:49:40.000Z\",\"runs\":[{\"id\":8596,\"state\":\"running\",\"createdAt\":\"2019-07-18T20:49:40.000Z\",\"startedAt\":\"2019-07-18T20:49:40.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":8596,\"state\":\"running\",\"createdAt\":\"2019-07-18T20:49:40.000Z\",\"startedAt\":\"2019-07-18T20:49:40.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":90593,\"name\":\"User devuserfactory54 54\",\"username\":\"devuserfactory54\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":90593,\"name\":\"User devuserfactory54 54\",\"username\":\"devuserfactory54\",\"initials\":\"UD\",\"online\":null}}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1efda6e3-f94c-4e8c-8687-05d2f362f389","X-Runtime":"0.235521","Content-Length":"800"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers/46912/active_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f162180ab00b4c751c2596b132d8b2f713fb4b09ae3ae60d16a4a27a0596323e\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/workers/{id}/queued_jobs":{"get":{"summary":"List Queued Jobs for a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object42"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers/:id/queued_jobs","description":"lists queued jobs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers/46910/queued_jobs","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 77b4a4741f0b34a8273e703cd63a4bad036d317a510d9cd4f7e2d79b9cf89a90","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":34695,\"name\":\"Script #34695\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"queued\",\"createdAt\":\"2019-07-18T20:49:37.000Z\",\"updatedAt\":\"2019-07-18T20:49:37.000Z\",\"runs\":[{\"id\":8595,\"state\":\"queued\",\"createdAt\":\"2019-07-18T20:49:37.000Z\",\"startedAt\":\"2019-07-18T20:49:37.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":8595,\"state\":\"queued\",\"createdAt\":\"2019-07-18T20:49:37.000Z\",\"startedAt\":\"2019-07-18T20:49:37.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":90587,\"name\":\"User devuserfactory49 49\",\"username\":\"devuserfactory49\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":90587,\"name\":\"User devuserfactory49 49\",\"username\":\"devuserfactory49\",\"initials\":\"UD\",\"online\":null}}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"b3285ca7-620f-47e3-ac5a-02471e50ed34","X-Runtime":"0.236610","Content-Length":"797"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers/46910/queued_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 77b4a4741f0b34a8273e703cd63a4bad036d317a510d9cd4f7e2d79b9cf89a90\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","parameters":[{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object48"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 44a4537a0edb9c9df81e264fef8316ea36e1a0ce4eae9202dd5535ec60c43c79","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"organizationId\":1,\"organizationName\":\"Default\",\"organizationSlug\":\"default\",\"clusterPartitions\":[{\"clusterPartitionId\":1,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":1},{\"clusterPartitionId\":2,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":2,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":2}],\"isNatEnabled\":false},{\"id\":2,\"organizationId\":2,\"organizationName\":\"Admin\",\"organizationSlug\":\"admin\",\"clusterPartitions\":[{\"clusterPartitionId\":3,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":3,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":3},{\"clusterPartitionId\":4,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":4,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":4}],\"isNatEnabled\":false},{\"id\":3,\"organizationId\":3,\"organizationName\":\"Civis Analytics\",\"organizationSlug\":\"civis\",\"clusterPartitions\":[{\"clusterPartitionId\":5,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":5,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":5},{\"clusterPartitionId\":6,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":6,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":6}],\"isNatEnabled\":false},{\"id\":4,\"organizationId\":4,\"organizationName\":\"Demo\",\"organizationSlug\":\"demo\",\"clusterPartitions\":[{\"clusterPartitionId\":7,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":7,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":7},{\"clusterPartitionId\":8,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":8,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":8}],\"isNatEnabled\":false},{\"id\":5,\"organizationId\":5,\"organizationName\":\"Managers\",\"organizationSlug\":\"managers\",\"clusterPartitions\":[{\"clusterPartitionId\":9,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":9,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":9},{\"clusterPartitionId\":10,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":10,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":10}],\"isNatEnabled\":false}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"aa9b1edd-8468-4752-88c0-9d30b6249419","X-Runtime":"0.180724","Content-Length":"3387"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 44a4537a0edb9c9df81e264fef8316ea36e1a0ce4eae9202dd5535ec60c43c79\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object48"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/23162","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer e21f5703708761cb4724b72e5bc5ea454d4997a214f2576d3c66c6728f2c44e6","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":23162,\"organizationId\":47356,\"organizationName\":\"Organization 33\",\"organizationSlug\":\"organization_ah\",\"clusterPartitions\":[{\"clusterPartitionId\":88219,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":82675,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82675},{\"clusterPartitionId\":88220,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":82676,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82676}],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"55d9960b-a94c-4cde-9263-c6d157df4a62","X-Runtime":"0.104092","Content-Length":"724"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/23162\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e21f5703708761cb4724b72e5bc5ea454d4997a214f2576d3c66c6728f2c44e6\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object53"}}}},"x-examples":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object54"}}}},"x-examples":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object49"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/23166/partitions","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 867de7f7aaee5012112b79bea1b556926d6cd4d2797ace5bb527ca6077963bdd","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"clusterPartitionId\":88223,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":82679,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82679},{\"clusterPartitionId\":88224,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":82680,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82680}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"16fc9dd5-53ba-4977-9035-d4ad563654e2","X-Runtime":"0.094311","Content-Length":"573"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/23166/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 867de7f7aaee5012112b79bea1b556926d6cd4d2797ace5bb527ca6077963bdd\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"post":{"summary":"Create a Cluster Partition for given cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object55","in":"body","schema":{"$ref":"#/definitions/Object55"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object49"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/23168/partitions","request_body":"{\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 79595a63adb5fdd00a729806f3823be2d59100c625eb98965e3f0422259956c4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":88229,\"name\":\"jobs\",\"labels\":[\"this\"],\"instanceConfigs\":[{\"instanceConfigId\":82685,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82685}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"65cd6df7-22b6-4488-9fd1-4ff708e7d588","X-Runtime":"0.152017","Content-Length":"272"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/23168/partitions\" -d '{\"name\":\"jobs\",\"labels\":[\"this\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 79595a63adb5fdd00a729806f3823be2d59100c625eb98965e3f0422259956c4\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object57","in":"body","schema":{"$ref":"#/definitions/Object57"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object49"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/23170/partitions/88232","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 2aa004f288e0fdd863c8129269252e21312f572da72ee79459c40f574cfa1490","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":88232,\"name\":\"jobs\",\"labels\":[\"this\",\"that\"],\"instanceConfigs\":[{\"instanceConfigId\":82688,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82688}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"c1655b46-ef26-48b4-ba0e-a71b56e45026","X-Runtime":"0.119100","Content-Length":"279"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/23170/partitions/88232\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2aa004f288e0fdd863c8129269252e21312f572da72ee79459c40f574cfa1490\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/23171/partitions/88234","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 508a985829b15058919cb8bf191efe254deeb85a73d1021dc8d3059e9887fe36","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":88234,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":82692,\"instanceType\":\"m4.xlarge\",\"minInstances\":3,\"maxInstances\":5,\"instanceMaxMemory\":15320,\"instanceMaxCpu\":4096,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82692}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"5d763c49-b1af-477d-a5f8-674809ce5f07","X-Runtime":"0.152312","Content-Length":"270"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/23171/partitions/88234\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 508a985829b15058919cb8bf191efe254deeb85a73d1021dc8d3059e9887fe36\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"delete":{"summary":"Delete a Cluster Partition","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/23169/partitions/88230","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 2fadbfa1d8ff5a4508f7991202a476e1ba5b92fc92429c2d2e28a98151749add","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"df3ac33d-a4ae-433b-9a06-3d902701fb91","X-Runtime":"0.235546"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/23169/partitions/88230\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2fadbfa1d8ff5a4508f7991202a476e1ba5b92fc92429c2d2e28a98151749add\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"get":{"summary":"Describe a Cluster Partition","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object49"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/23167/partitions/88225","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer be235e3de005c0ede5e3c4ba77017ce0fa60742dd4f51c39e49b66aaa6929b59","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":88225,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":82681,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":82681}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"27934cdb-ec4b-433c-ba45-b866f41853d1","X-Runtime":"0.103004","Content-Length":"271"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/23167/partitions/88225\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer be235e3de005c0ede5e3c4ba77017ce0fa60742dd4f51c39e49b66aaa6929b59\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/codes/":{"get":{"summary":"List codes","parameters":[{"name":"limit","in":"query","required":false,"description":"The maximum number of codes to return.","type":"integer"},{"name":"type","in":"query","required":false,"description":"The code's type; e.g., Code::FrontEnd.","type":"string"},{"name":"featured","in":"query","required":false,"description":"If true, return featured codes.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object59"}}}},"x-examples":[{"resource":"Codes","http_method":"GET","route":"http://api.civis.test/codes","description":"List all codes for a user","explanation":null,"parameters":[{"required":false,"name":"limit","description":"The maximum number of codes to return."},{"required":false,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":false,"name":"featured","description":"If true, return featured codes."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/codes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9c830effb017438f1ff8b9a5e9f7635c7e54d84cc0c6b6029eb98aa8b0ec8a14","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":45676,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-07-18T20:49:48.000Z\",\"updatedAt\":\"2019-07-18T20:49:48.000Z\"},{\"id\":45677,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-07-18T20:49:49.000Z\",\"updatedAt\":\"2019-07-18T20:49:49.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"28597958-09bd-4c22-89f8-83f19b0a08d9","X-Runtime":"0.144515","Content-Length":"273"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9c830effb017438f1ff8b9a5e9f7635c7e54d84cc0c6b6029eb98aa8b0ec8a14\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Codes","http_method":"GET","route":"http://api.civis.test/codes?limit=1","description":"Limit the number of codes returned","explanation":null,"parameters":[{"required":false,"name":"limit","description":"The maximum number of codes to return."},{"required":false,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":false,"name":"featured","description":"If true, return featured codes."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/codes?limit=1","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 8defbdc740edfa709a26ec2e15551bb944df39dbb8b82f5868eadaf1299add8e","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"limit":"1"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":45678,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-07-18T20:49:49.000Z\",\"updatedAt\":\"2019-07-18T20:49:49.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"71f1124f-cf74-4563-8286-4967a4404d42","X-Runtime":"0.093349","Content-Length":"137"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes?limit=1\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 8defbdc740edfa709a26ec2e15551bb944df39dbb8b82f5868eadaf1299add8e\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Codes","http_method":"GET","route":"http://api.civis.test/codes?type=Code::FrontEnd","description":"List all codes of the specified type","explanation":null,"parameters":[{"required":false,"name":"limit","description":"The maximum number of codes to return."},{"required":false,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":false,"name":"featured","description":"If true, return featured codes."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/codes?type=Code::FrontEnd","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer b29981dd2043aecdfd0973ee3cbe1ab2edeae535d3273a1027e89b5a0d8d8ecf","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Code::FrontEnd"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":45680,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-07-18T20:49:50.000Z\",\"updatedAt\":\"2019-07-18T20:49:50.000Z\"},{\"id\":45681,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-07-18T20:49:51.000Z\",\"updatedAt\":\"2019-07-18T20:49:51.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"9279a8ce-abe0-43e3-a93d-6ca8526122c7","X-Runtime":"0.196805","Content-Length":"273"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes?type=Code::FrontEnd\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer b29981dd2043aecdfd0973ee3cbe1ab2edeae535d3273a1027e89b5a0d8d8ecf\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Codes","http_method":"GET","route":"http://api.civis.test/codes?featured=true","description":"List all featured codes","explanation":null,"parameters":[{"required":false,"name":"limit","description":"The maximum number of codes to return."},{"required":false,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":false,"name":"featured","description":"If true, return featured codes."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/codes?featured=true","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer dd85d26752b061ec7484cf6bd65cc6d40ed85ef08844f2f33935840ae7efe590","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"featured":"true"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":45684,\"name\":\"featured_code_1\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-07-18T20:49:53.000Z\",\"updatedAt\":\"2019-07-18T20:49:53.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"c1f529b2-0622-4278-af42-38d4a73b7b9a","X-Runtime":"0.099969","Content-Length":"141"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes?featured=true\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer dd85d26752b061ec7484cf6bd65cc6d40ed85ef08844f2f33935840ae7efe590\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"post":{"summary":"Create a new code","parameters":[{"name":"Object61","in":"body","schema":{"$ref":"#/definitions/Object61"},"required":true}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Codes","http_method":"POST","route":"http://api.civis.test/codes","description":"Create a code","explanation":null,"parameters":[{"required":true,"name":"name","description":"Name of code."},{"required":true,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":true,"name":"body","description":"Actual code contents; e.g., HTML, SQL, etc."},{"required":true,"name":"readme","description":"User specified information about this code. Markdown format accepted."},{"required":false,"name":"score","description":"Internal Civis Use Only."},{"required":false,"name":"authS3Url","description":"Authorized_s3_link to file."}],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/codes","request_body":"{\n  \"type\": \"Code::FrontEnd\",\n  \"name\": \"test_code\",\n  \"body\": \"test_body\",\n  \"readme\": \"test_readme\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 2bb04b9bfbf7994236c48cc99dda675413f3165731dc58b8c885c03bb631c408","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"8b5c0565-bd4b-423c-856d-469465489d2d","X-Runtime":"0.488756"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/codes\" -d '{\"type\":\"Code::FrontEnd\",\"name\":\"test_code\",\"body\":\"test_body\",\"readme\":\"test_readme\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2bb04b9bfbf7994236c48cc99dda675413f3165731dc58b8c885c03bb631c408\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Codes","http_method":"POST","route":"http://api.civis.test/codes","description":"Attempting to create a code with an invalid type returns an error","explanation":null,"parameters":[{"required":true,"name":"name","description":"Name of code."},{"required":true,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":true,"name":"body","description":"Actual code contents; e.g., HTML, SQL, etc."},{"required":true,"name":"readme","description":"User specified information about this code. Markdown format accepted."},{"required":false,"name":"score","description":"Internal Civis Use Only."},{"required":false,"name":"authS3Url","description":"Authorized_s3_link to file."}],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/codes","request_body":"{\n  \"type\": \"Code::InvalidType\",\n  \"name\": \"test_code\",\n  \"body\": \"test_body\",\n  \"readme\": \"test_readme\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer c8af7fede3c9eb2a9c5a1aabae1f0e6120d69fc14e63ec47f932a9b4c9805a44","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":422,"response_status_text":"Unprocessable Entity","response_body":"{\"error\":\"invalid_resource\",\"errorDescription\":\"The given resource was invalid.\",\"code\":422}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1fa466d9-e8ae-442b-b406-38eff4fc999f","X-Runtime":"0.318774","Content-Length":"92"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes\" -d '{\"type\":\"Code::InvalidType\",\"name\":\"test_code\",\"body\":\"test_body\",\"readme\":\"test_readme\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c8af7fede3c9eb2a9c5a1aabae1f0e6120d69fc14e63ec47f932a9b4c9805a44\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/codes/{id}":{"get":{"summary":"Show basic code info","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object60"}}},"x-examples":[{"resource":"Codes","http_method":"GET","route":"http://api.civis.test/codes/:id","description":"View a code","explanation":null,"parameters":[{"required":true,"name":"id","description":"The ID for this code."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/codes/45685","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 5338c4c9cbfe04db2b6469ddd7b06ffed3f1afa313ffa3f308eb2d5e6b5389b3","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":45685,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"body\":\"body_content\",\"readme\":\"readme_content\",\"score\":0,\"authS3Url\":\"http://s3_url\",\"createdAt\":\"2019-07-18T20:49:54.000Z\",\"updatedAt\":\"2019-07-18T20:49:54.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"6936602f-9dd1-48e8-8635-34aea8b9a7ad","X-Runtime":"0.275563","Content-Length":"221"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes/45685\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 5338c4c9cbfe04db2b6469ddd7b06ffed3f1afa313ffa3f308eb2d5e6b5389b3\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"put":{"summary":"Update a code","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"},{"name":"Object62","in":"body","schema":{"$ref":"#/definitions/Object62"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object60"}}},"x-examples":[{"resource":"Codes","http_method":"PUT","route":"http://api.civis.test/codes/:id","description":"Update a code via PUT","explanation":null,"parameters":[{"required":true,"name":"id","description":"The ID for this code."},{"required":true,"name":"name","description":"Name of code."},{"required":true,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":true,"name":"body","description":"Actual code contents; e.g., HTML, SQL, etc."},{"required":true,"name":"readme","description":"User specified information about this code. Markdown format accepted."},{"required":false,"name":"score","description":"Internal Civis Use Only."},{"required":false,"name":"authS3Url","description":"Authorized_s3_link to file."}],"response_fields":[],"requests":[{"request_method":"PUT","request_path":"http://api.civis.test/codes/45687","request_body":"{\n  \"name\": \"test_result\",\n  \"type\": \"Code::FrontEnd\",\n  \"body\": \"new_body\",\n  \"readme\": \"new_readme\",\n  \"score\": 15\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 89c2b0c32de7f6a8bbe10588456ec4b8c1a5a7e364a4650efa9606ca73a401d5","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":45687,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"body\":\"new_body\",\"readme\":\"new_readme\",\"score\":15,\"authS3Url\":\"http://s3_url\",\"createdAt\":\"2019-07-18T20:49:57.000Z\",\"updatedAt\":\"2019-07-18T20:49:57.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"eb7e92ce-b37b-44f8-9541-1886b98de2d3","X-Runtime":"0.147235","Content-Length":"214"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes/45687\" -d '{\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"body\":\"new_body\",\"readme\":\"new_readme\",\"score\":15}' -X PUT \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 89c2b0c32de7f6a8bbe10588456ec4b8c1a5a7e364a4650efa9606ca73a401d5\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Codes","http_method":"PUT","route":"http://api.civis.test/codes/:id","description":"Cannot update type to an invalid value","explanation":null,"parameters":[{"required":true,"name":"id","description":"The ID for this code."},{"required":true,"name":"name","description":"Name of code."},{"required":true,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":true,"name":"body","description":"Actual code contents; e.g., HTML, SQL, etc."},{"required":true,"name":"readme","description":"User specified information about this code. Markdown format accepted."},{"required":false,"name":"score","description":"Internal Civis Use Only."},{"required":false,"name":"authS3Url","description":"Authorized_s3_link to file."}],"response_fields":[],"requests":[{"request_method":"PUT","request_path":"http://api.civis.test/codes/45688","request_body":"{\n  \"name\": \"test_result\",\n  \"type\": \"Code::InvalidType\",\n  \"body\": \"new_body\",\n  \"readme\": \"new_readme\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 1c011aefa6f28bd03fcc2d1ca8401141e76ab2a5d323cd3b3c565e8915f5ba21","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":422,"response_status_text":"Unprocessable Entity","response_body":"{\"error\":\"invalid_resource\",\"errorDescription\":\"The given resource was invalid.\",\"code\":422}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"e50f561b-aeb3-4345-bf0f-08fd6d313896","X-Runtime":"0.109470","Content-Length":"92"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes/45688\" -d '{\"name\":\"test_result\",\"type\":\"Code::InvalidType\",\"body\":\"new_body\",\"readme\":\"new_readme\"}' -X PUT \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 1c011aefa6f28bd03fcc2d1ca8401141e76ab2a5d323cd3b3c565e8915f5ba21\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"patch":{"summary":"Update a code","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"},{"name":"Object63","in":"body","schema":{"$ref":"#/definitions/Object63"},"required":false}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Codes","http_method":"PATCH","route":"http://api.civis.test/codes/:id","description":"Update a code via PATCH","explanation":null,"parameters":[{"required":true,"name":"id","description":"The ID for this code."},{"required":false,"name":"name","description":"Name of code."},{"required":false,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":false,"name":"body","description":"Actual code contents; e.g., HTML, SQL, etc."},{"required":false,"name":"readme","description":"User specified information about this code. Markdown format accepted."},{"required":false,"name":"score","description":"Internal Civis Use Only."},{"required":false,"name":"authS3Url","description":"Authorized_s3_link to file."}],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/codes/45689","request_body":"{\n  \"name\": \"new_name\",\n  \"readme\": \"new_readme\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer cad858adb3b2506872517b776d6c7b3431197b435cc5f303efab6924c9521146","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"f04a343c-430a-4a7c-b887-eafe309e38bc","X-Runtime":"0.267404"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/codes/45689\" -d '{\"name\":\"new_name\",\"readme\":\"new_readme\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer cad858adb3b2506872517b776d6c7b3431197b435cc5f303efab6924c9521146\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Codes","http_method":"PATCH","route":"http://api.civis.test/codes/:id","description":"Cannot update type to an invalid value","explanation":null,"parameters":[{"required":true,"name":"id","description":"The ID for this code."},{"required":false,"name":"name","description":"Name of code."},{"required":false,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":false,"name":"body","description":"Actual code contents; e.g., HTML, SQL, etc."},{"required":false,"name":"readme","description":"User specified information about this code. Markdown format accepted."},{"required":false,"name":"score","description":"Internal Civis Use Only."},{"required":false,"name":"authS3Url","description":"Authorized_s3_link to file."}],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/codes/45690","request_body":"{\n  \"type\": \"Code::InvalidType\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 7bce5a0eb60064a97625ddc2788a345d11bbf4cffd92b0a4b246487e5bad93e2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":422,"response_status_text":"Unprocessable Entity","response_body":"{\"error\":\"invalid_resource\",\"errorDescription\":\"The given resource was invalid.\",\"code\":422}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"3d40b3e9-ce2c-4bc8-bb64-50924388a3d5","X-Runtime":"0.323692","Content-Length":"92"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/codes/45690\" -d '{\"type\":\"Code::InvalidType\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 7bce5a0eb60064a97625ddc2788a345d11bbf4cffd92b0a4b246487e5bad93e2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Codes","http_method":"PATCH","route":"http://api.civis.test/codes/:id","description":"Cannot update the score","explanation":null,"parameters":[{"required":true,"name":"id","description":"The ID for this code."},{"required":false,"name":"name","description":"Name of code."},{"required":false,"name":"type","description":"The code's type; e.g., Code::FrontEnd."},{"required":false,"name":"body","description":"Actual code contents; e.g., HTML, SQL, etc."},{"required":false,"name":"readme","description":"User specified information about this code. Markdown format accepted."},{"required":false,"name":"score","description":"Internal Civis Use Only."},{"required":false,"name":"authS3Url","description":"Authorized_s3_link to file."}],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/codes/45692","request_body":"{\n  \"name\": \"new_name\",\n  \"score\": 15\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 92819af863f8de516a0fe100855f6a955aef18478df0421e1c7ad349f86b8cfe","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"0f5244dc-630a-438b-86cc-da69f75ac7d4","X-Runtime":"0.351397"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/codes/45692\" -d '{\"name\":\"new_name\",\"score\":15}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 92819af863f8de516a0fe100855f6a955aef18478df0421e1c7ad349f86b8cfe\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"delete":{"summary":"Delete a code","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Codes","http_method":"DELETE","route":"http://api.civis.test/codes/:id","description":"Delete a code","explanation":null,"parameters":[{"required":true,"name":"id","description":"The ID for this code."}],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/codes/45691","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 77b41bb988f73568fda4e8b7a12a5632c6ff87a624d1e988c97011b54164cf4b","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"df543394-c6dc-409f-9fbb-659fe1d6cdcc","X-Runtime":"0.178984"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/codes/45691\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 77b41bb988f73568fda4e8b7a12a5632c6ff87a624d1e988c97011b54164cf4b\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/credentials/":{"get":{"summary":"List credentials","parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object64"}}}},"x-examples":[{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 01a46badeb65977775bbfbfb75618793bd2dd2eb412321a98f243a1918479ab1","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24017,\"name\":\"van-api-key-1\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:08.000Z\",\"updatedAt\":\"2019-07-18T20:50:08.000Z\"},{\"id\":24019,\"name\":\"db_user-1\",\"type\":\"Database\",\"username\":\"db_user-1\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":87973,\"remoteHostName\":\"redshift-10000\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:09.000Z\",\"updatedAt\":\"2019-07-18T20:49:08.000Z\"},{\"id\":24021,\"name\":\"db_user-2\",\"type\":\"Database\",\"username\":\"db_user-2\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":87974,\"remoteHostName\":\"redshift-10001\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:10.000Z\",\"updatedAt\":\"2019-07-18T20:48:09.000Z\"},{\"id\":24022,\"name\":\"salesforce-user-key-1\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:10.000Z\",\"updatedAt\":\"2019-07-18T20:47:10.000Z\"},{\"id\":24024,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:10.000Z\",\"updatedAt\":\"2019-07-18T20:45:10.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1a2d5ae9-58a7-4d14-b59b-6ef3e0a8a9a6","X-Runtime":"0.518152","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 01a46badeb65977775bbfbfb75618793bd2dd2eb412321a98f243a1918479ab1\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9521e9c05a5dd52a5d63d3973d119080a000b2f60ba087887738b49ff5032a91","Accept":"application/vnd.civis-platform.v2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24025,\"name\":\"van-api-key-3\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:50:11.000Z\"},{\"id\":24027,\"name\":\"db_user-3\",\"type\":\"Database\",\"username\":\"db_user-3\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":87976,\"remoteHostName\":\"redshift-10002\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:49:11.000Z\"},{\"id\":24029,\"name\":\"db_user-4\",\"type\":\"Database\",\"username\":\"db_user-4\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":87977,\"remoteHostName\":\"redshift-10003\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:48:11.000Z\"},{\"id\":24030,\"name\":\"salesforce-user-key-2\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:47:11.000Z\"},{\"id\":24032,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:45:11.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"84c20b14-78c9-4e23-9f24-f9ae7ab37b5b","X-Runtime":"0.260577","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9521e9c05a5dd52a5d63d3973d119080a000b2f60ba087887738b49ff5032a91\" \\\n\t-H \"Accept: application/vnd.civis-platform.v2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database","description":"List all credentials of the specified type","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer cc7db1647665a368cf4fe13caa1db275ec8ce05da74dd06e17cc9ee7f6581383","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24035,\"name\":\"db_user-5\",\"type\":\"Database\",\"username\":\"db_user-5\",\"description\":null,\"owner\":\"devuserfactory85\",\"remoteHostId\":87979,\"remoteHostName\":\"redshift-10004\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:13.000Z\",\"updatedAt\":\"2019-07-18T20:49:12.000Z\"},{\"id\":24037,\"name\":\"db_user-6\",\"type\":\"Database\",\"username\":\"db_user-6\",\"description\":null,\"owner\":\"devuserfactory85\",\"remoteHostId\":87980,\"remoteHostName\":\"redshift-10005\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:13.000Z\",\"updatedAt\":\"2019-07-18T20:48:13.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"2","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id"
[...]
