{"swagger": "2.0", "info": {"title": "Civis Analytics API", "version": "1"}, "host": "api.civisanalytics.com", "schemes": ["https"], "produces": ["application/json"], "paths": {"/aliases/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object10"}}}}, "x-examples": null}}, "/aliases/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "Object14", "in": "body", "schema": {"$ref": "#/definitions/Object14"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object10"}}}, "x-examples": null}}, "/aliases/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "The ID of the user.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/aliases/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "Object15", "in": "body", "schema": {"$ref": "#/definitions/Object15"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object10"}}}, "x-examples": null}}, "/aliases/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "The ID of the group.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/aliases/": {"get": {"summary": "List Aliases", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 50. Maximum allowed is 1000.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object16"}}}}, "x-examples": null}, "post": {"summary": "Create an Alias", "parameters": [{"name": "Object17", "in": "body", "schema": {"$ref": "#/definitions/Object17"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}, "x-examples": null}}, "/aliases/{id}": {"get": {"summary": "Get an Alias", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}, "x-examples": null}, "put": {"summary": "Replace all attributes of this Alias", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The id of the Alias object.", "type": "integer"}, {"name": "Object18", "in": "body", "schema": {"$ref": "#/definitions/Object18"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}, "x-examples": null}, "patch": {"summary": "Update some attributes of this Alias", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The id of the Alias object.", "type": "integer"}, {"name": "Object19", "in": "body", "schema": {"$ref": "#/definitions/Object19"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}, "x-examples": null}, "delete": {"summary": "Delete an alias", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The id of the Alias object.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/aliases/{object_type}/{alias}": {"get": {"summary": "Get details about an alias within an FCO type", "parameters": [{"name": "object_type", "in": "path", "required": true, "description": "The type of the object. Valid types include: bsd_cons_export, model, cass_ncoa, catalist, container_script, gdoc_export, geocode, match, media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, silverpop_contact_import, silverpop_contact_export, silverpop_data_import, silverpop_remove_recipient, sql_script, table_archival, table_unarchival, van_list_import, van_list_export, van_person_export, van_score_export, van_sync, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.", "type": "string"}, {"name": "alias", "in": "path", "required": true, "description": "The alias of the object", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}, "x-examples": null}}, "/announcements/": {"get": {"summary": "List announcements", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 10. Maximum allowed is 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to released_at. Must be one of: released_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object2"}}}}, "x-examples": [{"resource": "Announcements", "http_method": "GET", "route": "http://api.civis.test/announcements", "description": "List first page of announcements", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/announcements", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer cc9b628ba4ca8f2b72f854aa8a124d4ed777e68a5a7379b5babe7c038b5d65db", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":83290,\"subject\":\"Important message 44\",\"body\":\"The square root of 44 is 6.63.\",\"releasedAt\":\"2019-01-31T15:14:37.000Z\",\"createdAt\":\"2019-01-31T15:09:37.000Z\",\"updatedAt\":\"2019-01-31T15:09:37.000Z\"},{\"id\":83291,\"subject\":\"Important message 45\",\"body\":\"The square root of 45 is 6.71.\",\"releasedAt\":\"2019-01-31T14:14:37.000Z\",\"createdAt\":\"2019-01-31T14:09:37.000Z\",\"updatedAt\":\"2019-01-31T14:09:37.000Z\"},{\"id\":83292,\"subject\":\"Important message 46\",\"body\":\"The square root of 46 is 6.78.\",\"releasedAt\":\"2019-01-31T13:14:37.000Z\",\"createdAt\":\"2019-01-31T13:09:37.000Z\",\"updatedAt\":\"2019-01-31T13:09:37.000Z\"},{\"id\":83293,\"subject\":\"Important message 47\",\"body\":\"The square root of 47 is 6.86.\",\"releasedAt\":\"2019-01-31T12:14:37.000Z\",\"createdAt\":\"2019-01-31T12:09:37.000Z\",\"updatedAt\":\"2019-01-31T12:09:37.000Z\"},{\"id\":83294,\"subject\":\"Important message 48\",\"body\":\"The square root of 48 is 6.93.\",\"releasedAt\":\"2019-01-31T11:14:37.000Z\",\"createdAt\":\"2019-01-31T11:09:37.000Z\",\"updatedAt\":\"2019-01-31T11:09:37.000Z\"},{\"id\":83295,\"subject\":\"Important message 49\",\"body\":\"The square root of 49 is 7.0.\",\"releasedAt\":\"2019-01-31T10:14:37.000Z\",\"createdAt\":\"2019-01-31T10:09:37.000Z\",\"updatedAt\":\"2019-01-31T10:09:37.000Z\"},{\"id\":83296,\"subject\":\"Important message 50\",\"body\":\"The square root of 50 is 7.07.\",\"releasedAt\":\"2019-01-31T09:14:37.000Z\",\"createdAt\":\"2019-01-31T09:09:37.000Z\",\"updatedAt\":\"2019-01-31T09:09:37.000Z\"},{\"id\":83297,\"subject\":\"Important message 51\",\"body\":\"The square root of 51 is 7.14.\",\"releasedAt\":\"2019-01-31T08:14:37.000Z\",\"createdAt\":\"2019-01-31T08:09:37.000Z\",\"updatedAt\":\"2019-01-31T08:09:37.000Z\"},{\"id\":83298,\"subject\":\"Important message 52\",\"body\":\"The square root of 52 is 7.21.\",\"releasedAt\":\"2019-01-31T07:14:37.000Z\",\"createdAt\":\"2019-01-31T07:09:37.000Z\",\"updatedAt\":\"2019-01-31T07:09:37.000Z\"},{\"id\":83299,\"subject\":\"Important message 53\",\"body\":\"The square root of 53 is 7.28.\",\"releasedAt\":\"2019-01-31T06:14:37.000Z\",\"createdAt\":\"2019-01-31T06:09:37.000Z\",\"updatedAt\":\"2019-01-31T06:09:37.000Z\"}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Date": "2019-01-31T16:09:38.059Z", "Access-Control-Expose-Headers": "Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries", "X-Pagination-Per-Page": "10", "X-Pagination-Current-Page": "1", "X-Pagination-Total-Pages": "2", "X-Pagination-Total-Entries": "20", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "4f8d25a1-368e-4018-981a-955139c5490c", "X-Runtime": "0.097744", "Content-Length": "2040"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer cc9b628ba4ca8f2b72f854aa8a124d4ed777e68a5a7379b5babe7c038b5d65db\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/apps/": {"get": {"summary": "List apps", "parameters": [], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object20"}}}}, "x-examples": null}}, "/apps/{slug}": {"get": {"summary": "List details of a Decision Application", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object21"}}}, "x-examples": null}}, "/apps/{slug}/features/{org}": {"put": {"summary": "Update the Decision Application features for a given organization", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "org", "in": "path", "required": true, "description": "Organization.", "type": "string"}, {"name": "Object23", "in": "body", "schema": {"$ref": "#/definitions/Object23"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object21"}}}, "x-examples": null}}, "/apps/{slug}/instances": {"get": {"summary": "List the instances of a Decision Application", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested item(s).", "type": "string"}, {"name": "app_release_id", "in": "query", "required": false, "description": "If supplied, return only instances matching this release.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object24"}}}}, "x-examples": null}, "post": {"summary": "Create a new instance of an application of the given slug", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "Object28", "in": "body", "schema": {"$ref": "#/definitions/Object28"}, "required": false}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object29"}}}, "x-examples": null}}, "/apps/{slug}/releases": {"get": {"summary": "List the releases of a particular Decision Application", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested item(s).", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object22"}}}}, "x-examples": null}, "post": {"summary": "Create a new Decision Application release", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "Object26", "in": "body", "schema": {"$ref": "#/definitions/Object26"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object22"}}}, "x-examples": null}}, "/apps/{slug}/releases/{id}": {"get": {"summary": "Return a given app release", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The unique id of the release.", "type": "integer"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object22"}}}, "x-examples": null}, "patch": {"summary": "Update an existing Decision Application release", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The unique id of the release.", "type": "integer"}, {"name": "Object27", "in": "body", "schema": {"$ref": "#/definitions/Object27"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object22"}}}, "x-examples": null}}, "/apps/{slug}/instances/{id}": {"get": {"summary": "Return a given app instance", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The unique id of the instance.", "type": "integer"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object29"}}}, "x-examples": null}, "patch": {"summary": "Update a given app instance", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The unique id of the instance.", "type": "integer"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "Object30", "in": "body", "schema": {"$ref": "#/definitions/Object30"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object29"}}}, "x-examples": null}}, "/apps/{slug}/releases/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object10"}}}}, "x-examples": null}}, "/apps/{slug}/releases/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "Object31", "in": "body", "schema": {"$ref": "#/definitions/Object31"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object10"}}}, "x-examples": null}}, "/apps/{slug}/releases/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "The ID of the user.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/apps/{slug}/releases/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "Object32", "in": "body", "schema": {"$ref": "#/definitions/Object32"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object10"}}}, "x-examples": null}}, "/apps/{slug}/releases/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "The ID of the group.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/apps/{slug}/releases/{id}/archive": {"put": {"summary": "Update the archive status of this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "Object33", "in": "body", "schema": {"$ref": "#/definitions/Object33"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object22"}}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object10"}}}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "Object34", "in": "body", "schema": {"$ref": "#/definitions/Object34"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object10"}}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "The ID of the user.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "Object35", "in": "body", "schema": {"$ref": "#/definitions/Object35"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object10"}}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "id", "in": "path", "required": true, "description": "The ID of the resource that is shared.", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "The ID of the group.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/archive": {"put": {"summary": "Update the archive status of this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}, {"name": "Object36", "in": "body", "schema": {"$ref": "#/definitions/Object36"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object29"}}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/projects": {"get": {"summary": "List the projects a AppInstance belongs to", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}, {"name": "hidden", "in": "query", "required": false, "description": "If specified to be true, returns hidden items. Defaults to false, returning non-hidden items.", "type": "boolean"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object37"}}}}, "x-examples": null}}, "/apps/{slug}/instances/{id}/projects/{project_id}": {"put": {"summary": "Add a AppInstance to a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project.", "type": "integer"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}], "responses": {"204": {"description": "success"}}, "x-examples": null}, "delete": {"summary": "Remove a AppInstance from a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project.", "type": "integer"}, {"name": "slug", "in": "path", "required": true, "description": "The slug for the application.", "type": "string"}], "responses": {"204": {"description": "success"}}, "x-examples": null}}, "/bocce_clusters/": {"get": {"summary": "List Bocce Clusters", "parameters": [{"name": "organization_id", "in": "query", "required": false, "description": "The ID of the organization to list clusters for.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 50. Maximum allowed is 1000.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object38"}}}}, "x-examples": [{"resource": "BocceClusters", "http_method": "GET", "route": "http://api.civis.test/bocce_clusters", "description": "lists all clusters", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/bocce_clusters", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 4db69abcd94f285ca0bb17ab221566bb8072d27b7319ad75f4e5a7426aee7330", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0,\"organizationIds\":[1,2,3],\"organizationSlugs\":[\"default\",\"admin\",\"tgtg\"],\"singleOrg\":false,\"desiredInstances\":1,\"createdAt\":\"2019-01-29T15:18:32.000Z\",\"updatedAt\":\"2019-01-29T15:18:32.000Z\"},{\"id\":97952,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1,\"organizationIds\":[83780],\"organizationSlugs\":[\"organization_k\"],\"singleOrg\":true,\"desiredInstances\":1,\"createdAt\":\"2019-01-31T16:09:38.000Z\",\"updatedAt\":\"2019-01-31T16:09:38.000Z\"},{\"id\":97953,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0,\"organizationIds\":[83781],\"organizationSlugs\":[\"organization_l\"],\"singleOrg\":true,\"desiredInstances\":1,\"createdAt\":\"2019-01-31T16:09:55.000Z\",\"updatedAt\":\"2019-01-31T16:09:55.000Z\"}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "X-Pagination-Per-Page": "50", "Access-Control-Expose-Headers": "X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries", "X-Pagination-Current-Page": "1", "X-Pagination-Total-Pages": "1", "X-Pagination-Total-Entries": "3", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "6449ea46-a6eb-4799-a7c1-b6c582ef6394", "X-Runtime": "0.167535", "Content-Length": "955"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/bocce_clusters\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4db69abcd94f285ca0bb17ab221566bb8072d27b7319ad75f4e5a7426aee7330\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}, {"resource": "BocceClusters", "http_method": "GET", "route": "http://api.civis.test/bocce_clusters", "description": "lists all clusters for an organization", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/bocce_clusters?organization_id=83782", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer ab7a0a065d28976068f9d220df0c167f083f091e088056e48b7f669645cb80ac", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {"organization_id": "83782"}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":97954,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1,\"organizationIds\":[83782],\"organizationSlugs\":[\"organization_m\"],\"singleOrg\":true,\"desiredInstances\":1,\"createdAt\":\"2019-01-31T16:09:56.000Z\",\"updatedAt\":\"2019-01-31T16:09:56.000Z\"}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "X-Pagination-Per-Page": "50", "Access-Control-Expose-Headers": "X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries", "X-Pagination-Current-Page": "1", "X-Pagination-Total-Pages": "1", "X-Pagination-Total-Entries": "1", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "490828cf-1b2b-4482-bc2b-46b41024dbd4", "X-Runtime": "0.120878", "Content-Length": "317"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/bocce_clusters?organization_id=83782\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ab7a0a065d28976068f9d220df0c167f083f091e088056e48b7f669645cb80ac\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "post": {"summary": "Create Bocce Cluster", "parameters": [{"name": "Object39", "in": "body", "schema": {"$ref": "#/definitions/Object39"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object40"}}}, "x-examples": [{"resource": "BocceClusters", "http_method": "POST", "route": "http://api.civis.test/bocce_clusters", "description": "creates a cluster", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "POST", "request_path": "http://api.civis.test/bocce_clusters", "request_body": "{\n  \"singleOrg\": true,\n  \"organization_ids\": [\n    1\n  ],\n  \"region\": \"us-east-1\",\n  \"queueUrl\": \"https://some_url.com\",\n  \"instanceType\": \"m3.medium\",\n  \"minInstances\": 1,\n  \"maxInstances\": 1\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 64bc0bbf430bb5ed2abb03a4c3c0f8d836254709ccd356560bd3970502a68461", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"id\":97960,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"instances\":-1,\"instanceMaxMemory\":3188,\"instanceMaxCpu\":1024,\"instanceMaxDiskSpace\":90.0,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0,\"organizationIds\":[1],\"organizationSlugs\":[\"default\"],\"singleOrg\":true,\"desiredInstances\":1,\"remoteDesiredInstances\":-1,\"asgName\":null,\"queueUrl\":\"https://some_url.com\",\"createdAt\":\"2019-01-31T16:10:05.000Z\",\"updatedAt\":\"2019-01-31T16:10:05.000Z\"}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "369dd366-9772-4e55-89a3-3b3cc889ee63", "X-Runtime": "0.328186", "Content-Length": "471"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/bocce_clusters\" -d '{\"singleOrg\":true,\"organization_ids\":[1],\"region\":\"us-east-1\",\"queueUrl\":\"https://some_url.com\",\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 64bc0bbf430bb5ed2abb03a4c3c0f8d836254709ccd356560bd3970502a68461\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/bocce_clusters/{id}": {"get": {"summary": "Describe a Bocce Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object40"}}}, "x-examples": [{"resource": "BocceClusters", "http_method": "GET", "route": "http://api.civis.test/bocce_clusters/:id", "description": "show a specific cluster", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/bocce_clusters/97956", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 50b607ed85c3a85720507f222be98a397b5e14f24d255493637d42d4d6ed5f5b", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"id\":97956,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"instances\":-1,\"instanceMaxMemory\":3188,\"instanceMaxCpu\":1024,\"instanceMaxDiskSpace\":90.0,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1,\"organizationIds\":[83784],\"organizationSlugs\":[\"organization_o\"],\"singleOrg\":true,\"desiredInstances\":1,\"remoteDesiredInstances\":-1,\"asgName\":\"asg_for_organization_o\",\"queueUrl\":\"https://queue/organization_o\",\"createdAt\":\"2019-01-31T16:09:59.000Z\",\"updatedAt\":\"2019-01-31T16:09:59.000Z\"}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "9a254517-f76f-42bd-a5e1-4992b2c42337", "X-Runtime": "0.123197", "Content-Length": "510"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/bocce_clusters/97956\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 50b607ed85c3a85720507f222be98a397b5e14f24d255493637d42d4d6ed5f5b\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "patch": {"summary": "Modify Bocce Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}, {"name": "Object41", "in": "body", "schema": {"$ref": "#/definitions/Object41"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object40"}}}, "x-examples": [{"resource": "BocceClusters", "http_method": "PATCH", "route": "http://api.civis.test/bocce_clusters/:id", "description": "updates a cluster", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "PATCH", "request_path": "http://api.civis.test/bocce_clusters/97961", "request_body": "{\n  \"queueUrl\": \"https://this-new-url.com\",\n  \"asgName\": \"new-asg-name\"\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 219164b5262f2dac65513151e1c511ed4f32388ec4784b8ea5aee251898b5280", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"id\":97961,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"instances\":-1,\"instanceMaxMemory\":3188,\"instanceMaxCpu\":1024,\"instanceMaxDiskSpace\":90.0,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1,\"organizationIds\":[83788],\"organizationSlugs\":[\"organization_s\"],\"singleOrg\":true,\"desiredInstances\":1,\"remoteDesiredInstances\":-1,\"asgName\":\"new-asg-name\",\"queueUrl\":\"https://this-new-url.com\",\"createdAt\":\"2019-01-31T16:10:06.000Z\",\"updatedAt\":\"2019-01-31T16:10:08.000Z\"}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "be416c64-5404-4b02-b3c4-575341994c4a", "X-Runtime": "0.118738", "Content-Length": "496"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/bocce_clusters/97961\" -d '{\"queueUrl\":\"https://this-new-url.com\",\"asgName\":\"new-asg-name\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 219164b5262f2dac65513151e1c511ed4f32388ec4784b8ea5aee251898b5280\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/bocce_clusters/{id}/active_jobs": {"get": {"summary": "List Active Jobs for a Bocce Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object42"}}}, "x-examples": [{"resource": "BocceClusters", "http_method": "GET", "route": "http://api.civis.test/bocce_clusters/:id/active_jobs", "description": "lists jobs", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/bocce_clusters/97965/active_jobs", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 60297960d5d21ec2e80a5c075652cca0f04918c42695a63eb1af1e285db1ac1e", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":9860,\"name\":\"Script #9860\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"running\",\"createdAt\":\"2019-01-31T16:10:12.000Z\",\"updatedAt\":\"2019-01-31T16:10:12.000Z\",\"runs\":[{\"id\":19009,\"state\":\"running\",\"createdAt\":\"2019-01-31T16:10:12.000Z\",\"startedAt\":\"2019-01-31T16:10:12.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":19009,\"state\":\"running\",\"createdAt\":\"2019-01-31T16:10:12.000Z\",\"startedAt\":\"2019-01-31T16:10:12.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":93620,\"name\":\"User devuserfactory33 33\",\"username\":\"devuserfactory33\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":93620,\"name\":\"User devuserfactory33 33\",\"username\":\"devuserfactory33\",\"initials\":\"UD\",\"online\":null}}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "9c6f5c2e-cd43-472f-88f2-b9943c101f20", "X-Runtime": "0.126827", "Content-Length": "800"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/bocce_clusters/97965/active_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 60297960d5d21ec2e80a5c075652cca0f04918c42695a63eb1af1e285db1ac1e\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/bocce_clusters/{id}/queued_jobs": {"get": {"summary": "List Queued Jobs for a Bocce Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object42"}}}, "x-examples": [{"resource": "BocceClusters", "http_method": "GET", "route": "http://api.civis.test/bocce_clusters/:id/queued_jobs", "description": "lists jobs", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/bocce_clusters/97963/queued_jobs", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 7e630e6324423699c05886aeffaee5978e789f5f01e61b6651f96f809cddec7b", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":9857,\"name\":\"Script #9857\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"queued\",\"createdAt\":\"2019-01-31T16:10:10.000Z\",\"updatedAt\":\"2019-01-31T16:10:10.000Z\",\"runs\":[{\"id\":19008,\"state\":\"queued\",\"createdAt\":\"2019-01-31T16:10:10.000Z\",\"startedAt\":\"2019-01-31T16:10:10.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":19008,\"state\":\"queued\",\"createdAt\":\"2019-01-31T16:10:10.000Z\",\"startedAt\":\"2019-01-31T16:10:10.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":93614,\"name\":\"User devuserfactory28 28\",\"username\":\"devuserfactory28\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":93614,\"name\":\"User devuserfactory28 28\",\"username\":\"devuserfactory28\",\"initials\":\"UD\",\"online\":null}}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "aa283822-0fbf-4860-abba-00bbd251e53b", "X-Runtime": "0.156309", "Content-Length": "797"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/bocce_clusters/97963/queued_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 7e630e6324423699c05886aeffaee5978e789f5f01e61b6651f96f809cddec7b\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/channels/": {"get": {"summary": "List available channels and provide keys for accessing them", "parameters": [], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object44"}}}}, "x-examples": [{"resource": "Channels", "http_method": "GET", "route": "http://api.civis.test/channels", "description": "List all Pubnub stream connectors for a user", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/channels", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 3fe1882b91de53e93ebf7a538eb063a87cb267d23b1ebc6e141caff6d373e333", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"origin\":\"civis.pubnub.com\",\"subscribeKey\":\"subscribe_key\",\"cipherKey\":\"cipher_key\",\"authKey\":\"user_auth_key\",\"channels\":[{\"name\":\"civis-test.org-1\"},{\"name\":\"civis-test.group-1\"},{\"name\":\"civis-test.group-87413\"},{\"name\":\"civis-test.user-93626\"}]}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "f9e3aea2-dc53-438c-a248-812f9c933ed5", "X-Runtime": "2.077130", "Content-Length": "249"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/channels\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 3fe1882b91de53e93ebf7a538eb063a87cb267d23b1ebc6e141caff6d373e333\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/workers": {"get": {"summary": "List Worker Clusters", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object46"}}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/workers", "description": "lists all clusters", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/workers", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer c275a9a60bda7aa13d7f3f4a68ad03ff53023e435c24822965bd06fe1f1c7811", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0},{\"id\":97968,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1},{\"id\":97969,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "X-Pagination-Per-Page": "50", "Access-Control-Expose-Headers": "X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries", "X-Pagination-Current-Page": "1", "X-Pagination-Total-Pages": "1", "X-Pagination-Total-Entries": "3", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "2344016e-4867-4314-80f6-e19103cebe0c", "X-Runtime": "0.159355", "Content-Length": "403"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/workers\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c275a9a60bda7aa13d7f3f4a68ad03ff53023e435c24822965bd06fe1f1c7811\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/workers/{id}": {"get": {"summary": "Describe a Worker Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object47"}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/workers/:id", "description": "show a specific cluster", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/workers/97970", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 16efe04c0fbe4a7fc38b9847b695bc8b6e0e4d8ce980983bc56dc1c40daca68f", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"id\":97970,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"instances\":-1,\"instanceMaxMemory\":3188,\"instanceMaxCpu\":1024,\"instanceMaxDiskSpace\":90.0,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "efaea8ea-5070-43b1-867c-192188539bdf", "X-Runtime": "0.100959", "Content-Length": "224"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/workers/97970\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 16efe04c0fbe4a7fc38b9847b695bc8b6e0e4d8ce980983bc56dc1c40daca68f\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/workers/{id}/active_jobs": {"get": {"summary": "List Active Jobs for a Worker Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object42"}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/workers/:id/active_jobs", "description": "lists active jobs", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/workers/97974/active_jobs", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 7fe2728951d40fd86274eecd0f0849c21fa899c7098bfdef83fa02baa522c03e", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":9884,\"name\":\"Script #9884\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"running\",\"createdAt\":\"2019-01-31T16:10:25.000Z\",\"updatedAt\":\"2019-01-31T16:10:25.000Z\",\"runs\":[{\"id\":19017,\"state\":\"running\",\"createdAt\":\"2019-01-31T16:10:25.000Z\",\"startedAt\":\"2019-01-31T16:10:25.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":19017,\"state\":\"running\",\"createdAt\":\"2019-01-31T16:10:25.000Z\",\"startedAt\":\"2019-01-31T16:10:25.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":93645,\"name\":\"User devuserfactory54 54\",\"username\":\"devuserfactory54\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":93645,\"name\":\"User devuserfactory54 54\",\"username\":\"devuserfactory54\",\"initials\":\"UD\",\"online\":null}}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "72487f0c-ddb4-4d90-920c-4a06b36aa615", "X-Runtime": "0.181844", "Content-Length": "800"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/workers/97974/active_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 7fe2728951d40fd86274eecd0f0849c21fa899c7098bfdef83fa02baa522c03e\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/workers/{id}/queued_jobs": {"get": {"summary": "List Queued Jobs for a Worker Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object42"}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/workers/:id/queued_jobs", "description": "lists queued jobs", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/workers/97972/queued_jobs", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 2774b581d68fbc2f03d4c327f9714acd0dfbcdcf3c9bdaadf3bf7aa9d86cf0da", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":9881,\"name\":\"Script #9881\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"queued\",\"createdAt\":\"2019-01-31T16:10:23.000Z\",\"updatedAt\":\"2019-01-31T16:10:23.000Z\",\"runs\":[{\"id\":19016,\"state\":\"queued\",\"createdAt\":\"2019-01-31T16:10:23.000Z\",\"startedAt\":\"2019-01-31T16:10:23.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":19016,\"state\":\"queued\",\"createdAt\":\"2019-01-31T16:10:23.000Z\",\"startedAt\":\"2019-01-31T16:10:23.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":93639,\"name\":\"User devuserfactory49 49\",\"username\":\"devuserfactory49\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":93639,\"name\":\"User devuserfactory49 49\",\"username\":\"devuserfactory49\",\"initials\":\"UD\",\"online\":null}}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "0bb95082-c1af-4621-a52f-3dbee24c856c", "X-Runtime": "0.132700", "Content-Length": "797"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/workers/97972/queued_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2774b581d68fbc2f03d4c327f9714acd0dfbcdcf3c9bdaadf3bf7aa9d86cf0da\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/kubernetes": {"get": {"summary": "List Kubernetes Clusters", "parameters": [{"name": "organization_slug", "in": "query", "required": false, "description": "The slug of this cluster's organization.", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object48"}}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/kubernetes", "description": "List all Kubernetes clusters", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/kubernetes", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 4dddee13340f1688cabaaa9109bf4e6c487d0326ddbdd30f7dfde6cc99398a9c", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":1,\"organizationId\":1,\"organizationName\":\"Default\",\"organizationSlug\":\"default\",\"clusterPartitions\":[{\"clusterPartitionId\":1,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":1},{\"clusterPartitionId\":2,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":2,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":2}],\"isNatEnabled\":false},{\"id\":2,\"organizationId\":2,\"organizationName\":\"Admin\",\"organizationSlug\":\"admin\",\"clusterPartitions\":[{\"clusterPartitionId\":3,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":3,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":3},{\"clusterPartitionId\":4,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":4,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":4}],\"isNatEnabled\":false},{\"id\":3,\"organizationId\":3,\"organizationName\":\"Civis Analytics\",\"organizationSlug\":\"civis\",\"clusterPartitions\":[{\"clusterPartitionId\":5,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":5,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":5},{\"clusterPartitionId\":6,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":6,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":6}],\"isNatEnabled\":false},{\"id\":4,\"organizationId\":4,\"organizationName\":\"Demo\",\"organizationSlug\":\"demo\",\"clusterPartitions\":[{\"clusterPartitionId\":7,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":7,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":7},{\"clusterPartitionId\":8,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":8,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":8}],\"isNatEnabled\":false},{\"id\":5,\"organizationId\":5,\"organizationName\":\"Managers\",\"organizationSlug\":\"managers\",\"clusterPartitions\":[{\"clusterPartitionId\":9,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":9,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":9},{\"clusterPartitionId\":10,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":10,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":10}],\"isNatEnabled\":false}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "X-Pagination-Per-Page": "50", "Access-Control-Expose-Headers": "X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries", "X-Pagination-Current-Page": "1", "X-Pagination-Total-Pages": "1", "X-Pagination-Total-Entries": "5", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "6f418cd5-3352-482e-b05c-3862d444d8ca", "X-Runtime": "0.144871", "Content-Length": "3387"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4dddee13340f1688cabaaa9109bf4e6c487d0326ddbdd30f7dfde6cc99398a9c\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "post": {"summary": "Create a Kubernetes Cluster", "parameters": [{"name": "Object51", "in": "body", "schema": {"$ref": "#/definitions/Object51"}, "required": false}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object48"}}}, "x-examples": [{"resource": "Clusters", "http_method": "POST", "route": "http://api.civis.test/clusters/kubernetes", "description": "Create a Kubernetes cluster with organization ID", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "POST", "request_path": "http://api.civis.test/clusters/kubernetes", "request_body": "{\n  \"organizationId\": 83804\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 97112ecb42e2c86d033d9a86cb5ef2488c33383d2051d6224e340cc086976e90", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 201, "response_status_text": "Created", "response_body": "{\"id\":83043,\"organizationId\":83804,\"organizationName\":\"Organization 34\",\"organizationSlug\":\"organization_ai\",\"clusterPartitions\":[],\"isNatEnabled\":false}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "d383c6ac-7f9d-4ef8-b1ad-da0e31c4d23a", "X-Runtime": "0.144040", "Content-Length": "153"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationId\":83804}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 97112ecb42e2c86d033d9a86cb5ef2488c33383d2051d6224e340cc086976e90\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}, {"resource": "Clusters", "http_method": "POST", "route": "http://api.civis.test/clusters/kubernetes", "description": "Create a Kubernetes cluster with organization slug", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "POST", "request_path": "http://api.civis.test/clusters/kubernetes", "request_body": "{\n  \"organizationSlug\": \"organization_aj\"\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer c2610c2d35d6ece8313ccaa5d55eb29afc3b3f026bb0f655bc36104892f52898", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 201, "response_status_text": "Created", "response_body": "{\"id\":83044,\"organizationId\":83805,\"organizationName\":\"Organization 35\",\"organizationSlug\":\"organization_aj\",\"clusterPartitions\":[],\"isNatEnabled\":false}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "2167a17c-db7f-4a8a-a788-2958149f37ad", "X-Runtime": "0.131949", "Content-Length": "153"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationSlug\":\"organization_aj\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c2610c2d35d6ece8313ccaa5d55eb29afc3b3f026bb0f655bc36104892f52898\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/kubernetes/{id}": {"get": {"summary": "Describe a Kubernetes Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object48"}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/kubernetes/:id", "description": "View a Kubernetes cluster's details", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/kubernetes/83042", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer c5d960753f66ea31277dbd6b981c3794fc5b58110788d7b5ae652389ae5b9f03", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"id\":83042,\"organizationId\":83803,\"organizationName\":\"Organization 33\",\"organizationSlug\":\"organization_ah\",\"clusterPartitions\":[{\"clusterPartitionId\":36979,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":19317,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19317},{\"clusterPartitionId\":36980,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":19318,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19318}],\"isNatEnabled\":false}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "8b2e37e1-e826-401a-9909-084e4eb97093", "X-Runtime": "0.170247", "Content-Length": "724"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83042\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c5d960753f66ea31277dbd6b981c3794fc5b58110788d7b5ae652389ae5b9f03\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "patch": {"summary": "Update a Kubernetes Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}, {"name": "Object52", "in": "body", "schema": {"$ref": "#/definitions/Object52"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object48"}}}, "x-examples": [{"resource": "Clusters", "http_method": "PATCH", "route": "http://api.civis.test/clusters/kubernetes/:id", "description": "Update a Kubernetes cluster via PATCH", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "PATCH", "request_path": "http://api.civis.test/clusters/kubernetes/83045", "request_body": "{\n  \"isNatEnabled\": true\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 14b21bf702de65c5a82e191d1d846ddc4ec0ff5362a123a0db2c5838039efec1", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"id\":83045,\"organizationId\":83806,\"organizationName\":\"Organization 36\",\"organizationSlug\":\"organization_ak\",\"clusterPartitions\":[{\"clusterPartitionId\":36981,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":19319,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19319},{\"clusterPartitionId\":36982,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":19320,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19320}],\"isNatEnabled\":true}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "79de21a8-eb1b-4573-ad28-27421496e3d7", "X-Runtime": "0.212655", "Content-Length": "723"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83045\" -d '{\"isNatEnabled\":true}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 14b21bf702de65c5a82e191d1d846ddc4ec0ff5362a123a0db2c5838039efec1\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/kubernetes/{id}/deployments": {"get": {"summary": "List the deployments associated with a Kubernetes Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The id of the cluster.", "type": "integer"}, {"name": "base_type", "in": "query", "required": false, "description": "If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.", "type": "string"}, {"name": "state", "in": "query", "required": false, "description": "If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to created_at. Must be one of: created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object53"}}}}, "x-examples": null}}, "/clusters/kubernetes/{id}/deployment_stats": {"get": {"summary": "Get stats about deployments associated with a Kubernetes Cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object54"}}}}, "x-examples": null}}, "/clusters/kubernetes/{id}/partitions": {"get": {"summary": "List Cluster Partitions for given cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this cluster.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object49"}}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/kubernetes/:id/partitions", "description": "List all Cluster Partitions for a Kubernetes Cluster", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/kubernetes/83046/partitions", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer b53dc28faa3a86e496976a8302337d1fe1e88b64ad2d30c77afc25be040f9511", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"clusterPartitionId\":36983,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":19321,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19321},{\"clusterPartitionId\":36984,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":19322,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19322}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "32659286-7f83-44ef-8109-72d3f5ea1ffa", "X-Runtime": "0.112680", "Content-Length": "573"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83046/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer b53dc28faa3a86e496976a8302337d1fe1e88b64ad2d30c77afc25be040f9511\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "post": {"summary": "Create a Cluster Partition for given cluster", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the cluster which this partition belongs to.", "type": "integer"}, {"name": "Object55", "in": "body", "schema": {"$ref": "#/definitions/Object55"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object49"}}}, "x-examples": [{"resource": "Clusters", "http_method": "POST", "route": "http://api.civis.test/clusters/kubernetes/:id/partitions", "description": "Create a Cluster Partition", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "POST", "request_path": "http://api.civis.test/clusters/kubernetes/83048/partitions", "request_body": "{\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 3fe3fcdec1ef2ce77e5146716219f383a83c115f9edfd4f94ca35bbc257e61fe", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"clusterPartitionId\":36989,\"name\":\"jobs\",\"labels\":[\"this\"],\"instanceConfigs\":[{\"instanceConfigId\":19327,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19327}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "272efe78-0d0c-4e3c-aa09-30259b06dc3c", "X-Runtime": "0.161252", "Content-Length": "272"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83048/partitions\" -d '{\"name\":\"jobs\",\"labels\":[\"this\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 3fe3fcdec1ef2ce77e5146716219f383a83c115f9edfd4f94ca35bbc257e61fe\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/clusters/kubernetes/{id}/partitions/{cluster_partition_id}": {"patch": {"summary": "Update a Cluster Partition", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the cluster which this partition belongs to.", "type": "integer"}, {"name": "cluster_partition_id", "in": "path", "required": true, "description": "The ID of this cluster partition.", "type": "integer"}, {"name": "Object57", "in": "body", "schema": {"$ref": "#/definitions/Object57"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object49"}}}, "x-examples": [{"resource": "Clusters", "http_method": "PATCH", "route": "http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id", "description": "Update a Cluster Partition's details", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "PATCH", "request_path": "http://api.civis.test/clusters/kubernetes/83050/partitions/36992", "request_body": "{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 3f396aaa4c3eacb1ead4c850ba332a3c421a165c0a74daaf7249b438768f4580", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"clusterPartitionId\":36992,\"name\":\"jobs\",\"labels\":[\"this\",\"that\"],\"instanceConfigs\":[{\"instanceConfigId\":19330,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19330}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "9958314d-bed3-47b8-88ed-26a9251d4bab", "X-Runtime": "0.120413", "Content-Length": "279"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83050/partitions/36992\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 3f396aaa4c3eacb1ead4c850ba332a3c421a165c0a74daaf7249b438768f4580\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}, {"resource": "Clusters", "http_method": "PATCH", "route": "http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id", "description": "Update a Cluster Partition's instance configuration", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "PATCH", "request_path": "http://api.civis.test/clusters/kubernetes/83051/partitions/36994", "request_body": "{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer ba524116ee433d280b35bb6128919be389e688b04bfa682d4883fcc0695d24fd", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"clusterPartitionId\":36994,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":19334,\"instanceType\":\"m4.xlarge\",\"minInstances\":3,\"maxInstances\":5,\"instanceMaxMemory\":15320,\"instanceMaxCpu\":4096,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19334}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "5e04aadd-0c85-4ec2-a227-46db700a95bf", "X-Runtime": "0.193074", "Content-Length": "270"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83051/partitions/36994\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ba524116ee433d280b35bb6128919be389e688b04bfa682d4883fcc0695d24fd\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "delete": {"summary": "Delete a Cluster Partition", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the cluster which this partition belongs to.", "type": "integer"}, {"name": "cluster_partition_id", "in": "path", "required": true, "description": "The ID of this cluster partition.", "type": "integer"}], "responses": {"204": {"description": "success"}}, "x-examples": [{"resource": "Clusters", "http_method": "DELETE", "route": "http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id", "description": "Delete a Cluster Partition", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "DELETE", "request_path": "http://api.civis.test/clusters/kubernetes/83049/partitions/36990", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 11db72911b6b24e1bd742df999374868f317cd805b9bfd24b693d967a6e575b9", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 204, "response_status_text": "No Content", "response_body": null, "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "307ad9e9-324a-4913-b2d6-afd20324d53c", "X-Runtime": "0.165340"}, "response_content_type": null, "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83049/partitions/36990\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 11db72911b6b24e1bd742df999374868f317cd805b9bfd24b693d967a6e575b9\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "get": {"summary": "Describe a Cluster Partition", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the cluster which this partition belongs to.", "type": "integer"}, {"name": "cluster_partition_id", "in": "path", "required": true, "description": "The ID of this cluster partition.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object49"}}}, "x-examples": [{"resource": "Clusters", "http_method": "GET", "route": "http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id", "description": "View a Cluster Partitions's details", "explanation": null, "parameters": [], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/clusters/kubernetes/83047/partitions/36985", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 50e1d5e8c5747617656f4a3a0cea1142d10f3cefc4245b1e0cbabd03fe7e9388", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "{\"clusterPartitionId\":36985,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":19323,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":19323}", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "63e1484a-9cd6-430d-855c-29fc73a9752e", "X-Runtime": "0.143361", "Content-Length": "271"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/83047/partitions/36985\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 50e1d5e8c5747617656f4a3a0cea1142d10f3cefc4245b1e0cbabd03fe7e9388\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}}, "/codes/": {"get": {"summary": "List codes", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "The maximum number of codes to return.", "type": "integer"}, {"name": "type", "in": "query", "required": false, "description": "The code's type; e.g., Code::FrontEnd.", "type": "string"}, {"name": "featured", "in": "query", "required": false, "description": "If true, return featured codes.", "type": "boolean"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object59"}}}}, "x-examples": [{"resource": "Codes", "http_method": "GET", "route": "http://api.civis.test/codes", "description": "List all codes for a user", "explanation": null, "parameters": [{"required": false, "name": "limit", "description": "The maximum number of codes to return."}, {"required": false, "name": "type", "description": "The code's type; e.g., Code::FrontEnd."}, {"required": false, "name": "featured", "description": "If true, return featured codes."}], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/codes", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer e71dc4b3629210b69167a426a39d4f71b94f8cb382a68bc4e3d81a854b8ef2c6", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":35429,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-01-31T16:10:34.000Z\",\"updatedAt\":\"2019-01-31T16:10:34.000Z\"},{\"id\":35430,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-01-31T16:10:35.000Z\",\"updatedAt\":\"2019-01-31T16:10:35.000Z\"}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "d065d67e-d41e-4d8d-a6bd-ade7ab4f0c02", "X-Runtime": "0.139294", "Content-Length": "273"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/codes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e71dc4b3629210b69167a426a39d4f71b94f8cb382a68bc4e3d81a854b8ef2c6\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}, {"resource": "Codes", "http_method": "GET", "route": "http://api.civis.test/codes?limit=1", "description": "Limit the number of codes returned", "explanation": null, "parameters": [{"required": false, "name": "limit", "description": "The maximum number of codes to return."}, {"required": false, "name": "type", "description": "The code's type; e.g., Code::FrontEnd."}, {"required": false, "name": "featured", "description": "If true, return featured codes."}], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/codes?limit=1", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer cf270a7a7bd3afd19af7ae5886189ff359a88217909815a59c18c5589be897e1", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {"limit": "1"}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":35431,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-01-31T16:10:36.000Z\",\"updatedAt\":\"2019-01-31T16:10:36.000Z\"}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "9fc3b650-9d9c-4228-bc2c-fac825980b9e", "X-Runtime": "0.136731", "Content-Length": "137"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/codes?limit=1\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer cf270a7a7bd3afd19af7ae5886189ff359a88217909815a59c18c5589be897e1\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}, {"resource": "Codes", "http_method": "GET", "route": "http://api.civis.test/codes?type=Code::FrontEnd", "description": "List all codes of the specified type", "explanation": null, "parameters": [{"required": false, "name": "limit", "description": "The maximum number of codes to return."}, {"required": false, "name": "type", "description": "The code's type; e.g., Code::FrontEnd."}, {"required": false, "name": "featured", "description": "If true, return featured codes."}], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/codes?type=Code::FrontEnd", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer a36db2dd508297f36724a53eb6e99de61b1d08d7047522cf5582d7e65e22f29a", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {"type": "Code::FrontEnd"}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":35433,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-01-31T16:10:37.000Z\",\"updatedAt\":\"2019-01-31T16:10:37.000Z\"},{\"id\":35434,\"name\":\"test_result\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-01-31T16:10:37.000Z\",\"updatedAt\":\"2019-01-31T16:10:37.000Z\"}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "6cdb64e0-3ff8-455c-b4d6-5b7a904fe400", "X-Runtime": "0.189615", "Content-Length": "273"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/codes?type=Code::FrontEnd\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer a36db2dd508297f36724a53eb6e99de61b1d08d7047522cf5582d7e65e22f29a\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}, {"resource": "Codes", "http_method": "GET", "route": "http://api.civis.test/codes?featured=true", "description": "List all featured codes", "explanation": null, "parameters": [{"required": false, "name": "limit", "description": "The maximum number of codes to return."}, {"required": false, "name": "type", "description": "The code's type; e.g., Code::FrontEnd."}, {"required": false, "name": "featured", "description": "If true, return featured codes."}], "response_fields": [], "requests": [{"request_method": "GET", "request_path": "http://api.civis.test/codes?featured=true", "request_body": null, "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer 20cf51728c84fde30da45f5238ae9da2c2b9d9f68dfab7bdfcce3ebe4ac2b738", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {"featured": "true"}, "request_content_type": "application/json", "response_status": 200, "response_status_text": "OK", "response_body": "[{\"id\":35437,\"name\":\"featured_code_1\",\"type\":\"Code::FrontEnd\",\"createdAt\":\"2019-01-31T16:10:39.000Z\",\"updatedAt\":\"2019-01-31T16:10:39.000Z\"}]", "response_headers": {"X-Frame-Options": "SAMEORIGIN", "X-XSS-Protection": "1; mode=block", "X-Content-Type-Options": "nosniff", "Access-Control-Allow-Origin": "null", "Vary": "Origin", "Cache-Control": "no-cache; no-store, must-revalidate, private", "Pragma": "no-cache", "Expires": "0", "Content-Type": "application/json; charset=utf-8", "Set-Cookie": "augury=false; path=/", "X-Request-Id": "a76a67b3-e8b9-4834-beb0-3fcd48391d7c", "X-Runtime": "0.117680", "Content-Length": "141"}, "response_content_type": "application/json; charset=utf-8", "curl": "curl \"api.civis.testhttp://api.civis.test/codes?featured=true\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 20cf51728c84fde30da45f5238ae9da2c2b9d9f68dfab7bdfcce3ebe4ac2b738\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}, "post": {"summary": "Create a new code", "parameters": [{"name": "Object61", "in": "body", "schema": {"$ref": "#/definitions/Object61"}, "required": true}], "responses": {"204": {"description": "success"}}, "x-examples": [{"resource": "Codes", "http_method": "POST", "route": "http://api.civis.test/codes", "description": "Create a code", "explanation": null, "parameters": [{"required": true, "name": "name", "description": "Name of code."}, {"required": true, "name": "type", "description": "The code's type; e.g., Code::FrontEnd."}, {"required": true, "name": "body", "description": "Actual code contents; e.g., HTML, SQL, etc."}, {"required": true, "name": "readme", "description": "User specified information about this code. Markdown format accepted."}, {"required": false, "name": "score", "description": "Internal Civis Use Only."}, {"required": false, "name": "authS3Url", "description": "Authorized_s3_link to file."}], "response_fields": [], "requests": [{"request_method": "POST", "request_path": "http://api.civis.test/codes", "request_body": "{\n  \"type\": \"Code::FrontEnd\",\n  \"name\": \"test_code\",\n  \"body\": \"test_body\",\n  \"readme\": \"test_readme\"\n}", "request_headers": {"Content-Type": "application/json", "Authorization": "Bearer d39ef7738c1536740cdd168d6137362c66ae1def613258a5885b14f8f4fcd7cd", "Host": "api.civis.test", "Cookie": ""}, "request_query_parameters": {}, "request_content_type": "application/json", "response_status": 204, "response_status_text": "No C
[...]
