{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/announcements/":{"get":{"summary":"List announcements","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object2"}}}}}},"/apps/":{"get":{"summary":"List apps","parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object6"}}}}}},"/apps/{slug}":{"get":{"summary":"List details of a Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object7"}}}}},"/apps/{slug}/instances":{"get":{"summary":"List the instances of a Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"app_release_id","in":"query","required":false,"description":"If supplied, return only instances matching this release.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object10"}}}}},"post":{"summary":"Create a new instance of an application of the given slug","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object14","in":"body","schema":{"$ref":"#/definitions/Object14"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}}}},"/apps/{slug}/instances/{id}":{"get":{"summary":"Return a given app instance","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}}},"patch":{"summary":"Update a given app instance","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}}}},"/apps/{slug}/instances/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/apps/{slug}/instances/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object24","in":"body","schema":{"$ref":"#/definitions/Object24"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/apps/{slug}/instances/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}}}},"/apps/{slug}/instances/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object25","in":"body","schema":{"$ref":"#/definitions/Object25"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/apps/{slug}/instances/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}}}},"/apps/{slug}/instances/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object26","in":"body","schema":{"$ref":"#/definitions/Object26"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}}}},"/apps/{slug}/instances/{id}/projects":{"get":{"summary":"List the projects a AppInstance belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object27"}}}}}},"/apps/{slug}/instances/{id}/projects/{project_id}":{"put":{"summary":"Add a AppInstance to a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Remove a AppInstance from a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}}}},"/clusters/workers":{"get":{"summary":"List Worker Clusters","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object36"}}}}}},"/clusters/workers/{id}":{"get":{"summary":"Describe a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object37"}}}}},"/clusters/workers/{id}/active_jobs":{"get":{"summary":"List Active Jobs for a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object32"}}}}},"/clusters/workers/{id}/queued_jobs":{"get":{"summary":"List Queued Jobs for a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object32"}}}}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","parameters":[{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object38"}}}}}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object38"}}}}},"/codes/":{"get":{"summary":"List codes","parameters":[{"name":"limit","in":"query","required":false,"description":"The maximum number of codes to return.","type":"integer"},{"name":"type","in":"query","required":false,"description":"The code's type; e.g., Code::FrontEnd.","type":"string"},{"name":"featured","in":"query","required":false,"description":"If true, return featured codes.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object41"}}}}},"post":{"summary":"Create a new code","parameters":[{"name":"Object43","in":"body","schema":{"$ref":"#/definitions/Object43"},"required":true}],"responses":{"204":{"description":"success"}}}},"/codes/{id}":{"get":{"summary":"Show basic code info","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object42"}}}},"put":{"summary":"Update a code","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"},{"name":"Object44","in":"body","schema":{"$ref":"#/definitions/Object44"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object42"}}}},"patch":{"summary":"Update a code","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"},{"name":"Object45","in":"body","schema":{"$ref":"#/definitions/Object45"},"required":false}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Delete a code","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this code.","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/credentials/":{"get":{"summary":"List credentials","parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object46"}}}}},"post":{"summary":"Create a credential","parameters":[{"name":"Object47","in":"body","schema":{"$ref":"#/definitions/Object47"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object46"}}}}},"/credentials/{id}":{"put":{"summary":"Update an existing credential","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the credential.","type":"integer"},{"name":"Object48","in":"body","schema":{"$ref":"#/definitions/Object48"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object46"}}}},"get":{"summary":"Get a credential","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the credential.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object46"}}}}},"/credentials/authenticate":{"post":{"summary":"Authenticate against a remote host","parameters":[{"name":"Object49","in":"body","schema":{"$ref":"#/definitions/Object49"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object46"}}}}},"/credentials/{id}/temporary":{"post":{"summary":"Generate a temporary credential for accessing S3","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the credential.","type":"integer"},{"name":"Object50","in":"body","schema":{"$ref":"#/definitions/Object50"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object51"}}}}},"/credentials/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/credentials/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/credentials/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/credentials/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/credentials/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/databases/":{"get":{"summary":"List databases","parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object54"}}}}}},"/databases/{id}/schemas":{"get":{"summary":"List schemas in this database","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the database.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object55"}}}}}},"/databases/{id}/tables":{"get":{"summary":"List tables in the specified database, deprecated use \"GET /tables\" instead","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the database.","type":"integer"},{"name":"name","in":"query","required":false,"description":"If specified, will be used to filter the tables returned. Substring matching is supported (e.g., \"name=table\" will return both \"table1\" and \"my table\").","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 200. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to name. Must be one of: name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object56"}}}}}},"/databases/{id}/tables-search":{"get":{"summary":"List tables in the specified database, deprecated use \"GET /tables\" instead","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the database.","type":"integer"},{"name":"name","in":"query","required":false,"description":"If specified, will be used to filter the tables returned. Substring matching is supported (e.g., \"name=table\" will return both \"table1\" and \"my table\").","type":"string"},{"name":"column_name","in":"query","required":false,"description":"Search for tables containing a column with the given name.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object57"}}}}}},"/databases/{id}/whitelist-ips":{"get":{"summary":"List whitelisted IPs for the specified database","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the database.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object58"}}}}},"post":{"summary":"Whitelist an IP address","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the database this rule is applied to.","type":"integer"},{"name":"Object60","in":"body","schema":{"$ref":"#/definitions/Object60"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object59"}}}}},"/databases/{id}/whitelist-ips/{whitelisted_ip_id}":{"get":{"summary":"View details about a whitelisted IP","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the database this rule is applied to.","type":"integer"},{"name":"whitelisted_ip_id","in":"path","required":true,"description":"The ID of this whitelisted IP address.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object59"}}}},"delete":{"summary":"Remove a whitelisted IP address","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the database this rule is applied to.","type":"integer"},{"name":"whitelisted_ip_id","in":"path","required":true,"description":"The ID of this whitelisted IP address.","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/endpoints/":{"get":{"summary":"List API endpoints","parameters":[],"responses":{"200":{"description":"success"}}}},"/enhancements/types":{"get":{"summary":"List available enhancement types","parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object61"}}}}}},"/enhancements/":{"get":{"summary":"List Enhancements","parameters":[{"name":"type","in":"query","required":false,"description":"If specified, return objects of these types.","type":"string"},{"name":"author","in":"query","required":false,"description":"If specified, return objects from this author. Must use user IDs. A comma separated list of IDs is also accepted to return objects from multiple authors.","type":"string"},{"name":"status","in":"query","required":false,"description":"If specified, returns objects with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at, last_run.updated_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object62"}}}}}},"/enhancements/cass-ncoa":{"post":{"summary":"Create a CASS/NCOA Enhancement","parameters":[{"name":"Object63","in":"body","schema":{"$ref":"#/definitions/Object63"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object71"}}}}},"/enhancements/cass-ncoa/{id}":{"get":{"summary":"Get a CASS/NCOA Enhancement","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object71"}}}},"put":{"summary":"Replace all attributes of this CASS/NCOA Enhancement","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the enhancement.","type":"integer"},{"name":"Object79","in":"body","schema":{"$ref":"#/definitions/Object79"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object71"}}}},"patch":{"summary":"Update some attributes of this CASS/NCOA Enhancement","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the enhancement.","type":"integer"},{"name":"Object80","in":"body","schema":{"$ref":"#/definitions/Object80"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object71"}}}}},"/enhancements/cass-ncoa/{id}/runs":{"post":{"summary":"Start a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cass_ncoa.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object81"}}}},"get":{"summary":"List runs for the given cass_ncoa","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cass_ncoa.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 100.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object81"}}}}}},"/enhancements/cass-ncoa/{id}/runs/{run_id}":{"get":{"summary":"Check status of a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cass_ncoa.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object81"}}}},"delete":{"summary":"Cancel a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cass_ncoa.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"202":{"description":"success"}}}},"/enhancements/cass-ncoa/{id}/runs/{run_id}/logs":{"get":{"summary":"Get the logs for a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cass_ncoa.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"},{"name":"last_id","in":"query","required":false,"description":"The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"The maximum number of log messages to return. Default of 10000.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object82"}}}}}},"/enhancements/cass-ncoa/{id}/cancel":{"post":{"summary":"Cancel a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the job.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object83"}}}}},"/enhancements/cass-ncoa/{id}/runs/{run_id}/outputs":{"get":{"summary":"List the outputs for a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the job.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at, id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object84"}}}}}},"/enhancements/cass-ncoa/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/enhancements/cass-ncoa/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/enhancements/cass-ncoa/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/enhancements/cass-ncoa/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/enhancements/cass-ncoa/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/enhancements/cass-ncoa/{id}/projects":{"get":{"summary":"List the projects a JobTypes::CassNcoa belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object27"}}}}}},"/enhancements/cass-ncoa/{id}/projects/{project_id}":{"put":{"summary":"Add a JobTypes::CassNcoa to a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Remove a JobTypes::CassNcoa from a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/enhancements/cass-ncoa/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"Object85","in":"body","schema":{"$ref":"#/definitions/Object85"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object71"}}}}},"/exports/":{"get":{"summary":"List ","parameters":[{"name":"type","in":"query","required":false,"description":"If specified, return exports of these types. It accepts a comma-separated list, possible values are 'database' and 'gdoc'.","type":"string"},{"name":"author","in":"query","required":false,"description":"If specified, return exports from this author. It accepts a comma-separated list of author ids.","type":"string"},{"name":"status","in":"query","required":false,"description":"If specified, returns export with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.","type":"string"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at, last_run.updated_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object86"}}}}}},"/files/{id}/projects":{"get":{"summary":"List the projects a Data::S3File belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object27"}}}}}},"/files/{id}/projects/{project_id}":{"put":{"summary":"Add a Data::S3File to a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Remove a Data::S3File from a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/files/":{"post":{"summary":"Initiate an upload of a file into the platform","parameters":[{"name":"Object91","in":"body","schema":{"$ref":"#/definitions/Object91"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object92"}}}}},"/files/multipart":{"post":{"summary":"Initiate a multipart upload","parameters":[{"name":"Object93","in":"body","schema":{"$ref":"#/definitions/Object93"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object94"}}}}},"/files/multipart/{id}/complete":{"post":{"summary":"Complete a multipart upload","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the file object.","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/files/{id}":{"get":{"summary":"Get details about a file","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the file object.","type":"integer"},{"name":"link_expires_at","in":"query","required":false,"description":"The date and time the download link will expire. Must be a time between now and 36 hours from now. Defaults to 30 minutes from now.","type":"string","format":"date-time"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object95"}}}}},"/files/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/files/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/files/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/files/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/files/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/groups/":{"get":{"summary":"List Groups","parameters":[{"name":"query","in":"query","required":false,"description":"If specified, it will filter the groups returned. Prefix matching is supported (e.g., \"query=group\" will return \"group\" and \"group of people\", but not \"my group\".","type":"string"},{"name":"permission","in":"query","required":false,"description":"A permissions string, one of \"read\", \"write\", or \"manage\". Lists only groups for which the current user has that permission.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to name. Must be one of: name, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object96"}}}}}},"/imports/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/imports/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/imports/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/imports/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/imports/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/imports/{id}/projects":{"get":{"summary":"List the projects a JobTypes::Import belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object27"}}}}}},"/imports/{id}/projects/{project_id}":{"put":{"summary":"Add a JobTypes::Import to a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Remove a JobTypes::Import from a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/imports/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"Object101","in":"body","schema":{"$ref":"#/definitions/Object101"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object102"}}}}},"/imports/":{"get":{"summary":"List ","parameters":[{"name":"type","in":"query","required":false,"description":"If specified, return imports of these types. It accepts a comma-separated list, possible values are 'AutoImport', 'DbSync', 'Salesforce', 'GdocImport'.","type":"string"},{"name":"author","in":"query","required":false,"description":"If specified, return imports from this author. It accepts a comma-separated list of author ids.","type":"string"},{"name":"destination","in":"query","required":false,"description":"If specified, returns imports with one of these destinations. It accepts a comma-separated list of remote host ids.","type":"string"},{"name":"status","in":"query","required":false,"description":"If specified, returns imports with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.","type":"string"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at, last_run.updated_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object114"}}}}},"post":{"summary":"Create a new import configuration","parameters":[{"name":"Object115","in":"body","schema":{"$ref":"#/definitions/Object115"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object102"}}}}},"/imports/files":{"post":{"summary":"Initate an import of a tabular file into the platform","parameters":[{"name":"Object117","in":"body","schema":{"$ref":"#/definitions/Object117"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object118"}}}}},"/imports/files/{id}/runs":{"post":{"summary":"Start a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object119"}}}},"get":{"summary":"List runs for the given import","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 100.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object119"}}}}}},"/imports/files/{id}/runs/{run_id}":{"get":{"summary":"Check status of a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object119"}}}},"delete":{"summary":"Cancel a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"202":{"description":"success"}}}},"/imports/files/{id}/runs/{run_id}/logs":{"get":{"summary":"Get the logs for a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"},{"name":"last_id","in":"query","required":false,"description":"The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"The maximum number of log messages to return. Default of 10000.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object82"}}}}}},"/imports/{id}/runs/{run_id}/logs":{"get":{"summary":"Get the logs for a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"},{"name":"last_id","in":"query","required":false,"description":"The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"The maximum number of log messages to return. Default of 10000.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object82"}}}}}},"/imports/batches":{"get":{"summary":"List batch imports","parameters":[{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object120"}}}}},"post":{"summary":"Upload multiple files to Redshift","parameters":[{"name":"Object122","in":"body","schema":{"$ref":"#/definitions/Object122"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object121"}}}}},"/imports/batches/{id}":{"get":{"summary":"Get details about a batch import","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the import.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object121"}}}}},"/imports/{id}":{"get":{"summary":"Get details about an import","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the import.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object102"}}}},"put":{"summary":"Update an import","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the import.","type":"integer"},{"name":"Object123","in":"body","schema":{"$ref":"#/definitions/Object123"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object102"}}}}},"/imports/{id}/runs":{"get":{"summary":"Get the run history of this import","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object33"}}}}},"post":{"summary":"Run an import","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import to run.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object124"}}}}},"/imports/{id}/cancel":{"post":{"summary":"Cancel a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the job.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object125"}}}}},"/imports/{id}/syncs":{"post":{"summary":"Create a sync","parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"Object126","in":"body","schema":{"$ref":"#/definitions/Object126"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object104"}}}}},"/imports/{id}/syncs/{sync_id}":{"put":{"summary":"Update a sync","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import to fetch.","type":"integer"},{"name":"sync_id","in":"path","required":true,"description":"The ID of the sync to fetch.","type":"integer"},{"name":"Object136","in":"body","schema":{"$ref":"#/definitions/Object136"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object104"}}}},"delete":{"summary":"Archive a sync (deprecated, use the /archive endpoint instead)","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import to fetch.","type":"integer"},{"name":"sync_id","in":"path","required":true,"description":"The ID of the sync to fetch.","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/imports/{id}/syncs/{sync_id}/archive":{"put":{"summary":"Update the archive status of this sync","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the import to fetch.","type":"integer"},{"name":"sync_id","in":"path","required":true,"description":"The ID of the sync to fetch.","type":"integer"},{"name":"Object137","in":"body","schema":{"$ref":"#/definitions/Object137"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object104"}}}}},"/jobs/":{"get":{"summary":"List ","parameters":[{"name":"state","in":"query","required":false,"description":"The job's state. One or more of queued, running, succeeded, failed, and cancelled. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"type","in":"query","required":false,"description":"The job's type. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"q","in":"query","required":false,"description":"Query string to search on the id, name, and job type","type":"string"},{"name":"permission","in":"query","required":false,"description":"A permissions string, one of \"read\", \"write\", or \"manage\". Lists only jobs for which the current user has that permission.","type":"string"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object138"}}}}}},"/jobs/{id}":{"get":{"summary":"Show basic job info","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this job.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object139"}}}}},"/jobs/{id}/trigger_email":{"post":{"summary":"Generate and retrieve trigger email address","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this job.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object140"}}}}},"/jobs/{id}/parents":{"get":{"summary":"Show chain of parents as a list that this job triggers from","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this job.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object139"}}}}},"/jobs/{id}/children":{"get":{"summary":"Show nested tree of children that this job triggers","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this job.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object141"}}}}},"/jobs/{id}/runs":{"post":{"summary":"Run a job","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this job.","type":"integer"}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object33"}}}}},"/jobs/{id}/runs/{run_id}":{"get":{"summary":"Check status of a job","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the Job.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the Run.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object33"}}}}},"/jobs/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/jobs/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/jobs/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/jobs/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/jobs/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/jobs/{id}/projects":{"get":{"summary":"List the projects a Job belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object27"}}}}}},"/jobs/{id}/projects/{project_id}":{"put":{"summary":"Add a Job to a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Remove a Job from a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/match_targets/":{"get":{"summary":"List match targets","parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object142"}}}}}},"/media/spot_orders/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/media/spot_orders/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/media/spot_orders/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/media/spot_orders/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/media/spot_orders/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/media/spot_orders/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"Object143","in":"body","schema":{"$ref":"#/definitions/Object143"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object144"}}}}},"/media/optimizations/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/media/optimizations/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/media/optimizations/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/media/optimizations/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/media/optimizations/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/media/optimizations/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"Object145","in":"body","schema":{"$ref":"#/definitions/Object145"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object146"}}}}},"/media/optimizations":{"get":{"summary":"List all optimizations","parameters":[{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at, author, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object149"}}}}},"post":{"summary":"Create a new optimization","parameters":[{"name":"Object150","in":"body","schema":{"$ref":"#/definitions/Object150"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object146"}}}}},"/media/optimizations/{id}":{"get":{"summary":"Show a single optimization","parameters":[{"name":"id","in":"path","required":true,"description":"The optimization ID.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object146"}}}},"patch":{"summary":"Edit an existing optimization","parameters":[{"name":"id","in":"path","required":true,"description":"The optimization ID.","type":"integer"},{"name":"Object154","in":"body","schema":{"$ref":"#/definitions/Object154"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object146"}}}}},"/media/optimizations/{id}/clone":{"post":{"summary":"Clone an existing optimization","parameters":[{"name":"id","in":"path","required":true,"description":"The optimization ID.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object146"}}}}},"/media/optimizations/{id}/runs":{"post":{"summary":"Start a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the optimization.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object153"}}}},"get":{"summary":"List runs for the given optimization","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the optimization.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 100.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object153"}}}}}},"/media/optimizations/{id}/runs/{run_id}":{"get":{"summary":"Check status of a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the optimization.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object153"}}}},"delete":{"summary":"Cancel a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the optimization.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"202":{"description":"success"}}}},"/media/optimizations/{id}/runs/{run_id}/logs":{"get":{"summary":"Get the logs for a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the optimization.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"},{"name":"last_id","in":"query","required":false,"description":"The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"The maximum number of log messages to return. Default of 10000.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object82"}}}}}},"/media/spot_orders":{"get":{"summary":"List all spot orders","parameters":[{"name":"id","in":"query","required":false,"description":"The ID for the spot order.","type":"integer"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object157"}}}}},"post":{"summary":"Create a spot order","parameters":[{"name":"Object158","in":"body","schema":{"$ref":"#/definitions/Object158"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object144"}}}}},"/media/spot_orders/{id}":{"get":{"summary":"Show a single spot order","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the spot order.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object144"}}}},"put":{"summary":"Edit the specified spot order","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for the spot order.","type":"integer"},{"name":"Object159","in":"body","schema":{"$ref":"#/definitions/Object159"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object144"}}}}},"/media/ratecards":{"get":{"summary":"List all ratecards","parameters":[{"name":"filename","in":"query","required":false,"description":"If specified, will be used to filter the ratecards returned. Substring matching is supported with \"%\" and \"*\" wildcards (e.g., \"filename=%ratecard%\" will return both \"ratecard 1\" and \"my ratecard\").","type":"string"},{"name":"dma_number","in":"query","required":false,"description":"If specified, will be used to filter the ratecards by DMA.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object160"}}}}}},"/media/dmas":{"get":{"summary":"List all Designated Market Areas","parameters":[{"name":"name","in":"query","required":false,"description":"If specified, will be used to filter the DMAs returned. Substring matching is supported with \"%\" and \"*\" wildcards (e.g., \"name=%region%\" will return both \"region1\" and \"my region\").","type":"string"},{"name":"number","in":"query","required":false,"description":"If specified, will be used to filter the DMAS by number.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object161"}}}}}},"/media/targets":{"get":{"summary":"List all Media Targets","parameters":[{"name":"name","in":"query","required":false,"description":"The name of the target.","type":"string"},{"name":"identifier","in":"query","required":false,"description":"A unique identifier for this target.","type":"string"},{"name":"data_source","in":"query","required":false,"description":"The source of viewership data for this target.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object162"}}}}}},"/models/types":{"get":{"summary":"List all available model types","parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object163"}}}}}},"/models/":{"post":{"summary":"Create new configuration for a model","parameters":[{"name":"Object164","in":"body","schema":{"$ref":"#/definitions/Object164"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object165"}}}},"get":{"summary":"List ","parameters":[{"name":"model_name","in":"query","required":false,"description":"If specified, will be used to filter the models returned. Substring matching is supported. (e.g., \"modelName=model\" will return both \"model1\" and \"my model\").","type":"string"},{"name":"training_table_name","in":"query","required":false,"description":"If specified, will be used to filter the models returned by the training dataset table name. Substring matching is supported. (e.g., \"trainingTableName=table\" will return both \"table1\" and \"my_table\").","type":"string"},{"name":"dependent_variable","in":"query","required":false,"description":"If specified, will be used to filter the models returned by the dependent variable column name. Substring matching is supported. (e.g., \"dependentVariable=predictor\" will return both \"predictor\" and \"my predictor\").","type":"string"},{"name":"author","in":"query","required":false,"description":"If specified, return models from this author. It accepts a comma-separated list of author ids.","type":"string"},{"name":"status","in":"query","required":false,"description":"If specified, returns models with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.","type":"string"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at, last_run.updated_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object168"}}}}}},"/models/{id}":{"patch":{"summary":"Update model configuration","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model.","type":"integer"},{"name":"Object170","in":"body","schema":{"$ref":"#/definitions/Object170"},"required":false}],"responses":{"204":{"description":"success"}}},"get":{"summary":"Retrieve model configuration","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object165"}}}}},"/models/{id}/builds":{"post":{"summary":"Start a build","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object171"}}}},"get":{"summary":"List builds for the given model","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 100.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object171"}}}}}},"/models/{id}/builds/{build_id}":{"get":{"summary":"Check status of a build","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model.","type":"integer"},{"name":"build_id","in":"path","required":true,"description":"The ID of the build.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object171"}}}},"delete":{"summary":"Cancel a build","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model.","type":"integer"},{"name":"build_id","in":"path","required":true,"description":"The ID of the build.","type":"integer"}],"responses":{"202":{"description":"success"}}}},"/models/{id}/builds/{build_id}/logs":{"get":{"summary":"Get the logs for a build","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model.","type":"integer"},{"name":"build_id","in":"path","required":true,"description":"The ID of the build.","type":"integer"},{"name":"last_id","in":"query","required":false,"description":"The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"The maximum number of log messages to return. Default of 10000.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object82"}}}}}},"/models/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/models/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/models/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/models/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/models/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/models/{id}/projects":{"get":{"summary":"List the projects a models belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object27"}}}}}},"/models/{id}/projects/{project_id}":{"put":{"summary":"Add a models to a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Remove a models from a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/models/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"Object172","in":"body","schema":{"$ref":"#/definitions/Object172"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object165"}}}}},"/models/{id}/predictions":{"put":{"summary":"Add a table on which to apply the predictive model","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model to which to apply the prediction.","type":"integer"},{"name":"Object173","in":"body","schema":{"$ref":"#/definitions/Object173"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object167"}}}}},"/models/{id}/schedules":{"get":{"summary":"Show the model build schedule","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model associated with this schedule.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object174"}}}},"put":{"summary":"Schedule the model build","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the model associated with this schedule.","type":"integer"},{"name":"Object175","in":"body","schema":{"$ref":"#/definitions/Object175"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object174"}}}}},"/notebooks/":{"get":{"summary":"List Notebooks","parameters":[{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"author","in":"query","required":false,"description":"If specified, return imports from this author. It accepts a comma-separated list of author IDs.","type":"string"},{"name":"status","in":"query","required":false,"description":"If specified, returns notebooks with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'pending', 'idle'.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object176"}}}}},"post":{"summary":"Create a Notebook","parameters":[{"name":"Object178","in":"body","schema":{"$ref":"#/definitions/Object178"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object179"}}}}},"/notebooks/{id}":{"get":{"summary":"Get a Notebook","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object179"}}}},"put":{"summary":"Replace all attributes of this Notebook","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this notebook.","type":"integer"},{"name":"Object181","in":"body","schema":{"$ref":"#/definitions/Object181"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object179"}}}},"patch":{"summary":"Update some attributes of this Notebook","parameters":[{"name":"id","in":"path","required":true,"description":"The ID for this notebook.","type":"integer"},{"name":"Object181","in":"body","schema":{"$ref":"#/definitions/Object181"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object179"}}}},"delete":{"summary":"Archive a Notebook (deprecated, use archiving endpoints instead)","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"success"}}}},"/notebooks/{id}/update-links":{"get":{"summary":"Get URLs to update notebook","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object182"}}}}},"/notebooks/{id}/clone":{"post":{"summary":"Clone this notebook","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object179"}}}}},"/notebooks/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object17"}}}}}},"/notebooks/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object52","in":"body","schema":{"$ref":"#/definitions/Object52"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/notebooks/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"ID of the user","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/notebooks/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be shared","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object17"}}}}},"/notebooks/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource to be revoked","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"ID of the group","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/notebooks/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"Object188","in":"body","schema":{"$ref":"#/definitions/Object188"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object179"}}}}},"/notebooks/{id}/projects":{"get":{"summary":"List the projects a Notebook belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object27"}}}}}},"/notebooks/{id}/projects/{project_id}":{"put":{"summary":"Add a Notebook to a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}},"delete":{"summary":"Remove a Notebook from a project","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the resource","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/notebooks/{notebook_id}/deployments":{"get":{"summary":"List deployments for a Notebook","parameters":[{"name":"notebook_id","in":"path","required":true,"description":"The ID of the owning Notebook","type":"integer"},{"name":"deployment_id","in":"query","required":false,"description":"The ID for this deployment","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object177"}}}}},"post":{"summary":"Deploy a Notebook","parameters":[{"name":"notebook_id","in":"path","required":true,"description":"The ID of the owning Notebook","type":"integer"},{"name":"Object189","in":"body","schema":{"$ref":"#/definitions/Object189"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object180"}}}}},"/notebooks/{notebook_id}/deployments/{deployment_id}":{"get":{"summary":"Get details about a Notebook deployment","parameters":[{"name":"notebook_id","in":"path","required":true,"description":"The ID of the owning Notebook","type":"integer"},{"name":"deployment_id","in":"path","required":true,"description":"The ID for this deployment","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object180"}}}},"delete":{"summary":"Delete a Notebook deployment","parameters":[{"name":"notebook_id","in":"path","required":true,"description":"The ID of the owning Notebook","type":"integer"},{"name":"deployment_id","in":"path","required":true,"description":"The ID for this deployment","type":"integer"}],"responses":{"204":{"description":"success"}}}},"/notifications/":{"get":{"summary":"Receive a stream of notifications as they come in","parameters":[{"name":"last_event_id","in":"query","required":false,"description":"allows browser to keep track of last event fired","type":"string"},{"name":"r","in":"query","required":false,"description":"specifies retry/reconnect timeout","type":"string"},{"name":"mock","in":"query","required":false,"description":"used for testing","type":"string"}],"responses":{"200":{"description":"success"}}}},"/ontology/":{"get":{"summary":"List the ontology of column names Civis uses","parameters":[{"name":"subset","in":"query","required":false,"description":"A subset of fields to return.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object191"}}}}}},"/predictions/":{"get":{"summary":"List predictions","parameters":[{"name":"model_id","in":"query","required":false,"description":"If specified, only return predictions associated with this model ID.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object192"}}}}}},"/predictions/{id}":{"get":{"summary":"Show the specified prediction","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the prediction.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object193"}}}},"patch":{"summary":"Update a prediction","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the prediction.","type":"integer"},{"name":"Object198","in":"body","schema":{"$ref":"#/definitions/Object198"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object193"}}}}},"/predictions/{id}/schedules":{"get":{"summary":"Show the prediction schedule","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the prediction associated with this schedule.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object196"}}}},"put":{"summary":"Schedule the prediction","parameters":[{"name":"id","in":"path","required":true,"description":"ID of the prediction associated with this schedule.","type":"integer"},{"name":"Object197","in":"body","schema":{"$ref":"#/definitions/Object197"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object196"}}}}},"/predictions/{id}/runs":{"post":{"summary":"Start a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the prediction.","type":"integer"}],"responses":{"202":{"description":"success","schema":{"$ref":"#/definitions/Object199"}}}},"get":{"summary":"List runs for the given prediction","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the prediction.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 100.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object199"}}}}}},"/predictions/{id}/runs/{run_id}":{"get":{"summary":"Check status of a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the prediction.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object199"}}}},"delete":{"summary":"Cancel a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the prediction.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"}],"responses":{"202":{"description":"success"}}}},"/predictions/{id}/runs/{run_id}/logs":{"get":{"summary":"Get the logs for a run","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the prediction.","type":"integer"},{"name":"run_id","in":"path","required":true,"description":"The ID of the run.","type":"integer"},{"name":"last_id","in":"query","required":false,"description":"The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"The maximum number of log messages to return. Default of 10000.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object82"}}}}}},"/projects/":{"get":{"summary":"List projects","parameters":[{"name":"author","in":"query","required":false,"description":"If specified, return projects owned by this author. It accepts a comma-separated list of author ids.","type":"string"},{"name":"permission","in":"query","required":false,"description":"A permissions string, one of \"read\", \"write\", or \"manage\". Lists only projects for which the current user has that permission.","type":"string"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden objects. Defaults to false, returning non-hidden objects.","type":"boolean"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested object(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 20. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_a
[...]
