{"swagger": "2.0", "info": {"title": "Civis Analytics API", "version": "1"}, "host": "api.civisanalytics.com", "schemes": ["https"], "produces": ["application/json"], "paths": {"/credentials/": {"get": {"summary": "List credentials", "parameters": [{"name": "type", "in": "query", "required": false, "description": "The type (or types) of credentials to return. One or more of: Amazon Web Services S3, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\").", "type": "string"}, {"name": "default", "in": "query", "required": false, "description": "If true, will return a list with a single credential which is the current user's default credential.", "type": "boolean"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 1000.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object40"}}}}}, "post": {"summary": "Create or update a credential", "parameters": [{"name": "Object41", "in": "body", "schema": {"$ref": "#/definitions/Object41"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object40"}}}}}, "/credentials/{id}": {"put": {"summary": "Update an existing credential", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the credential.", "type": "integer"}, {"name": "Object43", "in": "body", "schema": {"$ref": "#/definitions/Object43"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object40"}}}}, "get": {"summary": "Get a credential", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the credential.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object40"}}}}}, "/credentials/authenticate": {"post": {"summary": "Authenticate against a remote host", "parameters": [{"name": "Object44", "in": "body", "schema": {"$ref": "#/definitions/Object44"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object40"}}}}}, "/credentials/{id}/temporary": {"post": {"summary": "Generate a temporary credential for accessing S3", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the credential.", "type": "integer"}, {"name": "Object45", "in": "body", "schema": {"$ref": "#/definitions/Object45"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object46"}}}}}, "/databases/": {"get": {"summary": "List databases", "parameters": [], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object47"}}}}}}, "/databases/{id}/schemas": {"get": {"summary": "List schemas in this database", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the database.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object48"}}}}}}, "/databases/{id}/tables": {"get": {"summary": "List tables in the specified database, deprecated use \"GET /tables\" instead", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the database.", "type": "integer"}, {"name": "name", "in": "query", "required": false, "description": "If specified, will be used to filter the tables returned. Substring matching is supported (e.g., \"name=table\" will return both \"table1\" and \"my table\").", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 200. Maximum allowed is 1000.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to name. Must be one of: name.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object49"}}}}}}, "/databases/{id}/tables-search": {"get": {"summary": "List tables in the specified database, deprecated use \"GET /tables\" instead", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the database.", "type": "integer"}, {"name": "name", "in": "query", "required": false, "description": "If specified, will be used to filter the tables returned. Substring matching is supported (e.g., \"name=table\" will return both \"table1\" and \"my table\").", "type": "string"}, {"name": "column_name", "in": "query", "required": false, "description": "Search for tables containing a column with the given name.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object50"}}}}}}, "/databases/{id}/whitelist-ips": {"get": {"summary": "List whitelisted IPs for the specified database", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the database.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object51"}}}}}, "post": {"summary": "Whitelist an IP address", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the database this rule is applied to.", "type": "integer"}, {"name": "Object53", "in": "body", "schema": {"$ref": "#/definitions/Object53"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object52"}}}}}, "/databases/{id}/whitelist-ips/{whitelisted_ip_id}": {"get": {"summary": "View details about a whitelisted IP", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the database this rule is applied to.", "type": "integer"}, {"name": "whitelisted_ip_id", "in": "path", "required": true, "description": "The ID of this whitelisted IP address.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object52"}}}}, "delete": {"summary": "Remove a whitelisted IP address", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the database this rule is applied to.", "type": "integer"}, {"name": "whitelisted_ip_id", "in": "path", "required": true, "description": "The ID of this whitelisted IP address.", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/files/{id}/projects": {"get": {"summary": "List the projects a Data::S3File belongs to", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object26"}}}}}}, "/files/{id}/projects/{project_id}": {"put": {"summary": "Add a Data::S3File to a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}, "delete": {"summary": "Remove a Data::S3File from a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/files/": {"post": {"summary": "Initiate an upload of a file into the platform", "parameters": [{"name": "Object59", "in": "body", "schema": {"$ref": "#/definitions/Object59"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object60"}}}}}, "/files/{id}": {"get": {"summary": "Get details about a file", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the file object.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object61"}}}}}, "/files/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object16"}}}}}}, "/files/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object62", "in": "body", "schema": {"$ref": "#/definitions/Object62"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/files/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "ID of the user", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/files/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object63", "in": "body", "schema": {"$ref": "#/definitions/Object63"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/files/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "ID of the group", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/imports/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object16"}}}}}}, "/imports/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object62", "in": "body", "schema": {"$ref": "#/definitions/Object62"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/imports/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "ID of the user", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/imports/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object63", "in": "body", "schema": {"$ref": "#/definitions/Object63"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/imports/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "ID of the group", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/imports/{id}/projects": {"get": {"summary": "List the projects a JobTypes::Import belongs to", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object26"}}}}}}, "/imports/{id}/projects/{project_id}": {"put": {"summary": "Add a JobTypes::Import to a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}, "delete": {"summary": "Remove a JobTypes::Import from a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/imports/{id}/archive": {"put": {"summary": "Update the archive status of this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}, {"name": "Object65", "in": "body", "schema": {"$ref": "#/definitions/Object65"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object66"}}}}}, "/imports/": {"get": {"summary": "List imports", "parameters": [{"name": "type", "in": "query", "required": false, "description": "If specified, return imports of these types. It accepts a comma-separated list, possible values are 'AutoImport', 'DbSync', 'Salesforce', 'GdocImport'.", "type": "string"}, {"name": "author", "in": "query", "required": false, "description": "If specified, return imports from this author. It accepts a comma-separated list of author ids.", "type": "string"}, {"name": "destination", "in": "query", "required": false, "description": "If specified, returns imports with one of these destinations. It accepts a comma-separated list of remote host ids.", "type": "string"}, {"name": "status", "in": "query", "required": false, "description": "If specified, returns imports with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested object(s).", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at, last_run.updated_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object74"}}}}}, "post": {"summary": "Create a new import configuration", "parameters": [{"name": "Object75", "in": "body", "schema": {"$ref": "#/definitions/Object75"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object66"}}}}}, "/imports/files": {"post": {"summary": "Initate an import of a tabular file into the platform", "parameters": [{"name": "Object79", "in": "body", "schema": {"$ref": "#/definitions/Object79"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object80"}}}}}, "/imports/files/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the import.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object81"}}}}, "get": {"summary": "List runs for the given import", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the import.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object81"}}}}}}, "/imports/files/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the import.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object81"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the import.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/imports/batches": {"get": {"summary": "List batch imports", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object82"}}}}}, "post": {"summary": "Upload multiple files to Redshift", "parameters": [{"name": "Object84", "in": "body", "schema": {"$ref": "#/definitions/Object84"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object83"}}}}}, "/imports/batches/{id}": {"get": {"summary": "Get details about a batch import", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the import.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object83"}}}}}, "/imports/{id}": {"get": {"summary": "Get details about an import", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the import.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object85"}}}}, "put": {"summary": "Update an import", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the import.", "type": "integer"}, {"name": "Object86", "in": "body", "schema": {"$ref": "#/definitions/Object86"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object66"}}}}}, "/imports/{id}/runs": {"get": {"summary": "Get the run history of this import", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object32"}}}}}, "post": {"summary": "Run an import", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the import to run.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object87"}}}}}, "/imports/{id}/cancel": {"post": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the job.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object88"}}}}}, "/imports/{id}/syncs": {"post": {"summary": "Create a sync", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}, {"name": "Object89", "in": "body", "schema": {"$ref": "#/definitions/Object89"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object70"}}}}}, "/imports/{id}/syncs/{sync_id}": {"put": {"summary": "Update a sync", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the import to fetch.", "type": "integer"}, {"name": "sync_id", "in": "path", "required": true, "description": "The ID of the sync to fetch.", "type": "integer"}, {"name": "Object93", "in": "body", "schema": {"$ref": "#/definitions/Object93"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object70"}}}}, "delete": {"summary": "Delete a sync", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the import to fetch.", "type": "integer"}, {"name": "sync_id", "in": "path", "required": true, "description": "The ID of the sync to fetch.", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/jobs/": {"get": {"summary": "List jobs", "parameters": [{"name": "limit", "in": "query", "required": false, "description": "The maximum number of jobs to return.", "type": "integer"}, {"name": "state", "in": "query", "required": false, "description": "The job's state. One or more of queued, running, succeeded, failed, and cancelled. Specify multiple values as a comma-separated list (e.g., \"A,B\").", "type": "string"}, {"name": "type", "in": "query", "required": false, "description": "The job's type. Specify multiple values as a comma-separated list (e.g., \"A,B\").", "type": "string"}, {"name": "q", "in": "query", "required": false, "description": "Query string to search on the id, name, and job type", "type": "string"}, {"name": "permission", "in": "query", "required": false, "description": "A permissions string, one of \"read\", \"write\", or \"manage\". Lists only jobs for which the current user has that permission.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested object(s).", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object94"}}}}}}, "/jobs/{id}": {"get": {"summary": "Show basic job info", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for this job.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object95"}}}}}, "/jobs/{id}/trigger_email": {"post": {"summary": "Generate and retrieve trigger email address", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for this job.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object96"}}}}}, "/jobs/{id}/parents": {"get": {"summary": "Show chain of parents as a list that this job triggers from", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for this job.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object95"}}}}}, "/jobs/{id}/children": {"get": {"summary": "Show nested tree of children that this job triggers", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for this job.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object97"}}}}}, "/jobs/{id}/runs": {"post": {"summary": "Run a job", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for this job.", "type": "integer"}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object32"}}}}}, "/jobs/{id}/runs/{run_id}": {"get": {"summary": "Check status of a job", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the Job.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the Run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object32"}}}}}, "/jobs/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object16"}}}}}}, "/jobs/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object62", "in": "body", "schema": {"$ref": "#/definitions/Object62"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/jobs/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "ID of the user", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/jobs/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object63", "in": "body", "schema": {"$ref": "#/definitions/Object63"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/jobs/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "ID of the group", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/jobs/{id}/projects": {"get": {"summary": "List the projects a Job belongs to", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object26"}}}}}}, "/jobs/{id}/projects/{project_id}": {"put": {"summary": "Add a Job to a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}, "delete": {"summary": "Remove a Job from a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/models/types": {"get": {"summary": "List all available model types", "parameters": [], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object99"}}}}}}, "/models/": {"post": {"summary": "Create new configuration for a model", "parameters": [{"name": "Object100", "in": "body", "schema": {"$ref": "#/definitions/Object100"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object101"}}}}, "get": {"summary": "List models", "parameters": [{"name": "model_name", "in": "query", "required": false, "description": "If specified, will be used to filter the models returned. Substring matching is supported. (e.g., \"modelName=model\" will return both \"model1\" and \"my model\").", "type": "string"}, {"name": "training_table_name", "in": "query", "required": false, "description": "If specified, will be used to filter the models returned by the training dataset table name. Substring matching is supported. (e.g., \"trainingTableName=table\" will return both \"table1\" and \"my_table\").", "type": "string"}, {"name": "dependent_variable", "in": "query", "required": false, "description": "If specified, will be used to filter the models returned by the dependent variable column name. Substring matching is supported. (e.g., \"dependentVariable=predictor\" will return both \"predictor\" and \"my predictor\").", "type": "string"}, {"name": "author", "in": "query", "required": false, "description": "If specified, return models from this author. It accepts a comma-separated list of author ids.", "type": "string"}, {"name": "status", "in": "query", "required": false, "description": "If specified, returns models with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested object(s).", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, model_name, created_at, name, last_run.updated_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object104"}}}}}}, "/models/{id}": {"patch": {"summary": "Update model configuration", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model.", "type": "integer"}, {"name": "Object106", "in": "body", "schema": {"$ref": "#/definitions/Object106"}, "required": false}], "responses": {"204": {"description": "success"}}}, "get": {"summary": "Retrieve model configuration", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object101"}}}}}, "/models/{id}/builds": {"post": {"summary": "Start a build", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object107"}}}}, "get": {"summary": "List builds for the given model", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object107"}}}}}}, "/models/{id}/builds/{build_id}": {"get": {"summary": "Check status of a build", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model.", "type": "integer"}, {"name": "build_id", "in": "path", "required": true, "description": "The ID of the build.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object107"}}}}, "delete": {"summary": "Cancel a build", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model.", "type": "integer"}, {"name": "build_id", "in": "path", "required": true, "description": "The ID of the build.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/models/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object16"}}}}}}, "/models/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object62", "in": "body", "schema": {"$ref": "#/definitions/Object62"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/models/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "ID of the user", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/models/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object63", "in": "body", "schema": {"$ref": "#/definitions/Object63"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/models/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "ID of the group", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/models/{id}/projects": {"get": {"summary": "List the projects a models belongs to", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object26"}}}}}}, "/models/{id}/projects/{project_id}": {"put": {"summary": "Add a models to a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}, "delete": {"summary": "Remove a models from a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/models/{id}/archive": {"put": {"summary": "Update the archive status of this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}, {"name": "Object108", "in": "body", "schema": {"$ref": "#/definitions/Object108"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object101"}}}}}, "/models/{id}/predictions": {"put": {"summary": "Add a table on which to apply the predictive model", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model to which to apply the prediction.", "type": "integer"}, {"name": "Object109", "in": "body", "schema": {"$ref": "#/definitions/Object109"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object103"}}}}}, "/models/{id}/schedules": {"get": {"summary": "Show the model build schedule", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model associated with this schedule.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object110"}}}}, "put": {"summary": "Schedule the model build", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the model associated with this schedule.", "type": "integer"}, {"name": "Object111", "in": "body", "schema": {"$ref": "#/definitions/Object111"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object110"}}}}}, "/predictions/": {"get": {"summary": "List predictions", "parameters": [{"name": "model_id", "in": "query", "required": false, "description": "If specified, only return predictions associated with this model ID.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object113"}}}}}}, "/predictions/{id}": {"get": {"summary": "Show the specified prediction", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the prediction.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object114"}}}}, "patch": {"summary": "Update a prediction", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the prediction.", "type": "integer"}, {"name": "Object119", "in": "body", "schema": {"$ref": "#/definitions/Object119"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object114"}}}}}, "/predictions/{id}/schedules": {"get": {"summary": "Show the prediction schedule", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the prediction associated with this schedule.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object117"}}}}, "put": {"summary": "Schedule the prediction", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the prediction associated with this schedule.", "type": "integer"}, {"name": "Object118", "in": "body", "schema": {"$ref": "#/definitions/Object118"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object117"}}}}}, "/predictions/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the prediction.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object120"}}}}, "get": {"summary": "List runs for the given prediction", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the prediction.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object120"}}}}}}, "/predictions/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the prediction.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object120"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the prediction.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/projects/": {"get": {"summary": "List projects", "parameters": [{"name": "author", "in": "query", "required": false, "description": "If specified, return projects owned by this author. It accepts a comma-separated list of author ids.", "type": "string"}, {"name": "permission", "in": "query", "required": false, "description": "A permissions string, one of \"read\", \"write\", or \"manage\". Lists only projects for which the current user has that permission.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested object(s).", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 1000.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object26"}}}}}, "post": {"summary": "Create a project", "parameters": [{"name": "Object121", "in": "body", "schema": {"$ref": "#/definitions/Object121"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object122"}}}}}, "/projects/{project_id}": {"get": {"summary": "Get a detailed view of a project and the objects in it", "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object122"}}}}, "put": {"summary": "Update a project", "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "integer"}, {"name": "Object133", "in": "body", "schema": {"$ref": "#/definitions/Object133"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object122"}}}}, "delete": {"summary": "Archive a project (deprecated, use the /archive endpoint instead)", "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/projects/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object16"}}}}}}, "/projects/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object62", "in": "body", "schema": {"$ref": "#/definitions/Object62"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/projects/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "ID of the user", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/projects/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object63", "in": "body", "schema": {"$ref": "#/definitions/Object63"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/projects/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "ID of the group", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/projects/{id}/archive": {"put": {"summary": "Update the archive status of this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}, {"name": "Object134", "in": "body", "schema": {"$ref": "#/definitions/Object134"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object122"}}}}}, "/queries/": {"get": {"summary": "List all queries", "parameters": [{"name": "database_id", "in": "query", "required": false, "description": "The database ID.", "type": "integer"}, {"name": "author_id", "in": "query", "required": false, "description": "The author of the query.", "type": "integer"}, {"name": "created_before", "in": "query", "required": false, "description": "An upper bound for the creation date of the query.", "type": "string", "format": "date-time"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to created_at. Must be one of: created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object135"}}}}}, "post": {"summary": "Execute a query", "parameters": [{"name": "Object137", "in": "body", "schema": {"$ref": "#/definitions/Object137"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object138"}}}}}, "/queries/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the query.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object136"}}}}, "get": {"summary": "List runs for the given query", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the query.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object136"}}}}}}, "/queries/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the query.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object136"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the query.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/queries/{id}/scripts/{script_id}": {"put": {"summary": "Update the query's associated script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The query ID.", "type": "integer"}, {"name": "script_id", "in": "path", "required": true, "description": "The ID of the script associated with this query.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object139"}}}}}, "/queries/{id}": {"get": {"summary": "Get details about a query", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The query ID.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object139"}}}}}, "/reports/": {"get": {"summary": "List the reports visible to the current user", "parameters": [{"name": "type", "in": "query", "required": false, "description": "If specified, return report of these types. It accepts a comma-separated list, possible values are 'tableau', 'other'.", "type": "string"}, {"name": "author", "in": "query", "required": false, "description": "If specified, return reports from this author. It accepts a comma-separated list of author ids.", "type": "string"}, {"name": "template_id", "in": "query", "required": false, "description": "If specified, return reports using the provided Template.", "type": "integer"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested object(s).", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object148"}}}}}, "post": {"summary": "Create a report", "parameters": [{"name": "Object152", "in": "body", "schema": {"$ref": "#/definitions/Object152"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object151"}}}}}, "/reports/{id}": {"get": {"summary": "Show a single report", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this report.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object151"}}}}, "patch": {"summary": "Update a report", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the report to modify.", "type": "integer"}, {"name": "Object153", "in": "body", "schema": {"$ref": "#/definitions/Object153"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object151"}}}}}, "/reports/{id}/grants": {"post": {"summary": "Grant this report the ability to perform Civis platform API operations on your behalf", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this report.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object151"}}}}, "delete": {"summary": "Revoke permisstion for this report to perform Civis platform API operations on your behalf", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this report.", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/reports/{id}/snapshots": {"get": {"summary": "Get details about the report's snapshot automation settings", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this report.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object154"}}}}, "post": {"summary": "Generate and optionally email a snapshot of the specified report", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this report.", "type": "integer"}, {"name": "Object155", "in": "body", "schema": {"$ref": "#/definitions/Object155"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object154"}}}}, "patch": {"summary": "Update the report's snapshot automation settings", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of this report.", "type": "integer"}, {"name": "Object155", "in": "body", "schema": {"$ref": "#/definitions/Object155"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object154"}}}}}, "/reports/{id}/shares": {"get": {"summary": "List users and groups permissioned on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object16"}}}}}}, "/reports/{id}/shares/users": {"put": {"summary": "Set the permissions users have on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object62", "in": "body", "schema": {"$ref": "#/definitions/Object62"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/reports/{id}/shares/users/{user_id}": {"delete": {"summary": "Revoke the permissions a user has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "user_id", "in": "path", "required": true, "description": "ID of the user", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/reports/{id}/shares/groups": {"put": {"summary": "Set the permissions groups has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be shared", "type": "integer"}, {"name": "Object63", "in": "body", "schema": {"$ref": "#/definitions/Object63"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object16"}}}}}, "/reports/{id}/shares/groups/{group_id}": {"delete": {"summary": "Revoke the permissions a group has on this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource to be revoked", "type": "integer"}, {"name": "group_id", "in": "path", "required": true, "description": "ID of the group", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/reports/{id}/projects": {"get": {"summary": "List the projects a Report belongs to", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the resource.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object26"}}}}}}, "/reports/{id}/projects/{project_id}": {"put": {"summary": "Add a Report to a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}, "delete": {"summary": "Remove a Report from a project", "parameters": [{"name": "id", "in": "path", "required": true, "description": "ID of the resource", "type": "integer"}, {"name": "project_id", "in": "path", "required": true, "description": "The ID of the project", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/reports/{id}/archive": {"put": {"summary": "Update the archive status of this object", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the object.", "type": "integer"}, {"name": "Object156", "in": "body", "schema": {"$ref": "#/definitions/Object156"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object151"}}}}}, "/scripts/types": {"get": {"summary": "List available script types", "parameters": [], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object157"}}}}}}, "/scripts/{id}/history": {"get": {"summary": "Get the run history and outputs of this script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object158"}}}}}, "/scripts/": {"post": {"summary": "Create a script", "parameters": [{"name": "Object160", "in": "body", "schema": {"$ref": "#/definitions/Object160"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object162"}}}}, "get": {"summary": "List scripts", "parameters": [{"name": "type", "in": "query", "required": false, "description": "If specified, return objects of these types. The valid types are 'sql', 'python3', 'r', and 'javascript'.", "type": "string"}, {"name": "author", "in": "query", "required": false, "description": "If specified, return objects from this author. Must use user IDs. A comma separated list of IDs is also accepted to return objects from multiple authors.", "type": "string"}, {"name": "status", "in": "query", "required": false, "description": "If specified, returns objects with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested object(s).", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at, last_run.updated_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object180"}}}}}}, "/scripts/{id}": {"patch": {"summary": "Update a script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object166", "in": "body", "schema": {"$ref": "#/definitions/Object166"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object168"}}}}, "delete": {"summary": "Archive a script (deprecated, use archive endpoints instead)", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}], "responses": {"204": {"description": "success"}}}, "get": {"summary": "Get details about a script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object168"}}}}}, "/scripts/{id}/run": {"post": {"summary": "Run a script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/{id}/cancel": {"post": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the job.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object169"}}}}}, "/scripts/containers": {"post": {"summary": "Create a container", "parameters": [{"name": "Object170", "in": "body", "schema": {"$ref": "#/definitions/Object170"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object172"}}}}}, "/scripts/containers/{id}": {"get": {"summary": "View a container", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object172"}}}}, "put": {"summary": "Edit a container", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object174", "in": "body", "schema": {"$ref": "#/definitions/Object174"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object172"}}}}, "patch": {"summary": "Update a container", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object175", "in": "body", "schema": {"$ref": "#/definitions/Object175"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object172"}}}}, "delete": {"summary": "Archive a container (deprecated, use archive endpoints)", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/containers/{id}/runs/{run_id}": {"patch": {"summary": "Update a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the script run.", "type": "integer"}, {"name": "Object177", "in": "body", "schema": {"$ref": "#/definitions/Object177"}, "required": false}], "responses": {"204": {"description": "success"}}}, "get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the container.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object208"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the container.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/scripts/containers/{id}/runs/{run_id}/logs": {"post": {"summary": "Add log messages", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the script.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the script run.", "type": "integer"}, {"name": "Object178", "in": "body", "schema": {"$ref": "#/definitions/Object178"}, "required": false}], "responses": {"204": {"description": "success"}}}, "get": {"summary": "Get the logs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the container.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "last_id", "in": "query", "required": false, "description": "The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "The maximum number of log messages to return. Default of 10000.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object207"}}}}}}, "/scripts/containers/{id}/runs/{run_id}/heartbeats": {"post": {"summary": "Indicate that the given run is being handled", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the container.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/sql": {"post": {"summary": "Create a SQL script", "parameters": [{"name": "Object181", "in": "body", "schema": {"$ref": "#/definitions/Object181"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object183"}}}}}, "/scripts/sql/{id}": {"get": {"summary": "Get a SQL script", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object183"}}}}, "put": {"summary": "Replace all attributes of this SQL script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object185", "in": "body", "schema": {"$ref": "#/definitions/Object185"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object183"}}}}, "patch": {"summary": "Update some attributes of this SQL script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object186", "in": "body", "schema": {"$ref": "#/definitions/Object186"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object183"}}}}, "delete": {"summary": "Archive a SQL script (deprecated, use archiving endpoints instead)", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/python3": {"post": {"summary": "Create a Python Script", "parameters": [{"name": "Object187", "in": "body", "schema": {"$ref": "#/definitions/Object187"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object189"}}}}}, "/scripts/python3/{id}": {"get": {"summary": "Get a Python Script", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object189"}}}}, "put": {"summary": "Replace all attributes of this Python Script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object191", "in": "body", "schema": {"$ref": "#/definitions/Object191"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object189"}}}}, "patch": {"summary": "Update some attributes of this Python Script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object192", "in": "body", "schema": {"$ref": "#/definitions/Object192"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object189"}}}}, "delete": {"summary": "Archive a Python Script (deprecated, use archiving endpoints instead)", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/r": {"post": {"summary": "Create an R Script", "parameters": [{"name": "Object194", "in": "body", "schema": {"$ref": "#/definitions/Object194"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object195"}}}}}, "/scripts/r/{id}": {"get": {"summary": "Get an R Script", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object195"}}}}, "put": {"summary": "Replace all attributes of this R Script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object196", "in": "body", "schema": {"$ref": "#/definitions/Object196"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object195"}}}}, "patch": {"summary": "Update some attributes of this R Script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object197", "in": "body", "schema": {"$ref": "#/definitions/Object197"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object195"}}}}, "delete": {"summary": "Archive an R Script (deprecated, use archiving endpoints instead)", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/javascript": {"post": {"summary": "Create a JavaScript Script", "parameters": [{"name": "Object198", "in": "body", "schema": {"$ref": "#/definitions/Object198"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object199"}}}}}, "/scripts/javascript/{id}": {"get": {"summary": "Get a JavaScript Script", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object199"}}}}, "put": {"summary": "Replace all attributes of this JavaScript Script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object200", "in": "body", "schema": {"$ref": "#/definitions/Object200"}, "required": true}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object199"}}}}, "patch": {"summary": "Update some attributes of this JavaScript Script", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object201", "in": "body", "schema": {"$ref": "#/definitions/Object201"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object199"}}}}, "delete": {"summary": "Archive a JavaScript Script (deprecated, use archiving endpoints instead)", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/custom": {"get": {"summary": "List Custom Scripts", "parameters": [{"name": "from_template_id", "in": "query", "required": false, "description": "The template script that this app uses.", "type": "integer"}, {"name": "author", "in": "query", "required": false, "description": "If specified, return objects from this author. Must use user IDs. A comma separated list of IDs is also accepted to return objects from multiple authors.", "type": "string"}, {"name": "status", "in": "query", "required": false, "description": "If specified, returns objects with one of these statuses. It accepts a comma-separated list, possible values are 'running', 'failed', 'succeeded', 'idle', 'scheduled'.", "type": "string"}, {"name": "archived", "in": "query", "required": false, "description": "The archival status of the requested object(s).", "type": "string"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, name, created_at.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object202"}}}}}, "post": {"summary": "Create a CustomScript", "parameters": [{"name": "Object203", "in": "body", "schema": {"$ref": "#/definitions/Object203"}, "required": true}], "responses": {"201": {"description": "success", "schema": {"$ref": "#/definitions/Object204"}}}}}, "/scripts/custom/{id}": {"get": {"summary": "Get a CustomScript", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object204"}}}}, "put": {"summary": "Replace all attributes of this CustomScript", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object205", "in": "body", "schema": {"$ref": "#/definitions/Object205"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object204"}}}}, "patch": {"summary": "Update some attributes of this CustomScript", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID for the script.", "type": "integer"}, {"name": "Object205", "in": "body", "schema": {"$ref": "#/definitions/Object205"}, "required": false}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object204"}}}}, "delete": {"summary": "Archive a CustomScript (deprecated, use archiving endpoints instead)", "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer"}], "responses": {"204": {"description": "success"}}}}, "/scripts/sql/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the sql.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object206"}}}}, "get": {"summary": "List runs for the given sql", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the sql.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object206"}}}}}}, "/scripts/sql/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the sql.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object206"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the sql.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/scripts/sql/{id}/runs/{run_id}/logs": {"get": {"summary": "Get the logs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the sql.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "last_id", "in": "query", "required": false, "description": "The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "The maximum number of log messages to return. Default of 10000.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object207"}}}}}}, "/scripts/containers/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the container.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object208"}}}}, "get": {"summary": "List runs for the given container", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the container.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object208"}}}}}}, "/scripts/python3/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the python.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object209"}}}}, "get": {"summary": "List runs for the given python", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the python.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object209"}}}}}}, "/scripts/python3/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the python.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object209"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the python.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/scripts/python3/{id}/runs/{run_id}/logs": {"get": {"summary": "Get the logs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the python.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "last_id", "in": "query", "required": false, "description": "The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "The maximum number of log messages to return. Default of 10000.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object207"}}}}}}, "/scripts/r/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the r.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object210"}}}}, "get": {"summary": "List runs for the given r", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the r.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object210"}}}}}}, "/scripts/r/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the r.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object210"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the r.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/scripts/r/{id}/runs/{run_id}/logs": {"get": {"summary": "Get the logs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the r.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "last_id", "in": "query", "required": false, "description": "The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "The maximum number of log messages to return. Default of 10000.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object207"}}}}}}, "/scripts/javascript/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the javascript.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object211"}}}}, "get": {"summary": "List runs for the given javascript", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the javascript.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object211"}}}}}}, "/scripts/javascript/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the javascript.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object211"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the javascript.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/scripts/javascript/{id}/runs/{run_id}/logs": {"get": {"summary": "Get the logs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the javascript.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "last_id", "in": "query", "required": false, "description": "The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "The maximum number of log messages to return. Default of 10000.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object207"}}}}}}, "/scripts/custom/{id}/runs": {"post": {"summary": "Start a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the custom.", "type": "integer"}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object212"}}}}, "get": {"summary": "List runs for the given custom", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the custom.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to 20. Maximum allowed is 100.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to id. Must be one of: id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object212"}}}}}}, "/scripts/custom/{id}/runs/{run_id}": {"get": {"summary": "Check status of a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the custom.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"$ref": "#/definitions/Object212"}}}}, "delete": {"summary": "Cancel a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the custom.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}], "responses": {"202": {"description": "success"}}}}, "/scripts/custom/{id}/runs/{run_id}/logs": {"get": {"summary": "Get the logs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the custom.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "last_id", "in": "query", "required": false, "description": "The ID of the last log message received. Log entries with this ID value or lower will be omitted.Logs are sorted by ID if this value is provided, and are otherwise sorted by createdAt.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "The maximum number of log messages to return. Default of 10000.", "type": "integer"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object207"}}}}}}, "/scripts/sql/{id}/runs/{run_id}/outputs": {"get": {"summary": "List the outputs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the output.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to created_at. Must be one of: created_at, id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object213"}}}}}}, "/scripts/containers/{id}/runs/{run_id}/outputs": {"get": {"summary": "List the outputs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the output.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to created_at. Must be one of: created_at, id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object213"}}}}}, "post": {"summary": "Add an output for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the output.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "Object214", "in": "body", "schema": {"$ref": "#/definitions/Object214"}, "required": true}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object213"}}}}}, "/scripts/python3/{id}/runs/{run_id}/outputs": {"get": {"summary": "List the outputs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the output.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to created_at. Must be one of: created_at, id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object213"}}}}}, "post": {"summary": "Add an output for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the output.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "Object214", "in": "body", "schema": {"$ref": "#/definitions/Object214"}, "required": true}], "responses": {"202": {"description": "success", "schema": {"$ref": "#/definitions/Object213"}}}}}, "/scripts/r/{id}/runs/{run_id}/outputs": {"get": {"summary": "List the outputs for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the output.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "description": "The ID of the run.", "type": "integer"}, {"name": "limit", "in": "query", "required": false, "description": "Number of results to return. Defaults to its maximum of 50.", "type": "integer"}, {"name": "page_num", "in": "query", "required": false, "description": "Page number of the results to return. Defaults to the first page, 1.", "type": "integer"}, {"name": "order", "in": "query", "required": false, "description": "The field on which to order the result set. Defaults to created_at. Must be one of: created_at, id.", "type": "string"}, {"name": "order_dir", "in": "query", "required": false, "description": "Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.", "type": "string"}], "responses": {"200": {"description": "success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Object213"}}}}}, "post": {"summary": "Add an output for a run", "parameters": [{"name": "id", "in": "path", "required": true, "description": "The ID of the output.", "type": "integer"}, {"name": "run_id", "in": "path", "required": true, "descr
[...]
