{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/admin/announcements":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/announcements","description":"List first 10 announcements (inluding unreleased)","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 129a03d49c87486adb48ccbb8eba9bcdb5f76465b72096a0a18706c801bdc096","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24421,\"subject\":\"Important message 1\",\"body\":\"The square root of 1 is 1.0.\",\"releasedAt\":\"2020-02-20T19:22:13.000Z\",\"createdAt\":\"2020-02-20T19:17:13.000Z\",\"updatedAt\":\"2020-02-20T19:17:13.000Z\"},{\"id\":24422,\"subject\":\"Important message 2\",\"body\":\"The square root of 2 is 1.41.\",\"releasedAt\":\"2020-02-20T18:22:13.000Z\",\"createdAt\":\"2020-02-20T18:17:13.000Z\",\"updatedAt\":\"2020-02-20T18:17:13.000Z\"},{\"id\":24423,\"subject\":\"Important message 3\",\"body\":\"The square root of 3 is 1.73.\",\"releasedAt\":\"2020-02-20T17:22:13.000Z\",\"createdAt\":\"2020-02-20T17:17:13.000Z\",\"updatedAt\":\"2020-02-20T17:17:13.000Z\"},{\"id\":24424,\"subject\":\"Important message 4\",\"body\":\"The square root of 4 is 2.0.\",\"releasedAt\":\"2020-02-20T16:22:13.000Z\",\"createdAt\":\"2020-02-20T16:17:13.000Z\",\"updatedAt\":\"2020-02-20T16:17:13.000Z\"},{\"id\":24425,\"subject\":\"Important message 5\",\"body\":\"The square root of 5 is 2.24.\",\"releasedAt\":\"2020-02-20T15:22:13.000Z\",\"createdAt\":\"2020-02-20T15:17:13.000Z\",\"updatedAt\":\"2020-02-20T15:17:13.000Z\"},{\"id\":24426,\"subject\":\"Important message 6\",\"body\":\"The square root of 6 is 2.45.\",\"releasedAt\":\"2020-02-20T14:22:13.000Z\",\"createdAt\":\"2020-02-20T14:17:13.000Z\",\"updatedAt\":\"2020-02-20T14:17:13.000Z\"},{\"id\":24427,\"subject\":\"Important message 7\",\"body\":\"The square root of 7 is 2.65.\",\"releasedAt\":\"2020-02-20T13:22:13.000Z\",\"createdAt\":\"2020-02-20T13:17:13.000Z\",\"updatedAt\":\"2020-02-20T13:17:13.000Z\"},{\"id\":24428,\"subject\":\"Important message 8\",\"body\":\"The square root of 8 is 2.83.\",\"releasedAt\":\"2020-02-20T12:22:13.000Z\",\"createdAt\":\"2020-02-20T12:17:13.000Z\",\"updatedAt\":\"2020-02-20T12:17:13.000Z\"},{\"id\":24429,\"subject\":\"Important message 9\",\"body\":\"The square root of 9 is 3.0.\",\"releasedAt\":\"2020-02-20T11:22:13.000Z\",\"createdAt\":\"2020-02-20T11:17:13.000Z\",\"updatedAt\":\"2020-02-20T11:17:13.000Z\"},{\"id\":24430,\"subject\":\"Important message 10\",\"body\":\"The square root of 10 is 3.16.\",\"releasedAt\":\"2020-02-20T10:22:13.000Z\",\"createdAt\":\"2020-02-20T10:17:13.000Z\",\"updatedAt\":\"2020-02-20T10:17:13.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"10","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"4","X-Pagination-Total-Entries":"40","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"791b0d5b-bf00-4d93-98ec-bf7eaca99f1b","X-Runtime":"0.461864","Content-Length":"2020"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 129a03d49c87486adb48ccbb8eba9bcdb5f76465b72096a0a18706c801bdc096\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Post an announcement","deprecated":false,"parameters":[{"name":"Object1","in":"body","schema":{"$ref":"#/definitions/Object1"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","http_method":"POST","route":"http://api.civis.test/admin/announcements","description":"Announcement creation","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/admin/announcements","request_body":"{\n  \"subject\": \"Important message 41\",\n  \"body\": \"The square root of 41 is 6.4.\",\n  \"released_at\": null\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer a28ba4228f0d59671560224bae742065126a31cb7adf09debbbb8bd53cf2fd96","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":24461,\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"releasedAt\":null,\"createdAt\":\"2020-02-20T20:18:39.000Z\",\"updatedAt\":\"2020-02-20T20:18:39.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"43dfcc13-7be5-4274-bd1f-a68df2cc676e","X-Runtime":"0.061796","Content-Length":"180"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -d '{\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"released_at\":null}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer a28ba4228f0d59671560224bae742065126a31cb7adf09debbbb8bd53cf2fd96\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/announcements/{id}":{"get":{"summary":"Get a particular announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Edit an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"},{"name":"Object2","in":"body","schema":{"$ref":"#/definitions/Object2"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","http_method":"PATCH","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement update","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/admin/announcements/24462","request_body":"{\n  \"subject\": \"Friendship\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 3069bb251e83e6447d10a5cf08419a3b21932fbcf35887c99e90cae8f80f43af","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":24462,\"subject\":\"Friendship\",\"body\":\"The square root of 42 is 6.48.\",\"releasedAt\":null,\"createdAt\":\"2020-02-20T20:18:39.000Z\",\"updatedAt\":\"2020-02-20T20:18:39.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"d8d9f9ba-79a9-4728-80fc-352b7b885752","X-Runtime":"0.084647","Content-Length":"171"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/24462\" -d '{\"subject\":\"Friendship\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 3069bb251e83e6447d10a5cf08419a3b21932fbcf35887c99e90cae8f80f43af\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Admin","http_method":"DELETE","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement deletion","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/admin/announcements/24463","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f39f9cd24372b32e766ac6cb73d51eec641699621d93ac1fd06f094c79265ad2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"c0bfdc1c-aa15-4bba-8c92-0e342f8e4b44","X-Runtime":"0.082881"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/24463\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f39f9cd24372b32e766ac6cb73d51eec641699621d93ac1fd06f094c79265ad2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/themes":{"post":{"summary":"Create a theme","deprecated":false,"parameters":[{"name":"Object3","in":"body","schema":{"$ref":"#/definitions/Object3"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/themes/{id}":{"patch":{"summary":"Edit a theme","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this theme.","type":"integer"},{"name":"Object6","in":"body","schema":{"$ref":"#/definitions/Object6"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/organizations":{"get":{"summary":"List organizations","deprecated":false,"parameters":[{"name":"status","in":"query","required":false,"description":"The status of the organization (active/trial/inactive).","type":"array","items":{"type":"string"}},{"name":"org_type","in":"query","required":false,"description":"The organization type (platform/ads/survey_vendor/other).","type":"array","items":{"type":"string"}}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object7"}}}},"x-examples":[{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List all orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 89ea6df66bdb4b29a1d910fe1e44d734168f95fc9a8fd7adbc502b2bdb79664d","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"name\":\"Default\",\"slug\":\"default\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]},{\"id\":2,\"name\":\"Civis Analytics\",\"slug\":\"civis\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]},{\"id\":3,\"name\":\"Demo\",\"slug\":\"demo\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]},{\"id\":4,\"name\":\"Managers\",\"slug\":\"managers\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]},{\"id\":54501,\"name\":\"Organization 1\",\"slug\":\"organization_b\",\"accountManagerId\":1,\"csSpecialistId\":2,\"status\":\"active\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":25555,\"maxAnalystUsers\":3,\"maxReportUsers\":20,\"vertical\":\"Snake Handling\",\"csMetadata\":\"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]},{\"id\":54502,\"name\":\"Organization 2\",\"slug\":\"organization_c\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"active\",\"orgType\":\"ads\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]},{\"id\":54503,\"name\":\"Organization 3\",\"slug\":\"organization_d\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"trial\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"38dda25d-51b9-420f-993d-a256e3b20889","X-Runtime":"0.062879","Content-Length":"2872"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 89ea6df66bdb4b29a1d910fe1e44d734168f95fc9a8fd7adbc502b2bdb79664d\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"Filter orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 2bdb7f7b9a3e25f4144d994fb1033c33c749384f203a6d8b0b7c2e8a806280a5","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"status":["active","trial"],"org_type":"platform"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":54504,\"name\":\"Organization 4\",\"slug\":\"organization_e\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"active\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":25555,\"maxAnalystUsers\":3,\"maxReportUsers\":20,\"vertical\":\"Snake Handling\",\"csMetadata\":\"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]},{\"id\":54506,\"name\":\"Organization 6\",\"slug\":\"organization_g\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"trial\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"tableauRefreshHistory\":[{\"time_period\":\"2020-02\",\"usage\":0},{\"time_period\":\"2020-01\",\"usage\":0}]}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"42643a26-7609-4026-b60f-bed0601f5501","X-Runtime":"0.053204","Content-Length":"888"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2bdb7f7b9a3e25f4144d994fb1033c33c749384f203a6d8b0b7c2e8a806280a5\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 39a0e8dedbc173825b261f32169dffb852ca50d28d2201955fd0eeffe378814e","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":404,"response_status_text":"Not Found","response_body":"{\"error\":\"not_found\",\"errorDescription\":\"The requested endpoint could not be found.\",\"code\":404}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"094bab88-5b42-404a-bdf1-8a5440d71753","X-Runtime":"0.038169","Content-Length":"96"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 39a0e8dedbc173825b261f32169dffb852ca50d28d2201955fd0eeffe378814e\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object8"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object12","in":"body","schema":{"$ref":"#/definitions/Object12"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object13","in":"body","schema":{"$ref":"#/definitions/Object13"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/":{"get":{"summary":"List Aliases","deprecated":false,"parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: bsd_cons_export, model, cass_ncoa, container_script, gdoc_export, geocode, , media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, van_list_import, van_list_export, van_person_export, van_score_export, van_sync, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object14"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create an Alias","deprecated":false,"parameters":[{"name":"Object15","in":"body","schema":{"$ref":"#/definitions/Object15"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null,"x-deprecation-warning":null},"put":{"summary":"Replace all attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update some attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object17","in":"body","schema":{"$ref":"#/definitions/Object17"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Delete an alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","deprecated":false,"parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: bsd_cons_export, model, cass_ncoa, container_script, gdoc_export, geocode, , media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, van_list_import, van_list_export, van_person_export, van_score_export, van_sync, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null,"x-deprecation-warning":null}},"/announcements/":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Announcements","http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 4a1f9f5a76e5a1d85aec79171e7fe7a93b3aed3a5f7ae66a53a22dd3ab6c923f","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24464,\"subject\":\"Important message 44\",\"body\":\"The square root of 44 is 6.63.\",\"releasedAt\":\"2020-02-20T19:23:40.000Z\",\"createdAt\":\"2020-02-20T19:18:40.000Z\",\"updatedAt\":\"2020-02-20T19:18:40.000Z\"},{\"id\":24465,\"subject\":\"Important message 45\",\"body\":\"The square root of 45 is 6.71.\",\"releasedAt\":\"2020-02-20T18:23:40.000Z\",\"createdAt\":\"2020-02-20T18:18:40.000Z\",\"updatedAt\":\"2020-02-20T18:18:40.000Z\"},{\"id\":24466,\"subject\":\"Important message 46\",\"body\":\"The square root of 46 is 6.78.\",\"releasedAt\":\"2020-02-20T17:23:40.000Z\",\"createdAt\":\"2020-02-20T17:18:40.000Z\",\"updatedAt\":\"2020-02-20T17:18:40.000Z\"},{\"id\":24467,\"subject\":\"Important message 47\",\"body\":\"The square root of 47 is 6.86.\",\"releasedAt\":\"2020-02-20T16:23:40.000Z\",\"createdAt\":\"2020-02-20T16:18:40.000Z\",\"updatedAt\":\"2020-02-20T16:18:40.000Z\"},{\"id\":24468,\"subject\":\"Important message 48\",\"body\":\"The square root of 48 is 6.93.\",\"releasedAt\":\"2020-02-20T15:23:40.000Z\",\"createdAt\":\"2020-02-20T15:18:40.000Z\",\"updatedAt\":\"2020-02-20T15:18:40.000Z\"},{\"id\":24469,\"subject\":\"Important message 49\",\"body\":\"The square root of 49 is 7.0.\",\"releasedAt\":\"2020-02-20T14:23:40.000Z\",\"createdAt\":\"2020-02-20T14:18:40.000Z\",\"updatedAt\":\"2020-02-20T14:18:40.000Z\"},{\"id\":24470,\"subject\":\"Important message 50\",\"body\":\"The square root of 50 is 7.07.\",\"releasedAt\":\"2020-02-20T13:23:40.000Z\",\"createdAt\":\"2020-02-20T13:18:40.000Z\",\"updatedAt\":\"2020-02-20T13:18:40.000Z\"},{\"id\":24471,\"subject\":\"Important message 51\",\"body\":\"The square root of 51 is 7.14.\",\"releasedAt\":\"2020-02-20T12:23:40.000Z\",\"createdAt\":\"2020-02-20T12:18:40.000Z\",\"updatedAt\":\"2020-02-20T12:18:40.000Z\"},{\"id\":24472,\"subject\":\"Important message 52\",\"body\":\"The square root of 52 is 7.21.\",\"releasedAt\":\"2020-02-20T11:23:40.000Z\",\"createdAt\":\"2020-02-20T11:18:40.000Z\",\"updatedAt\":\"2020-02-20T11:18:40.000Z\"},{\"id\":24473,\"subject\":\"Important message 53\",\"body\":\"The square root of 53 is 7.28.\",\"releasedAt\":\"2020-02-20T10:23:40.000Z\",\"createdAt\":\"2020-02-20T10:18:40.000Z\",\"updatedAt\":\"2020-02-20T10:18:40.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2020-02-20T20:18:41.640Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"0ff8c6cf-14f3-4c4e-b8fd-f759b1cafacc","X-Runtime":"0.068783","Content-Length":"2040"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4a1f9f5a76e5a1d85aec79171e7fe7a93b3aed3a5f7ae66a53a22dd3ab6c923f\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/apps/":{"get":{"summary":"List apps","deprecated":false,"parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object18"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}":{"get":{"summary":"List details of a Decision Application","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/features/{org}":{"put":{"summary":"Update the Decision Application features for a given organization","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"org","in":"path","required":true,"description":"Organization.","type":"string"},{"name":"Object21","in":"body","schema":{"$ref":"#/definitions/Object21"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances":{"get":{"summary":"List the instances of a Decision Application","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"app_release_id","in":"query","required":false,"description":"If supplied, return only instances matching this release.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object22"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create a new instance of an application of the given slug","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object26","in":"body","schema":{"$ref":"#/definitions/Object26"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases":{"get":{"summary":"List the releases of a particular Decision Application","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object20"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create a new Decision Application release","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object24","in":"body","schema":{"$ref":"#/definitions/Object24"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object20"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}":{"get":{"summary":"Return a given app release","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the release.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object20"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update an existing Decision Application release","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The unique id of the release.","type":"integer"},{"name":"Object25","in":"body","schema":{"$ref":"#/definitions/Object25"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object20"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}":{"get":{"summary":"Return a given app instance","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update a given app instance","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object28","in":"body","schema":{"$ref":"#/definitions/Object28"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object8"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object29","in":"body","schema":{"$ref":"#/definitions/Object29"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object30","in":"body","schema":{"$ref":"#/definitions/Object30"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/releases/{id}/archive":{"put":{"summary":"Update the archive status of this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object31","in":"body","schema":{"$ref":"#/definitions/Object31"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object20"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object8"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object32","in":"body","schema":{"$ref":"#/definitions/Object32"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object33","in":"body","schema":{"$ref":"#/definitions/Object33"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/archive":{"put":{"summary":"Update the archive status of this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object34","in":"body","schema":{"$ref":"#/definitions/Object34"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/projects":{"get":{"summary":"List the projects an App Instance belongs to","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden items. Defaults to false, returning non-hidden items.","type":"boolean"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object35"}}}},"x-examples":null,"x-deprecation-warning":null}},"/apps/{slug}/instances/{id}/projects/{project_id}":{"put":{"summary":"Add an App Instance to a project","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Remove an App Instance from a project","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","deprecated":false,"parameters":[{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object38"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer a5b3095b0fbd3b5a2f4f1f5aab4c04bae44ecae1bab5168a9664ac8a5196c5bf","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"organizationId\":1,\"organizationName\":\"Default\",\"organizationSlug\":\"default\",\"clusterPartitions\":[{\"clusterPartitionId\":1,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":1},{\"clusterPartitionId\":2,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":2,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":2}],\"isNatEnabled\":false},{\"id\":2,\"organizationId\":2,\"organizationName\":\"Civis Analytics\",\"organizationSlug\":\"civis\",\"clusterPartitions\":[{\"clusterPartitionId\":3,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":3,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":3},{\"clusterPartitionId\":4,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":4,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":4}],\"isNatEnabled\":false},{\"id\":3,\"organizationId\":3,\"organizationName\":\"Demo\",\"organizationSlug\":\"demo\",\"clusterPartitions\":[{\"clusterPartitionId\":5,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":5,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":5},{\"clusterPartitionId\":6,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":6,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":6}],\"isNatEnabled\":false},{\"id\":4,\"organizationId\":4,\"organizationName\":\"Managers\",\"organizationSlug\":\"managers\",\"clusterPartitions\":[{\"clusterPartitionId\":7,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":7,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":7},{\"clusterPartitionId\":8,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":8,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":8}],\"isNatEnabled\":false}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"4","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"65530c50-9455-4b53-a89a-c002f3129207","X-Runtime":"0.121861","Content-Length":"2711"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer a5b3095b0fbd3b5a2f4f1f5aab4c04bae44ecae1bab5168a9664ac8a5196c5bf\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"Object41","in":"body","schema":{"$ref":"#/definitions/Object41"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object38"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization ID","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationId\": 54512\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer c7d7d844b6fafe28bf0b5af897750c37f9cfa722ce68bcd164deb85efa68c47c","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":53135,\"organizationId\":54512,\"organizationName\":\"Organization 12\",\"organizationSlug\":\"organization_m\",\"clusterPartitions\":[],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"0c477b5b-18ba-4620-bf12-a57c07971025","X-Runtime":"0.093718","Content-Length":"152"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationId\":54512}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c7d7d844b6fafe28bf0b5af897750c37f9cfa722ce68bcd164deb85efa68c47c\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization slug","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationSlug\": \"organization_n\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer e03503d8f8b604323ae26f7f89cbaade591c73c4dca86419161b774bf4591bfb","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":53136,\"organizationId\":54513,\"organizationName\":\"Organization 13\",\"organizationSlug\":\"organization_n\",\"clusterPartitions\":[],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"cd528a29-bc05-4fd7-aaf2-b3b4f67a494c","X-Runtime":"0.085704","Content-Length":"152"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationSlug\":\"organization_n\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e03503d8f8b604323ae26f7f89cbaade591c73c4dca86419161b774bf4591bfb\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object38"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/53134","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer e64c70a929a4b649460779a331346ed01abbd4dc95b657dfd9bbe374f3514246","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":53134,\"organizationId\":54511,\"organizationName\":\"Organization 11\",\"organizationSlug\":\"organization_l\",\"clusterPartitions\":[{\"clusterPartitionId\":45972,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68141,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68141},{\"clusterPartitionId\":45973,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":68142,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68142}],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"06e42c2f-0865-42ae-aef9-08f5d29741bb","X-Runtime":"0.091550","Content-Length":"723"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53134\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e64c70a929a4b649460779a331346ed01abbd4dc95b657dfd9bbe374f3514246\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"patch":{"summary":"Update a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"},{"name":"Object42","in":"body","schema":{"$ref":"#/definitions/Object42"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object38"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id","description":"Update a Kubernetes cluster via PATCH","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/53137","request_body":"{\n  \"isNatEnabled\": true\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer f3e3f8f3187a901ddac6497bd168cd80583e03d6dffdc53e47037460931f8162","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":53137,\"organizationId\":54514,\"organizationName\":\"Organization 14\",\"organizationSlug\":\"organization_o\",\"clusterPartitions\":[{\"clusterPartitionId\":45974,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68143,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68143},{\"clusterPartitionId\":45975,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":68144,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68144}],\"isNatEnabled\":true}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"43f73952-cfe7-4364-8798-73b699b9e88a","X-Runtime":"0.108941","Content-Length":"722"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53137\" -d '{\"isNatEnabled\":true}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f3e3f8f3187a901ddac6497bd168cd80583e03d6dffdc53e47037460931f8162\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object43"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object44"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object39"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/53138/partitions","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 33e8dac4856e1c735154cd54d7da9597f5d2118694fb9a696305b049493f14e1","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"clusterPartitionId\":45976,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68145,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68145},{\"clusterPartitionId\":45977,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":68146,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68146}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"504ec73b-f798-4bf2-94b1-8e4e2407bf66","X-Runtime":"0.087131","Content-Length":"573"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53138/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 33e8dac4856e1c735154cd54d7da9597f5d2118694fb9a696305b049493f14e1\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Cluster Partition for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object45","in":"body","schema":{"$ref":"#/definitions/Object45"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/53140/partitions","request_body":"{\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 4edd24c0c78559de6b0de5f2b04a0edefef5cfe5987852004c8895a1a7443d6b","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":45982,\"name\":\"jobs\",\"labels\":[\"this\"],\"instanceConfigs\":[{\"instanceConfigId\":68151,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68151}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"8b4503b0-8cdc-4165-a08b-95a36ee094c7","X-Runtime":"0.094130","Content-Length":"272"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53140/partitions\" -d '{\"name\":\"jobs\",\"labels\":[\"this\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 4edd24c0c78559de6b0de5f2b04a0edefef5cfe5987852004c8895a1a7443d6b\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object47","in":"body","schema":{"$ref":"#/definitions/Object47"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/53142/partitions/45985","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer df8a7e908f33b71b994cc42ab2c03889224c26ba648d145b7b615e2a6d08b5f9","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":45985,\"name\":\"jobs\",\"labels\":[\"this\",\"that\"],\"instanceConfigs\":[{\"instanceConfigId\":68154,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68154}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"4dc64a3d-0ff9-4928-b08f-37d2af41260e","X-Runtime":"0.063236","Content-Length":"279"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53142/partitions/45985\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer df8a7e908f33b71b994cc42ab2c03889224c26ba648d145b7b615e2a6d08b5f9\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/53143/partitions/45987","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer f45d36fa56a86ccf443f7b6f68595df3c3bed8d3fc3d9f438aa6d34cb899ff44","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":45987,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68158,\"instanceType\":\"m4.xlarge\",\"minInstances\":3,\"maxInstances\":5,\"instanceMaxMemory\":15320,\"instanceMaxCpu\":4096,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68158}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"2adc1cd1-d545-46cf-a01a-0e9a66cad079","X-Runtime":"0.070080","Content-Length":"270"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53143/partitions/45987\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f45d36fa56a86ccf443f7b6f68595df3c3bed8d3fc3d9f438aa6d34cb899ff44\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/53141/partitions/45983","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer a2954d7f75148f057cc873c5c0ae1c252a4b1b854ad8f193b522daa643e29945","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"78ed94f8-db41-4510-b0df-e63a94efb540","X-Runtime":"0.096495"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53141/partitions/45983\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer a2954d7f75148f057cc873c5c0ae1c252a4b1b854ad8f193b522daa643e29945\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"get":{"summary":"Describe a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/53139/partitions/45978","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 361c3b19bf2fcae25e86559cc904e46a24cf72ce203ff5dc56f8d7447232bd0e","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":45978,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":68147,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":68147}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"f766eb86-b008-4de6-b0cd-a19b62d2c8e3","X-Runtime":"0.080693","Content-Length":"271"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/53139/partitions/45978\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 361c3b19bf2fcae25e86559cc904e46a24cf72ce203ff5dc56f8d7447232bd0e\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/credentials/":{"get":{"summary":"List credentials","deprecated":false,"parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object50"}}}},"x-examples":[{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer bd88fcd3f1a3b8509d7a2ad1ca5888499e2a58bead8e745d8841ae6b8dddde4e","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":41046,\"name\":\"van-api-key-1\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-02-20T20:18:53.000Z\",\"updatedAt\":\"2020-02-20T20:18:53.000Z\"},{\"id\":41048,\"name\":\"db_user-1\",\"type\":\"Database\",\"username\":\"db_user-1\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":42704,\"remoteHostName\":\"redshift-10000\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:53.000Z\",\"updatedAt\":\"2020-02-20T20:17:53.000Z\"},{\"id\":41050,\"name\":\"db_user-2\",\"type\":\"Database\",\"username\":\"db_user-2\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":42705,\"remoteHostName\":\"redshift-10001\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:53.000Z\",\"updatedAt\":\"2020-02-20T20:16:53.000Z\"},{\"id\":41051,\"name\":\"salesforce-user-key-1\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-02-20T20:18:53.000Z\",\"updatedAt\":\"2020-02-20T20:15:53.000Z\"},{\"id\":41053,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-02-20T20:18:53.000Z\",\"updatedAt\":\"2020-02-20T20:13:53.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"b26e411b-b429-452a-8468-521c495e687f","X-Runtime":"0.202222","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer bd88fcd3f1a3b8509d7a2ad1ca5888499e2a58bead8e745d8841ae6b8dddde4e\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer c738f801a2ecd5bcec58a2e4933c9afbf1017b5b6bbe234c1cffa343fd99fac9","Accept":"application/vnd.civis-platform.v2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":41054,\"name\":\"van-api-key-3\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-02-20T20:18:54.000Z\",\"updatedAt\":\"2020-02-20T20:18:54.000Z\"},{\"id\":41056,\"name\":\"db_user-3\",\"type\":\"Database\",\"username\":\"db_user-3\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":42707,\"remoteHostName\":\"redshift-10002\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:54.000Z\",\"updatedAt\":\"2020-02-20T20:17:54.000Z\"},{\"id\":41058,\"name\":\"db_user-4\",\"type\":\"Database\",\"username\":\"db_user-4\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":42708,\"remoteHostName\":\"redshift-10003\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:54.000Z\",\"updatedAt\":\"2020-02-20T20:16:54.000Z\"},{\"id\":41059,\"name\":\"salesforce-user-key-2\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-02-20T20:18:54.000Z\",\"updatedAt\":\"2020-02-20T20:15:54.000Z\"},{\"id\":41061,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-02-20T20:18:54.000Z\",\"updatedAt\":\"2020-02-20T20:13:54.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"aacb055c-ef64-4577-b3e5-6832f46b6060","X-Runtime":"0.165642","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c738f801a2ecd5bcec58a2e4933c9afbf1017b5b6bbe234c1cffa343fd99fac9\" \\\n\t-H \"Accept: application/vnd.civis-platform.v2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database","description":"List all credentials of the specified type","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer e7c9731088df01c71dbb8b1e57050e16b02f2c008e08582279c8508baf124392","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":41064,\"name\":\"db_user-5\",\"type\":\"Database\",\"username\":\"db_user-5\",\"description\":null,\"owner\":\"devuserfactory15\",\"remoteHostId\":42710,\"remoteHostName\":\"redshift-10004\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:55.000Z\",\"updatedAt\":\"2020-02-20T20:17:55.000Z\"},{\"id\":41066,\"name\":\"db_user-6\",\"type\":\"Database\",\"username\":\"db_user-6\",\"description\":null,\"owner\":\"devuserfactory15\",\"remoteHostId\":42711,\"remoteHostName\":\"redshift-10005\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:55.000Z\",\"updatedAt\":\"2020-02-20T20:16:55.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"2","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"f86c5f49-af96-439f-b4aa-8cba4481ea8c","X-Runtime":"0.152276","Content-Length":"531"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e7c9731088df01c71dbb8b1e57050e16b02f2c008e08582279c8508baf124392\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","description":"List all credentials of multiple types","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 806fdd80a973918c225cccae28d2afa801188c59a284935b93b67fa154508f02","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database,VAN::MyCampaign"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":41070,\"name\":\"van-api-key-7\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-02-20T20:18:56.000Z\",\"updatedAt\":\"2020-02-20T20:18:56.000Z\"},{\"id\":41072,\"name\":\"db_user-7\",\"type\":\"Database\",\"username\":\"db_user-7\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":42713,\"remoteHostName\":\"redshift-10006\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:56.000Z\",\"updatedAt\":\"2020-02-20T20:17:56.000Z\"},{\"id\":41074,\"name\":\"db_user-8\",\"type\":\"Database\",\"username\":\"db_user-8\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":42714,\"remoteHostName\":\"redshift-10007\",\"state\":null,\"createdAt\":\"2020-02-20T20:18:56.000Z\",\"updatedAt\":\"2020-02-20T20:16:56.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"3","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"15760383-a4be-452d-8dae-e25492f7a7f7","X-Runtime":"0.140015","Content-Length":"800"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database,VAN::MyCampaign\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 806fdd80a973918c225cccae28d2afa801188c59a284935b93b67fa154508f02\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?remoteHostId=:remote_host_id","description":"List all credentials of the specified remote host","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"
[...]
