{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/admin/announcements":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/announcements","description":"List first 10 announcements (inluding unreleased)","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 72a44df473b87cb83d7ab2f71c469915eb54cf8cca916bad5e13fd88f4d5d54a","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":67193,\"subject\":\"Important message 1\",\"body\":\"The square root of 1 is 1.0.\",\"releasedAt\":\"2020-04-15T23:01:44.000Z\",\"createdAt\":\"2020-04-15T22:56:44.000Z\",\"updatedAt\":\"2020-04-15T22:56:44.000Z\"},{\"id\":67194,\"subject\":\"Important message 2\",\"body\":\"The square root of 2 is 1.41.\",\"releasedAt\":\"2020-04-15T22:01:44.000Z\",\"createdAt\":\"2020-04-15T21:56:44.000Z\",\"updatedAt\":\"2020-04-15T21:56:44.000Z\"},{\"id\":67195,\"subject\":\"Important message 3\",\"body\":\"The square root of 3 is 1.73.\",\"releasedAt\":\"2020-04-15T21:01:44.000Z\",\"createdAt\":\"2020-04-15T20:56:44.000Z\",\"updatedAt\":\"2020-04-15T20:56:44.000Z\"},{\"id\":67196,\"subject\":\"Important message 4\",\"body\":\"The square root of 4 is 2.0.\",\"releasedAt\":\"2020-04-15T20:01:44.000Z\",\"createdAt\":\"2020-04-15T19:56:44.000Z\",\"updatedAt\":\"2020-04-15T19:56:44.000Z\"},{\"id\":67197,\"subject\":\"Important message 5\",\"body\":\"The square root of 5 is 2.24.\",\"releasedAt\":\"2020-04-15T19:01:44.000Z\",\"createdAt\":\"2020-04-15T18:56:44.000Z\",\"updatedAt\":\"2020-04-15T18:56:44.000Z\"},{\"id\":67198,\"subject\":\"Important message 6\",\"body\":\"The square root of 6 is 2.45.\",\"releasedAt\":\"2020-04-15T18:01:44.000Z\",\"createdAt\":\"2020-04-15T17:56:44.000Z\",\"updatedAt\":\"2020-04-15T17:56:44.000Z\"},{\"id\":67199,\"subject\":\"Important message 7\",\"body\":\"The square root of 7 is 2.65.\",\"releasedAt\":\"2020-04-15T17:01:44.000Z\",\"createdAt\":\"2020-04-15T16:56:44.000Z\",\"updatedAt\":\"2020-04-15T16:56:44.000Z\"},{\"id\":67200,\"subject\":\"Important message 8\",\"body\":\"The square root of 8 is 2.83.\",\"releasedAt\":\"2020-04-15T16:01:44.000Z\",\"createdAt\":\"2020-04-15T15:56:44.000Z\",\"updatedAt\":\"2020-04-15T15:56:44.000Z\"},{\"id\":67201,\"subject\":\"Important message 9\",\"body\":\"The square root of 9 is 3.0.\",\"releasedAt\":\"2020-04-15T15:01:44.000Z\",\"createdAt\":\"2020-04-15T14:56:44.000Z\",\"updatedAt\":\"2020-04-15T14:56:44.000Z\"},{\"id\":67202,\"subject\":\"Important message 10\",\"body\":\"The square root of 10 is 3.16.\",\"releasedAt\":\"2020-04-15T14:01:44.000Z\",\"createdAt\":\"2020-04-15T13:56:44.000Z\",\"updatedAt\":\"2020-04-15T13:56:44.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"10","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"4","X-Pagination-Total-Entries":"40","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"cd27fad3-b912-40eb-9e2c-c26c05bc4db6","X-Runtime":"0.195466","Content-Length":"2020"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 72a44df473b87cb83d7ab2f71c469915eb54cf8cca916bad5e13fd88f4d5d54a\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Post an announcement","deprecated":false,"parameters":[{"name":"Object1","in":"body","schema":{"$ref":"#/definitions/Object1"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","http_method":"POST","route":"http://api.civis.test/admin/announcements","description":"Announcement creation","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/admin/announcements","request_body":"{\n  \"subject\": \"Important message 41\",\n  \"body\": \"The square root of 41 is 6.4.\",\n  \"released_at\": null\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 60a35967e3b90d75b68fc31c75bad68557241e88bccae19511e67e0628c695f8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":67233,\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"releasedAt\":null,\"createdAt\":\"2020-04-15T23:56:45.000Z\",\"updatedAt\":\"2020-04-15T23:56:45.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"5eb5c35f-fd14-445e-82cb-2eefbfa871ce","X-Runtime":"0.028915","Content-Length":"180"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements\" -d '{\"subject\":\"Important message 41\",\"body\":\"The square root of 41 is 6.4.\",\"released_at\":null}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 60a35967e3b90d75b68fc31c75bad68557241e88bccae19511e67e0628c695f8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/announcements/{id}":{"get":{"summary":"Get a particular announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Edit an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"},{"name":"Object2","in":"body","schema":{"$ref":"#/definitions/Object2"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object0"}}},"x-examples":[{"resource":"Admin","http_method":"PATCH","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement update","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/admin/announcements/67234","request_body":"{\n  \"subject\": \"Friendship\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 69b2a4318a2bf3214c93cf6d641327d323541a68c846e5f0ddf7a3f9204f12e8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":67234,\"subject\":\"Friendship\",\"body\":\"The square root of 42 is 6.48.\",\"releasedAt\":null,\"createdAt\":\"2020-04-15T23:56:45.000Z\",\"updatedAt\":\"2020-04-15T23:56:45.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"c7e3fcf4-9750-4717-a68b-937489c834c8","X-Runtime":"0.029783","Content-Length":"171"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/67234\" -d '{\"subject\":\"Friendship\"}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 69b2a4318a2bf3214c93cf6d641327d323541a68c846e5f0ddf7a3f9204f12e8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete an announcement","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this announcement","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Admin","http_method":"DELETE","route":"http://api.civis.test/admin/announcements/:id","description":"Announcement deletion","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/admin/announcements/67235","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 45856ec4bdab4a574cb34abd71564770935d7e73d153ea3609e559c61538c5ef","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"c06271c4-5fdc-452e-a298-fea99d064ae7","X-Runtime":"0.028061"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/admin/announcements/67235\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 45856ec4bdab4a574cb34abd71564770935d7e73d153ea3609e559c61538c5ef\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/admin/themes":{"post":{"summary":"Create a theme","deprecated":false,"parameters":[{"name":"Object3","in":"body","schema":{"$ref":"#/definitions/Object3"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/themes/{id}":{"patch":{"summary":"Edit a theme","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this theme.","type":"integer"},{"name":"Object6","in":"body","schema":{"$ref":"#/definitions/Object6"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object4"}}},"x-examples":null,"x-deprecation-warning":null}},"/admin/organizations":{"get":{"summary":"List organizations","deprecated":false,"parameters":[{"name":"status","in":"query","required":false,"description":"The status of the organization (active/trial/inactive).","type":"array","items":{"type":"string"}},{"name":"org_type","in":"query","required":false,"description":"The organization type (platform/ads/survey_vendor/other).","type":"array","items":{"type":"string"}}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object7"}}}},"x-examples":[{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List all orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer aa81d9a50e286384395256b93c044db89a6245e8557a5063aa7026033ec991d8","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"name\":\"Default\",\"slug\":\"default\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":2,\"name\":\"Civis Analytics\",\"slug\":\"civis\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":3,\"name\":\"Demo\",\"slug\":\"demo\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":4,\"name\":\"Managers\",\"slug\":\"managers\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":null,\"orgType\":null,\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":82266,\"name\":\"Organization 1\",\"slug\":\"organization_b\",\"accountManagerId\":1,\"csSpecialistId\":2,\"status\":\"active\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":25555,\"maxAnalystUsers\":3,\"maxReportUsers\":20,\"vertical\":\"Snake Handling\",\"csMetadata\":\"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":82267,\"name\":\"Organization 2\",\"slug\":\"organization_c\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"active\",\"orgType\":\"ads\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":82268,\"name\":\"Organization 3\",\"slug\":\"organization_d\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"trial\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"f76dfa53-41d7-44db-910e-50ede765dfd2","X-Runtime":"0.036306","Content-Length":"3236"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer aa81d9a50e286384395256b93c044db89a6245e8557a5063aa7026033ec991d8\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"Filter orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 596f9c92da7a57eee86bda2ef649c760b94f044000661eb7b8041e81fc76f07d","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"status":["active","trial"],"org_type":"platform"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":82269,\"name\":\"Organization 4\",\"slug\":\"organization_e\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"active\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":25555,\"maxAnalystUsers\":3,\"maxReportUsers\":20,\"vertical\":\"Snake Handling\",\"csMetadata\":\"{\\\"second_vertical\\\":\\\"snake disposal\\\"}\",\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]},{\"id\":82271,\"name\":\"Organization 6\",\"slug\":\"organization_g\",\"accountManagerId\":null,\"csSpecialistId\":null,\"status\":\"trial\",\"orgType\":\"platform\",\"customBranding\":null,\"contractSize\":null,\"maxAnalystUsers\":null,\"maxReportUsers\":null,\"vertical\":null,\"csMetadata\":null,\"removeFooterInEmails\":false,\"salesforceAccountId\":null,\"advancedSettings\":{\"dedicatedDjPoolEnabled\":false},\"tableauRefreshHistory\":[{\"time_period\":\"2020-04\",\"usage\":0},{\"time_period\":\"2020-03\",\"usage\":0}]}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"2d88519d-4dd6-421d-8f88-27402f6b24cd","X-Runtime":"0.031425","Content-Length":"992"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations?status[]=active&status[]=trial&org_type=platform\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 596f9c92da7a57eee86bda2ef649c760b94f044000661eb7b8041e81fc76f07d\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Admin","http_method":"GET","route":"http://api.civis.test/admin/organizations","description":"List orgs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/admin/organizations","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 946b5abc2c5bfb0f788a6c3d7bc7506b04528300cf1ece05350742a50246be45","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":404,"response_status_text":"Not Found","response_body":"{\"error\":\"not_found\",\"errorDescription\":\"The requested endpoint could not be found.\",\"code\":404}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"fdecd909-9911-499c-b49d-9e835d5bc262","X-Runtime":"0.013649","Content-Length":"96"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/admin/organizations\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 946b5abc2c5bfb0f788a6c3d7bc7506b04528300cf1ece05350742a50246be45\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object9"}}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object13","in":"body","schema":{"$ref":"#/definitions/Object13"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object14","in":"body","schema":{"$ref":"#/definitions/Object14"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object9"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/":{"get":{"summary":"List Aliases","deprecated":false,"parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: model, cass_ncoa, container_script, gdoc_export, geocode, media_optimizer, python_script, r_script, salesforce_export, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object15"}}}},"x-examples":null,"x-deprecation-warning":null},"post":{"summary":"Create an Alias","deprecated":false,"parameters":[{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null},"put":{"summary":"Replace all attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object17","in":"body","schema":{"$ref":"#/definitions/Object17"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null},"patch":{"summary":"Update some attributes of this Alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object18","in":"body","schema":{"$ref":"#/definitions/Object18"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null},"delete":{"summary":"Delete an alias","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null,"x-deprecation-warning":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","deprecated":false,"parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: model, cass_ncoa, container_script, gdoc_export, geocode, media_optimizer, python_script, r_script, salesforce_export, javascript_script, sql_script, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object15"}}},"x-examples":null,"x-deprecation-warning":null}},"/announcements/":{"get":{"summary":"List announcements","deprecated":false,"parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Announcements","http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 524f7a252fcb04701c86acdff6f8b314a9111e35bf5034644328d79b6cf2dafb","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":67236,\"subject\":\"Important message 44\",\"body\":\"The square root of 44 is 6.63.\",\"releasedAt\":\"2020-04-15T23:01:46.000Z\",\"createdAt\":\"2020-04-15T22:56:46.000Z\",\"updatedAt\":\"2020-04-15T22:56:46.000Z\"},{\"id\":67237,\"subject\":\"Important message 45\",\"body\":\"The square root of 45 is 6.71.\",\"releasedAt\":\"2020-04-15T22:01:46.000Z\",\"createdAt\":\"2020-04-15T21:56:46.000Z\",\"updatedAt\":\"2020-04-15T21:56:46.000Z\"},{\"id\":67238,\"subject\":\"Important message 46\",\"body\":\"The square root of 46 is 6.78.\",\"releasedAt\":\"2020-04-15T21:01:46.000Z\",\"createdAt\":\"2020-04-15T20:56:46.000Z\",\"updatedAt\":\"2020-04-15T20:56:46.000Z\"},{\"id\":67239,\"subject\":\"Important message 47\",\"body\":\"The square root of 47 is 6.86.\",\"releasedAt\":\"2020-04-15T20:01:46.000Z\",\"createdAt\":\"2020-04-15T19:56:46.000Z\",\"updatedAt\":\"2020-04-15T19:56:46.000Z\"},{\"id\":67240,\"subject\":\"Important message 48\",\"body\":\"The square root of 48 is 6.93.\",\"releasedAt\":\"2020-04-15T19:01:46.000Z\",\"createdAt\":\"2020-04-15T18:56:46.000Z\",\"updatedAt\":\"2020-04-15T18:56:46.000Z\"},{\"id\":67241,\"subject\":\"Important message 49\",\"body\":\"The square root of 49 is 7.0.\",\"releasedAt\":\"2020-04-15T18:01:46.000Z\",\"createdAt\":\"2020-04-15T17:56:46.000Z\",\"updatedAt\":\"2020-04-15T17:56:46.000Z\"},{\"id\":67242,\"subject\":\"Important message 50\",\"body\":\"The square root of 50 is 7.07.\",\"releasedAt\":\"2020-04-15T17:01:46.000Z\",\"createdAt\":\"2020-04-15T16:56:46.000Z\",\"updatedAt\":\"2020-04-15T16:56:46.000Z\"},{\"id\":67243,\"subject\":\"Important message 51\",\"body\":\"The square root of 51 is 7.14.\",\"releasedAt\":\"2020-04-15T16:01:46.000Z\",\"createdAt\":\"2020-04-15T15:56:46.000Z\",\"updatedAt\":\"2020-04-15T15:56:46.000Z\"},{\"id\":67244,\"subject\":\"Important message 52\",\"body\":\"The square root of 52 is 7.21.\",\"releasedAt\":\"2020-04-15T15:01:46.000Z\",\"createdAt\":\"2020-04-15T14:56:46.000Z\",\"updatedAt\":\"2020-04-15T14:56:46.000Z\"},{\"id\":67245,\"subject\":\"Important message 53\",\"body\":\"The square root of 53 is 7.28.\",\"releasedAt\":\"2020-04-15T14:01:46.000Z\",\"createdAt\":\"2020-04-15T13:56:46.000Z\",\"updatedAt\":\"2020-04-15T13:56:46.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2020-04-15T23:56:46.551Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"53b896ae-9e00-4b5a-a051-ea7f3664d20c","X-Runtime":"0.028254","Content-Length":"2040"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 524f7a252fcb04701c86acdff6f8b314a9111e35bf5034644328d79b6cf2dafb\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","deprecated":false,"parameters":[{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization.","type":"string"},{"name":"raw_cluster_slug","in":"query","required":false,"description":"The slug of this cluster's raw configuration.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object21"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 3f715f2454a864b6f3e79dc54c701b3f35d8755af62673c2617b8e6ce9a9ba58","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"organizationId\":1,\"organizationName\":\"Default\",\"organizationSlug\":\"default\",\"clusterPartitions\":[{\"clusterPartitionId\":1,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":1},{\"clusterPartitionId\":2,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":2,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":2}],\"isNatEnabled\":false},{\"id\":2,\"organizationId\":2,\"organizationName\":\"Civis Analytics\",\"organizationSlug\":\"civis\",\"clusterPartitions\":[{\"clusterPartitionId\":3,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":3,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":3},{\"clusterPartitionId\":4,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":4,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":4}],\"isNatEnabled\":false},{\"id\":3,\"organizationId\":3,\"organizationName\":\"Demo\",\"organizationSlug\":\"demo\",\"clusterPartitions\":[{\"clusterPartitionId\":5,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":5,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":5},{\"clusterPartitionId\":6,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":6,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":6}],\"isNatEnabled\":false},{\"id\":4,\"organizationId\":4,\"organizationName\":\"Managers\",\"organizationSlug\":\"managers\",\"clusterPartitions\":[{\"clusterPartitionId\":7,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":7,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":7},{\"clusterPartitionId\":8,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":8,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":8}],\"isNatEnabled\":false}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"4","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"d03409d9-d5c4-4633-a8b4-b4bc5ddfc604","X-Runtime":"0.047019","Content-Length":"2711"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 3f715f2454a864b6f3e79dc54c701b3f35d8755af62673c2617b8e6ce9a9ba58\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"Object25","in":"body","schema":{"$ref":"#/definitions/Object25"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object26"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization ID","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationId\": 82277\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 33f78f137538215b701f08e8378f477e265ad948484cc5f051544e058ce759fe","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":1307,\"organizationId\":82277,\"organizationName\":\"Organization 12\",\"organizationSlug\":\"organization_m\",\"clusterPartitions\":[],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"ceb14843-d32c-45d5-9a70-df0443285ac3","X-Runtime":"0.034479","Content-Length":"151"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationId\":82277}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 33f78f137538215b701f08e8378f477e265ad948484cc5f051544e058ce759fe\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes","description":"Create a Kubernetes cluster with organization slug","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes","request_body":"{\n  \"organizationSlug\": \"organization_n\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 81d0a00324a8408c655249b8f2b67757801ac2460ee1cc918410541653d80ec9","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":201,"response_status_text":"Created","response_body":"{\"id\":1308,\"organizationId\":82278,\"organizationName\":\"Organization 13\",\"organizationSlug\":\"organization_n\",\"clusterPartitions\":[],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"74dba4c3-14d6-4338-995d-6991fbcde016","X-Runtime":"0.037070","Content-Length":"151"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -d '{\"organizationSlug\":\"organization_n\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 81d0a00324a8408c655249b8f2b67757801ac2460ee1cc918410541653d80ec9\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object26"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/1306","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer c9d1b1dca5f64776e8af439f1145c092eba4521686388b93ac279b825e79c5ae","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":1306,\"organizationId\":82276,\"organizationName\":\"Organization 11\",\"organizationSlug\":\"organization_l\",\"clusterPartitions\":[{\"clusterPartitionId\":22285,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":54717,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54717},{\"clusterPartitionId\":22286,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":54718,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54718}],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"ae73f77a-e150-4bff-a1a3-fcf9523ce5d0","X-Runtime":"0.032570","Content-Length":"722"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1306\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer c9d1b1dca5f64776e8af439f1145c092eba4521686388b93ac279b825e79c5ae\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"patch":{"summary":"Update a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"},{"name":"Object27","in":"body","schema":{"$ref":"#/definitions/Object27"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object26"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id","description":"Update a Kubernetes cluster via PATCH","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/1309","request_body":"{\n  \"isNatEnabled\": true\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer f14f101afd14fb4d9f8ade4c37c58fe173d771a4f279cf5d24bcb3137ad836ad","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":1309,\"organizationId\":82279,\"organizationName\":\"Organization 14\",\"organizationSlug\":\"organization_o\",\"clusterPartitions\":[{\"clusterPartitionId\":22287,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":54719,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54719},{\"clusterPartitionId\":22288,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":54720,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54720}],\"isNatEnabled\":true}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"a1b02f82-14b8-4a0c-8da3-718d01f5dd42","X-Runtime":"0.045364","Content-Length":"721"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1309\" -d '{\"isNatEnabled\":true}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f14f101afd14fb4d9f8ade4c37c58fe173d771a4f279cf5d24bcb3137ad836ad\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object28"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object30"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object22"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/1310/partitions","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9238514de7a46decc27a41690b8b09220437785b841b9eee4410092425a36a6c","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"clusterPartitionId\":22289,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":54721,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54721},{\"clusterPartitionId\":22290,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":54722,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54722}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"9a6e65d3-b5b9-4209-b1f7-cc870cc28025","X-Runtime":"0.030679","Content-Length":"573"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1310/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9238514de7a46decc27a41690b8b09220437785b841b9eee4410092425a36a6c\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a Cluster Partition for given cluster","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object31","in":"body","schema":{"$ref":"#/definitions/Object31"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object22"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/1312/partitions","request_body":"{\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 0a326a42359ff2f0400b90fdafbe8f837f78f3b586a217ce8ccc5193903c4370","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":22295,\"name\":\"jobs\",\"labels\":[\"this\"],\"instanceConfigs\":[{\"instanceConfigId\":54727,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54727}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"116c2ba2-086e-48b5-a7c8-83678b4f0268","X-Runtime":"0.036418","Content-Length":"272"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1312/partitions\" -d '{\"name\":\"jobs\",\"labels\":[\"this\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 0a326a42359ff2f0400b90fdafbe8f837f78f3b586a217ce8ccc5193903c4370\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object33","in":"body","schema":{"$ref":"#/definitions/Object33"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object22"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/1314/partitions/22298","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer e61e6e399a5693078a113560fdfeced28b9a5bab2cc290decd3ff68098c5809f","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":22298,\"name\":\"jobs\",\"labels\":[\"this\",\"that\"],\"instanceConfigs\":[{\"instanceConfigId\":54730,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54730}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"5359b676-2df6-4f7c-94f4-ca15e62aa598","X-Runtime":"0.037635","Content-Length":"279"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1314/partitions/22298\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer e61e6e399a5693078a113560fdfeced28b9a5bab2cc290decd3ff68098c5809f\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/1315/partitions/22300","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 6f210cbf2db52df2fe801603890c6b9f7993404daea99f5fb87999c32667795f","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":22300,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":54734,\"instanceType\":\"m4.xlarge\",\"minInstances\":3,\"maxInstances\":5,\"instanceMaxMemory\":15320,\"instanceMaxCpu\":4096,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54734}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"a77faad9-78a6-47e4-b020-e669ba7501f4","X-Runtime":"0.038782","Content-Length":"270"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1315/partitions/22300\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 6f210cbf2db52df2fe801603890c6b9f7993404daea99f5fb87999c32667795f\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"delete":{"summary":"Delete a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/1313/partitions/22296","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer ddc918af80214958f65e27b1edd64b2ea348e1d5871e9c1969d9a5659abedffd","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"71d6ae01-d433-48ab-92ff-52a9d02f41e6","X-Runtime":"0.032828"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1313/partitions/22296\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ddc918af80214958f65e27b1edd64b2ea348e1d5871e9c1969d9a5659abedffd\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"get":{"summary":"Describe a Cluster Partition","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object22"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/1311/partitions/22291","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 8edac159079384a3564b71b257a0499575f81b0bf4ce082f174d868a36753e3a","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":22291,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":54723,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":54723}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1bb86258-e2b2-461a-8fb2-34192cb6b4f2","X-Runtime":"0.033403","Content-Length":"271"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/1311/partitions/22291\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 8edac159079384a3564b71b257a0499575f81b0bf4ce082f174d868a36753e3a\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}":{"get":{"summary":"Describe an Instance Config","deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"include_usage_stats","in":"query","required":false,"description":"When true, usage stats are returned in instance config objects. Defaults to false.","type":"boolean"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object35"}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/user_statistics":{"get":{"summary":"Get statistics about the current users of an Instance Config","deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to running_deployments. Must be one of pending_memory_requested, pending_cpu_requested, running_memory_requested, running_cpu_requested, pending_deployments, running_deployments.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending). Defaults to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object36"}}}},"x-examples":null,"x-deprecation-warning":null}},"/clusters/kubernetes/instance_configs/{instance_config_id}/historical_graphs":{"get":{"summary":"Get graphs of historical resource usage in an Instance Config","deprecated":false,"parameters":[{"name":"instance_config_id","in":"path","required":true,"description":"The ID of this instance config.","type":"integer"},{"name":"timeframe","in":"query","required":false,"description":"The span of time that the graphs cover. Must be one of 1_day, 1_week.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object37"}}},"x-examples":null,"x-deprecation-warning":null}},"/credentials/":{"get":{"summary":"List credentials","deprecated":false,"parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, CASS/NCOA PAF, Certificate, Civis Platform, Custom, Database, Google, Github, Salesforce User, Salesforce Client, and TableauUser. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object39"}}}},"x-examples":[{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 536ccd536e8820c2ce19f28da31893a6ee55b445bad5535ca45c39513b2bb44b","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":84016,\"name\":\"van-api-key-1\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:56:52.000Z\"},{\"id\":84018,\"name\":\"db_user-1\",\"type\":\"Database\",\"username\":\"db_user-1\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":8647,\"remoteHostName\":\"redshift-10000\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:55:52.000Z\"},{\"id\":84020,\"name\":\"db_user-2\",\"type\":\"Database\",\"username\":\"db_user-2\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":8648,\"remoteHostName\":\"redshift-10001\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:54:52.000Z\"},{\"id\":84021,\"name\":\"salesforce-user-key-1\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:53:52.000Z\"},{\"id\":84023,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory13\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:51:52.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"b22eaf93-1c33-405a-a6a1-93ace3c30f26","X-Runtime":"0.082707","Content-Length":"1380"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 536ccd536e8820c2ce19f28da31893a6ee55b445bad5535ca45c39513b2bb44b\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f36e42920cc5035253241f009383df19e6426fb785c376b6bd867f0a9e4ca6a4","Accept":"application/vnd.civis-platform.v2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":84024,\"name\":\"van-api-key-3\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:56:52.000Z\"},{\"id\":84026,\"name\":\"db_user-3\",\"type\":\"Database\",\"username\":\"db_user-3\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":8650,\"remoteHostName\":\"redshift-10002\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:55:52.000Z\"},{\"id\":84028,\"name\":\"db_user-4\",\"type\":\"Database\",\"username\":\"db_user-4\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":8651,\"remoteHostName\":\"redshift-10003\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:54:52.000Z\"},{\"id\":84029,\"name\":\"salesforce-user-key-2\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:53:52.000Z\"},{\"id\":84031,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory14\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:52.000Z\",\"updatedAt\":\"2020-04-15T23:51:52.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"ef0153ec-6d71-4f1c-9ab7-d6e3bb13ac5b","X-Runtime":"0.074563","Content-Length":"1380"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f36e42920cc5035253241f009383df19e6426fb785c376b6bd867f0a9e4ca6a4\" \\\n\t-H \"Accept: application/vnd.civis-platform.v2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database","description":"List all credentials of the specified type","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f78336f07ef02bf96c09b01c5e88e84bc7c3d1022ec0c45a2bf5944330c3ad65","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":84034,\"name\":\"db_user-5\",\"type\":\"Database\",\"username\":\"db_user-5\",\"description\":null,\"owner\":\"devuserfactory15\",\"remoteHostId\":8653,\"remoteHostName\":\"redshift-10004\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:53.000Z\",\"updatedAt\":\"2020-04-15T23:55:53.000Z\"},{\"id\":84036,\"name\":\"db_user-6\",\"type\":\"Database\",\"username\":\"db_user-6\",\"description\":null,\"owner\":\"devuserfactory15\",\"remoteHostId\":8654,\"remoteHostName\":\"redshift-10005\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:53.000Z\",\"updatedAt\":\"2020-04-15T23:54:53.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"2","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"f08f1c6a-9f5e-4e4b-b3f8-9cfec4bdc2a8","X-Runtime":"0.071557","Content-Length":"529"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f78336f07ef02bf96c09b01c5e88e84bc7c3d1022ec0c45a2bf5944330c3ad65\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","description":"List all credentials of multiple types","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer fa4dc41857261d7761d9d2670c3b06ae2d9cf797ab33c8eefcb5b906f64f99b1","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database,VAN::MyCampaign"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":84040,\"name\":\"van-api-key-7\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:53.000Z\",\"updatedAt\":\"2020-04-15T23:56:53.000Z\"},{\"id\":84042,\"name\":\"db_user-7\",\"type\":\"Database\",\"username\":\"db_user-7\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":8656,\"remoteHostName\":\"redshift-10006\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:53.000Z\",\"updatedAt\":\"2020-04-15T23:55:53.000Z\"},{\"id\":84044,\"name\":\"db_user-8\",\"type\":\"Database\",\"username\":\"db_user-8\",\"description\":null,\"owner\":\"devuserfactory16\",\"remoteHostId\":8657,\"remoteHostName\":\"redshift-10007\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:53.000Z\",\"updatedAt\":\"2020-04-15T23:54:53.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"3","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"3341cbae-5b86-49b5-aa1c-53d008368f44","X-Runtime":"0.073605","Content-Length":"798"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database,VAN::MyCampaign\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer fa4dc41857261d7761d9d2670c3b06ae2d9cf797ab33c8eefcb5b906f64f99b1\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?remoteHostId=:remote_host_id","description":"List all credentials of the specified remote host","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?remoteHostId=8659","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 966d30e324fcb7d438b58f66cb52af577de51c0344580236d510d6e9c636ecd1","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"remoteHostId":"8659"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":84050,\"name\":\"db_user-9\",\"type\":\"Database\",\"username\":\"db_user-9\",\"description\":null,\"owner\":\"devuserfactory17\",\"remoteHostId\":8659,\"remoteHostName\":\"redshift-10008\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:53.000Z\",\"updatedAt\":\"2020-04-15T23:55:53.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"1","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"dab4bcb8-6c2c-4ca6-ad43-eed9bf076eab","X-Runtime":"0.074664","Content-Length":"265"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?remoteHostId=8659\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 966d30e324fcb7d438b58f66cb52af577de51c0344580236d510d6e9c636ecd1\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null},"post":{"summary":"Create a credential","deprecated":false,"parameters":[{"name":"Object40","in":"body","schema":{"$ref":"#/definitions/Object40"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Credentials","http_method":"POST","route":"http://api.civis.test/credentials","description":"Create a credential with a remote host","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/credentials","request_body":"{\n  \"username\": \"myUsername\",\n  \"password\": \"myPassword\",\n  \"type\": \"Database\",\n  \"remote_host_id\": 8664\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 1e0f0c3b6c906ce292df45a7baea1eb466b519dabda44ad15522ba52e3dc3459","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":84064,\"name\":\"myUsername\",\"type\":\"Database\",\"username\":\"myUsername\",\"description\":null,\"owner\":\"devuserfactory18\",\"remoteHostId\":8664,\"remoteHostName\":\"mysql-10005\",\"state\":null,\"createdAt\":\"2020-04-15T23:56:54.000Z\",\"updatedAt\":\"2020-04-15T23:56:54.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1d00b208-2a12-4fb9-89dd-83dd2e998ecf","X-Runtime":"0.043426","Content-Length":"262"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -d '{\"username\":\"myUsername\",\"password\":\"myPassword\",\"type\":\"Database\",\"remote_host_id\":8664}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 1e0f0c3b6c906ce292df45a7baea1eb466b519dabda44ad15522ba52e3dc3459\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"POST","route":"http://api.civis.test/credentials","description":"Create a credential without a remote host","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/credentials","request_body":"{\n  \"username\": \"myUsername\",\n  \"password\": \"myPassword\",\n  \"type\": \"Custom\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 6a1c94b09c46a8f972439c94b35e8b3ca4002b82434b673f6358ab18f41adc10","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":84073,\"name\":\"myUsername\",\"type\":\"Custom\",\"username\":\"myUsername\",\"description\":null,\"owner\":\"devuserfactory19\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2020-04-15T23:56:54.000Z\",\"updatedAt\":\"2020-04-15T23:56:54.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"b528b631-ddb7-4c8e-a0d8-197065597d6f","X-Runtime":"0.036749","Content-Length":"251"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -d '{\"username\":\"myUsername\",\"password\":\"myPassword\",\"type\":\"Custom\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 6a1c94b09c46a8f972439c94b35e8b3ca4002b82434b673f6358ab18f41adc10\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}],"x-deprecation-warning":null}},"/credentials/{id}":{"put":{"summary":"Update an existing credential","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the credential.","type":"integer"},{"name":"Object41","in":"body","schema":{"$ref":"#/definitions/Object41"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object39"}}},"x-examples":[{"resource":"Credentials","http_method":"PUT","route":"http://api.civis.test/credentials/:id","description":"Update a database credential","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"PUT","request_path":"http://api.civis.test/credentials/84081","request_body":"{\n  \"name\": \"Updated Credential Name\",\n  \"username\": \"myNewUsername\",\n  \"password\": \"myNewPassword\",\n  \"type\": \"Database\",\n  \"remote_host_id\": 8670\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer dc4381cad32217ede00a64d260b290c46e36911c7b5bba49c12f7bf68c12f4b4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"
[...]
