{"swagger":"2.0","info":{"title":"Civis Analytics API","version":"1"},"host":"api.civisanalytics.com","schemes":["https"],"produces":["application/json"],"paths":{"/aliases/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object8"}}}},"x-examples":null}},"/aliases/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object12","in":"body","schema":{"$ref":"#/definitions/Object12"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null}},"/aliases/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/aliases/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object13","in":"body","schema":{"$ref":"#/definitions/Object13"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null}},"/aliases/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/aliases/":{"get":{"summary":"List Aliases","parameters":[{"name":"object_type","in":"query","required":false,"description":"Filter results by object type. Pass multiple object types with a comma-separatedlist. Valid types include: bsd_cons_export, model, cass_ncoa, container_script, gdoc_export, geocode, match, media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, van_list_import, van_list_export, van_person_export, van_score_export, van_sync, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 50. Maximum allowed is 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, object_type.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object14"}}}},"x-examples":null},"post":{"summary":"Create an Alias","parameters":[{"name":"Object15","in":"body","schema":{"$ref":"#/definitions/Object15"},"required":true}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null}},"/aliases/{id}":{"get":{"summary":"Get an Alias","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null},"put":{"summary":"Replace all attributes of this Alias","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object16","in":"body","schema":{"$ref":"#/definitions/Object16"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null},"patch":{"summary":"Update some attributes of this Alias","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"},{"name":"Object17","in":"body","schema":{"$ref":"#/definitions/Object17"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null},"delete":{"summary":"Delete an alias","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the Alias object.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/aliases/{object_type}/{alias}":{"get":{"summary":"Get details about an alias within an FCO type","parameters":[{"name":"object_type","in":"path","required":true,"description":"The type of the object. Valid types include: bsd_cons_export, model, cass_ncoa, container_script, gdoc_export, geocode, match, media_optimizer, python_script, ratecard_import, r_script, salesforce_export, javascript_script, sql_script, van_list_import, van_list_export, van_person_export, van_score_export, van_sync, project, notebook, workflow, template_script, template_report, service, report, tableau and service_report.","type":"string"},{"name":"alias","in":"path","required":true,"description":"The alias of the object","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object14"}}},"x-examples":null}},"/announcements/":{"get":{"summary":"List announcements","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to 10. Maximum allowed is 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to released_at. Must be one of: released_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object0"}}}},"x-examples":[{"resource":"Announcements","http_method":"GET","route":"http://api.civis.test/announcements","description":"List first page of announcements","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/announcements","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 2f00d5a632c52277dbd4eff019027e906440b3e2f6a699632139413c7cb4fa44","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":22619,\"subject\":\"Important message 44\",\"body\":\"The square root of 44 is 6.63.\",\"releasedAt\":\"2019-07-18T19:54:06.000Z\",\"createdAt\":\"2019-07-18T19:49:06.000Z\",\"updatedAt\":\"2019-07-18T19:49:06.000Z\"},{\"id\":22620,\"subject\":\"Important message 45\",\"body\":\"The square root of 45 is 6.71.\",\"releasedAt\":\"2019-07-18T18:54:06.000Z\",\"createdAt\":\"2019-07-18T18:49:06.000Z\",\"updatedAt\":\"2019-07-18T18:49:06.000Z\"},{\"id\":22621,\"subject\":\"Important message 46\",\"body\":\"The square root of 46 is 6.78.\",\"releasedAt\":\"2019-07-18T17:54:06.000Z\",\"createdAt\":\"2019-07-18T17:49:06.000Z\",\"updatedAt\":\"2019-07-18T17:49:06.000Z\"},{\"id\":22622,\"subject\":\"Important message 47\",\"body\":\"The square root of 47 is 6.86.\",\"releasedAt\":\"2019-07-18T16:54:06.000Z\",\"createdAt\":\"2019-07-18T16:49:06.000Z\",\"updatedAt\":\"2019-07-18T16:49:06.000Z\"},{\"id\":22623,\"subject\":\"Important message 48\",\"body\":\"The square root of 48 is 6.93.\",\"releasedAt\":\"2019-07-18T15:54:06.000Z\",\"createdAt\":\"2019-07-18T15:49:06.000Z\",\"updatedAt\":\"2019-07-18T15:49:06.000Z\"},{\"id\":22624,\"subject\":\"Important message 49\",\"body\":\"The square root of 49 is 7.0.\",\"releasedAt\":\"2019-07-18T14:54:06.000Z\",\"createdAt\":\"2019-07-18T14:49:06.000Z\",\"updatedAt\":\"2019-07-18T14:49:06.000Z\"},{\"id\":22625,\"subject\":\"Important message 50\",\"body\":\"The square root of 50 is 7.07.\",\"releasedAt\":\"2019-07-18T13:54:06.000Z\",\"createdAt\":\"2019-07-18T13:49:06.000Z\",\"updatedAt\":\"2019-07-18T13:49:06.000Z\"},{\"id\":22626,\"subject\":\"Important message 51\",\"body\":\"The square root of 51 is 7.14.\",\"releasedAt\":\"2019-07-18T12:54:06.000Z\",\"createdAt\":\"2019-07-18T12:49:06.000Z\",\"updatedAt\":\"2019-07-18T12:49:06.000Z\"},{\"id\":22627,\"subject\":\"Important message 52\",\"body\":\"The square root of 52 is 7.21.\",\"releasedAt\":\"2019-07-18T11:54:06.000Z\",\"createdAt\":\"2019-07-18T11:49:06.000Z\",\"updatedAt\":\"2019-07-18T11:49:06.000Z\"},{\"id\":22628,\"subject\":\"Important message 53\",\"body\":\"The square root of 53 is 7.28.\",\"releasedAt\":\"2019-07-18T10:54:06.000Z\",\"createdAt\":\"2019-07-18T10:49:06.000Z\",\"updatedAt\":\"2019-07-18T10:49:06.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Date":"2019-07-18T20:49:07.601Z","Access-Control-Expose-Headers":"Date, X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Per-Page":"10","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"2","X-Pagination-Total-Entries":"20","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1c8f7428-9556-405c-8b7a-4112abb9d804","X-Runtime":"0.159435","Content-Length":"2040"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/announcements\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2f00d5a632c52277dbd4eff019027e906440b3e2f6a699632139413c7cb4fa44\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/apps/":{"get":{"summary":"List apps","parameters":[],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object18"}}}},"x-examples":null}},"/apps/{slug}":{"get":{"summary":"List details of a Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object19"}}},"x-examples":null}},"/apps/{slug}/instances":{"get":{"summary":"List the instances of a Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"app_release_id","in":"query","required":false,"description":"If supplied, return only instances matching this release.","type":"integer"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object22"}}}},"x-examples":null},"post":{"summary":"Create a new instance of an application of the given slug","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object26","in":"body","schema":{"$ref":"#/definitions/Object26"},"required":false}],"responses":{"201":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null}},"/apps/{slug}/releases":{"get":{"summary":"List the releases of a particular Decision Application","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"archived","in":"query","required":false,"description":"The archival status of the requested item(s).","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object20"}}}},"x-examples":null}},"/apps/{slug}/releases/{id}":{"get":{"summary":"Return a given app release","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the release.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object20"}}},"x-examples":null}},"/apps/{slug}/instances/{id}":{"get":{"summary":"Return a given app instance","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null},"patch":{"summary":"Update a given app instance","parameters":[{"name":"id","in":"path","required":true,"description":"The unique id of the instance.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object28","in":"body","schema":{"$ref":"#/definitions/Object28"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares":{"get":{"summary":"List users and groups permissioned on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object8"}}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/users":{"put":{"summary":"Set the permissions users have on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object32","in":"body","schema":{"$ref":"#/definitions/Object32"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/users/{user_id}":{"delete":{"summary":"Revoke the permissions a user has on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"user_id","in":"path","required":true,"description":"The ID of the user.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/groups":{"put":{"summary":"Set the permissions groups has on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"Object33","in":"body","schema":{"$ref":"#/definitions/Object33"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object8"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/shares/groups/{group_id}":{"delete":{"summary":"Revoke the permissions a group has on this object","parameters":[{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"id","in":"path","required":true,"description":"The ID of the resource that is shared.","type":"integer"},{"name":"group_id","in":"path","required":true,"description":"The ID of the group.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/apps/{slug}/instances/{id}/archive":{"put":{"summary":"Update the archive status of this object","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the object.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"},{"name":"Object34","in":"body","schema":{"$ref":"#/definitions/Object34"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object27"}}},"x-examples":null}},"/apps/{slug}/instances/{id}/projects":{"get":{"summary":"List the projects an App Instance belongs to","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"hidden","in":"query","required":false,"description":"If specified to be true, returns hidden items. Defaults to false, returning non-hidden items.","type":"boolean"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object35"}}}},"x-examples":null}},"/apps/{slug}/instances/{id}/projects/{project_id}":{"put":{"summary":"Add an App Instance to a project","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null},"delete":{"summary":"Remove an App Instance from a project","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the App Instance.","type":"integer"},{"name":"project_id","in":"path","required":true,"description":"The ID of the project.","type":"integer"},{"name":"slug","in":"path","required":true,"description":"The slug for the application.","type":"string"}],"responses":{"204":{"description":"success"}},"x-examples":null}},"/clusters/workers":{"get":{"summary":"List Worker Clusters","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to id. Must be one of: id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object44"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers","description":"lists all clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 93632483c0ae898a108375c37f304260c7cfa2e59520cfdfefc7d931294c3e62","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0},{\"id\":18885,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1},{\"id\":18886,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"region\":\"us-east-1\",\"activeJobsCount\":0,\"queuedJobsCount\":0}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"3","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"fb247c57-8233-402a-8e1c-cef53e5943ff","X-Runtime":"0.138342","Content-Length":"403"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 93632483c0ae898a108375c37f304260c7cfa2e59520cfdfefc7d931294c3e62\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/workers/{id}":{"get":{"summary":"Describe a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object45"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers/:id","description":"show a specific cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers/18887","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9f2ba8df079cd00dcb0460b1609ad1ca4a55a607d4a5de1e02f279dcd3e7f227","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":18887,\"instanceType\":\"m3.medium\",\"minInstances\":1,\"maxInstances\":1,\"instances\":-1,\"instanceMaxMemory\":3188,\"instanceMaxCpu\":1024,\"instanceMaxDiskSpace\":90.0,\"region\":\"us-east-1\",\"activeJobsCount\":1,\"queuedJobsCount\":1}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"9fb3801c-e2bf-487f-be4a-4b81d84e4502","X-Runtime":"0.055748","Content-Length":"224"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers/18887\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9f2ba8df079cd00dcb0460b1609ad1ca4a55a607d4a5de1e02f279dcd3e7f227\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/workers/{id}/active_jobs":{"get":{"summary":"List Active Jobs for a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object40"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers/:id/active_jobs","description":"lists active jobs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers/18891/active_jobs","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 6b3078bf7dad8dfe1abb4e7f7ca84caa7fd3ef9c702157fac36ddd32e3215632","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":60323,\"name\":\"Script #60323\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"running\",\"createdAt\":\"2019-11-06T20:37:41.000Z\",\"updatedAt\":\"2019-11-06T20:37:41.000Z\",\"runs\":[{\"id\":25852,\"state\":\"running\",\"createdAt\":\"2019-11-06T20:37:41.000Z\",\"startedAt\":\"2019-11-06T20:37:41.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":25852,\"state\":\"running\",\"createdAt\":\"2019-11-06T20:37:41.000Z\",\"startedAt\":\"2019-11-06T20:37:41.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":63201,\"name\":\"User devuserfactory16 16\",\"username\":\"devuserfactory16\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":63201,\"name\":\"User devuserfactory16 16\",\"username\":\"devuserfactory16\",\"initials\":\"UD\",\"online\":null}}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1d88d439-a255-49dd-875c-2bdb208e202d","X-Runtime":"0.065335","Content-Length":"802"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers/18891/active_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 6b3078bf7dad8dfe1abb4e7f7ca84caa7fd3ef9c702157fac36ddd32e3215632\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/workers/{id}/queued_jobs":{"get":{"summary":"List Queued Jobs for a Worker Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object40"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/workers/:id/queued_jobs","description":"lists queued jobs","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/workers/18889/queued_jobs","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer d50fa68a727818c413bbe7bc3d6b219e92db6910289b436332b97172cec18af5","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":60320,\"name\":\"Script #60320\",\"type\":\"JobTypes::ContainerDocker\",\"fromTemplateId\":null,\"state\":\"queued\",\"createdAt\":\"2019-11-06T20:37:40.000Z\",\"updatedAt\":\"2019-11-06T20:37:40.000Z\",\"runs\":[{\"id\":25851,\"state\":\"queued\",\"createdAt\":\"2019-11-06T20:37:40.000Z\",\"startedAt\":\"2019-11-06T20:37:40.000Z\",\"finishedAt\":null,\"error\":null}],\"lastRun\":{\"id\":25851,\"state\":\"queued\",\"createdAt\":\"2019-11-06T20:37:40.000Z\",\"startedAt\":\"2019-11-06T20:37:40.000Z\",\"finishedAt\":null,\"error\":null},\"hidden\":false,\"requiredCpu\":500,\"requiredDiskSpace\":10.0,\"requiredMemory\":25,\"author\":{\"id\":63195,\"name\":\"User devuserfactory11 11\",\"username\":\"devuserfactory11\",\"initials\":\"UD\",\"online\":null},\"runningAs\":{\"id\":63195,\"name\":\"User devuserfactory11 11\",\"username\":\"devuserfactory11\",\"initials\":\"UD\",\"online\":null}}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"8467d0d1-355f-4b82-a3f0-8783816d829b","X-Runtime":"0.081892","Content-Length":"799"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/workers/18889/queued_jobs\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer d50fa68a727818c413bbe7bc3d6b219e92db6910289b436332b97172cec18af5\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes":{"get":{"summary":"List Kubernetes Clusters","parameters":[{"name":"organization_slug","in":"query","required":false,"description":"The slug of this cluster's organization.","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to organization_id. Must be one of: organization_id, created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object46"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes","description":"List all Kubernetes clusters","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer b93a336bd93d56107e4132a5c020a8f568c632c0b1a611fbb361a5381283bcb6","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":1,\"organizationId\":1,\"organizationName\":\"Default\",\"organizationSlug\":\"default\",\"clusterPartitions\":[{\"clusterPartitionId\":1,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":1,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":1},{\"clusterPartitionId\":2,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":2,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":2}],\"isNatEnabled\":false},{\"id\":2,\"organizationId\":2,\"organizationName\":\"Admin\",\"organizationSlug\":\"admin\",\"clusterPartitions\":[{\"clusterPartitionId\":3,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":3,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":3},{\"clusterPartitionId\":4,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":4,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":4}],\"isNatEnabled\":false},{\"id\":3,\"organizationId\":3,\"organizationName\":\"Civis Analytics\",\"organizationSlug\":\"civis\",\"clusterPartitions\":[{\"clusterPartitionId\":5,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":5,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":5},{\"clusterPartitionId\":6,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":6,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":6}],\"isNatEnabled\":false},{\"id\":4,\"organizationId\":4,\"organizationName\":\"Demo\",\"organizationSlug\":\"demo\",\"clusterPartitions\":[{\"clusterPartitionId\":7,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":7,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":7},{\"clusterPartitionId\":8,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":8,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":8}],\"isNatEnabled\":false},{\"id\":5,\"organizationId\":5,\"organizationName\":\"Managers\",\"organizationSlug\":\"managers\",\"clusterPartitions\":[{\"clusterPartitionId\":9,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":9,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":9},{\"clusterPartitionId\":10,\"name\":\"notebook_services\",\"labels\":[\"Notebook\",\"Service\"],\"instanceConfigs\":[{\"instanceConfigId\":10,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":4,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":10}],\"isNatEnabled\":false}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"50","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"df3ba5ea-b241-4835-a26e-22b693ba55df","X-Runtime":"0.110166","Content-Length":"3387"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer b93a336bd93d56107e4132a5c020a8f568c632c0b1a611fbb361a5381283bcb6\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes/{id}":{"get":{"summary":"Describe a Kubernetes Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object46"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id","description":"View a Kubernetes cluster's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/99576","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f6ae7aa426a190de8053760847aa922413c0f3bf34d8cb0e5ae8a7cf184c87ef","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":99576,\"organizationId\":99042,\"organizationName\":\"Organization 9\",\"organizationSlug\":\"organization_j\",\"clusterPartitions\":[{\"clusterPartitionId\":81315,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":45909,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45909},{\"clusterPartitionId\":81316,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":45910,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45910}],\"isNatEnabled\":false}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"818a528c-64bd-4a81-8cc3-816c643f1dec","X-Runtime":"0.078136","Content-Length":"722"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/99576\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f6ae7aa426a190de8053760847aa922413c0f3bf34d8cb0e5ae8a7cf184c87ef\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes/{id}/deployments":{"get":{"summary":"List the deployments associated with a Kubernetes Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The id of the cluster.","type":"integer"},{"name":"base_type","in":"query","required":false,"description":"If specified, return deployments of these base types. It accepts a comma-separated list, possible values are 'Notebook', 'Service', 'Run'.","type":"string"},{"name":"state","in":"query","required":false,"description":"If specified, return deployments in these states. It accepts a comma-separated list, possible values are pending, running, terminated, sleeping","type":"string"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 50.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to created_at. Must be one of: created_at.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to asc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object51"}}}},"x-examples":null}},"/clusters/kubernetes/{id}/deployment_stats":{"get":{"summary":"Get stats about deployments associated with a Kubernetes Cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object52"}}}},"x-examples":null}},"/clusters/kubernetes/{id}/partitions":{"get":{"summary":"List Cluster Partitions for given cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of this cluster.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object47"}}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"List all Cluster Partitions for a Kubernetes Cluster","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/99580/partitions","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f6db84f5e8f6120aab4dfc398f49f39064e6c4aed87992baa3567ba865bf4556","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"clusterPartitionId\":81319,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":45913,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45913},{\"clusterPartitionId\":81320,\"name\":\"notebook_services\",\"labels\":[\"Service\",\"Notebook\"],\"instanceConfigs\":[{\"instanceConfigId\":45914,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45914}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"45fb90c2-e898-4e87-8297-5642e1b40a03","X-Runtime":"0.054472","Content-Length":"573"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/99580/partitions\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f6db84f5e8f6120aab4dfc398f49f39064e6c4aed87992baa3567ba865bf4556\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"post":{"summary":"Create a Cluster Partition for given cluster","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"Object53","in":"body","schema":{"$ref":"#/definitions/Object53"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object47"}}},"x-examples":[{"resource":"Clusters","http_method":"POST","route":"http://api.civis.test/clusters/kubernetes/:id/partitions","description":"Create a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/clusters/kubernetes/99582/partitions","request_body":"{\n  \"name\": \"jobs\",\n  \"labels\": [\n    \"this\"\n  ],\n  \"instance_configs\": [\n    {\n      \"instance_type\": \"m4.2xlarge\",\n      \"min_instances\": 0,\n      \"max_instances\": 1\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 2e505c0cedc17ff5ef8c271548d60213451c6dd76ebde724d2cf0fabc0fcbb49","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":81325,\"name\":\"jobs\",\"labels\":[\"this\"],\"instanceConfigs\":[{\"instanceConfigId\":45919,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45919}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"c581b8d7-bd97-4ca1-a8ba-d5c05c33af85","X-Runtime":"0.069159","Content-Length":"272"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/99582/partitions\" -d '{\"name\":\"jobs\",\"labels\":[\"this\"],\"instance_configs\":[{\"instance_type\":\"m4.2xlarge\",\"min_instances\":0,\"max_instances\":1}]}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 2e505c0cedc17ff5ef8c271548d60213451c6dd76ebde724d2cf0fabc0fcbb49\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/clusters/kubernetes/{id}/partitions/{cluster_partition_id}":{"patch":{"summary":"Update a Cluster Partition","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"},{"name":"Object55","in":"body","schema":{"$ref":"#/definitions/Object55"},"required":false}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object47"}}},"x-examples":[{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/99584/partitions/81328","request_body":"{\n  \"labels\": [\n    \"this\",\n    \"that\"\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 18b25af91581eec67d9b12e5193136ab32b1c2a0763c7922402b546073de8e13","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":81328,\"name\":\"jobs\",\"labels\":[\"this\",\"that\"],\"instanceConfigs\":[{\"instanceConfigId\":45922,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45922}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"a0d7dc96-c4a0-4157-971d-0f71164661c4","X-Runtime":"0.080716","Content-Length":"279"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/99584/partitions/81328\" -d '{\"labels\":[\"this\",\"that\"]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 18b25af91581eec67d9b12e5193136ab32b1c2a0763c7922402b546073de8e13\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Clusters","http_method":"PATCH","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Update a Cluster Partition's instance configuration","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"PATCH","request_path":"http://api.civis.test/clusters/kubernetes/99585/partitions/81330","request_body":"{\n  \"instance_configs\": [\n    {\n      \"min_instances\": 3,\n      \"max_instances\": 5,\n      \"instance_type\": \"m4.xlarge\"\n    }\n  ]\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 59b7e0463f18cb1fd77db6732fe54e32c4473460225285faf6288f86e105ea82","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":81330,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":45926,\"instanceType\":\"m4.xlarge\",\"minInstances\":3,\"maxInstances\":5,\"instanceMaxMemory\":15320,\"instanceMaxCpu\":4096,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45926}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"6d6bc766-d38f-40bb-b346-a5fd5ce16cf0","X-Runtime":"0.066429","Content-Length":"270"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/99585/partitions/81330\" -d '{\"instance_configs\":[{\"min_instances\":3,\"max_instances\":5,\"instance_type\":\"m4.xlarge\"}]}' -X PATCH \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 59b7e0463f18cb1fd77db6732fe54e32c4473460225285faf6288f86e105ea82\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"delete":{"summary":"Delete a Cluster Partition","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"204":{"description":"success"}},"x-examples":[{"resource":"Clusters","http_method":"DELETE","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"Delete a Cluster Partition","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"DELETE","request_path":"http://api.civis.test/clusters/kubernetes/99583/partitions/81326","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer ffc452faeedea11c51bdf2fe28e7e252051af5dc7b67e7c2aa943ad0b7d0dd18","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":204,"response_status_text":"No Content","response_body":null,"response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Set-Cookie":"augury=false; path=/","X-Request-Id":"b89e67a3-5496-4631-a466-beb8e35c8a50","X-Runtime":"0.064851"},"response_content_type":null,"curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/99583/partitions/81326\" -d '' -X DELETE \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer ffc452faeedea11c51bdf2fe28e7e252051af5dc7b67e7c2aa943ad0b7d0dd18\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"get":{"summary":"Describe a Cluster Partition","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the cluster which this partition belongs to.","type":"integer"},{"name":"cluster_partition_id","in":"path","required":true,"description":"The ID of this cluster partition.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object47"}}},"x-examples":[{"resource":"Clusters","http_method":"GET","route":"http://api.civis.test/clusters/kubernetes/:id/partitions/:cluster_partition_id","description":"View a Cluster Partitions's details","explanation":null,"parameters":[],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/clusters/kubernetes/99581/partitions/81321","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 280c251619985880d0333da27636d8f5d5dd94d519f9efac4812292f5c682881","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"clusterPartitionId\":81321,\"name\":\"jobs\",\"labels\":[\"Job\"],\"instanceConfigs\":[{\"instanceConfigId\":45915,\"instanceType\":\"m4.2xlarge\",\"minInstances\":0,\"maxInstances\":1,\"instanceMaxMemory\":31641,\"instanceMaxCpu\":8192,\"instanceMaxDisk\":90.0}],\"defaultInstanceConfigId\":45915}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"95d08bd9-13f6-47e3-91c8-88dc3960f1cd","X-Runtime":"0.091892","Content-Length":"271"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/clusters/kubernetes/99581/partitions/81321\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 280c251619985880d0333da27636d8f5d5dd94d519f9efac4812292f5c682881\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/credentials/":{"get":{"summary":"List credentials","parameters":[{"name":"type","in":"query","required":false,"description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\").","type":"string"},{"name":"remote_host_id","in":"query","required":false,"description":"The ID of the remote host associated with the credentials to return.","type":"integer"},{"name":"default","in":"query","required":false,"description":"If true, will return a list with a single credential which is the current user's default credential.","type":"boolean"},{"name":"limit","in":"query","required":false,"description":"Number of results to return. Defaults to its maximum of 1000.","type":"integer"},{"name":"page_num","in":"query","required":false,"description":"Page number of the results to return. Defaults to the first page, 1.","type":"integer"},{"name":"order","in":"query","required":false,"description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name.","type":"string"},{"name":"order_dir","in":"query","required":false,"description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc.","type":"string"}],"responses":{"200":{"description":"success","schema":{"type":"array","items":{"$ref":"#/definitions/Object58"}}}},"x-examples":[{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 01a46badeb65977775bbfbfb75618793bd2dd2eb412321a98f243a1918479ab1","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24017,\"name\":\"van-api-key-1\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:08.000Z\",\"updatedAt\":\"2019-07-18T20:50:08.000Z\"},{\"id\":24019,\"name\":\"db_user-1\",\"type\":\"Database\",\"username\":\"db_user-1\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":87973,\"remoteHostName\":\"redshift-10000\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:09.000Z\",\"updatedAt\":\"2019-07-18T20:49:08.000Z\"},{\"id\":24021,\"name\":\"db_user-2\",\"type\":\"Database\",\"username\":\"db_user-2\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":87974,\"remoteHostName\":\"redshift-10001\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:10.000Z\",\"updatedAt\":\"2019-07-18T20:48:09.000Z\"},{\"id\":24022,\"name\":\"salesforce-user-key-1\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:10.000Z\",\"updatedAt\":\"2019-07-18T20:47:10.000Z\"},{\"id\":24024,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory83\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:10.000Z\",\"updatedAt\":\"2019-07-18T20:45:10.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"1a2d5ae9-58a7-4d14-b59b-6ef3e0a8a9a6","X-Runtime":"0.518152","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 01a46badeb65977775bbfbfb75618793bd2dd2eb412321a98f243a1918479ab1\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials","description":"#get all credentials","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 9521e9c05a5dd52a5d63d3973d119080a000b2f60ba087887738b49ff5032a91","Accept":"application/vnd.civis-platform.v2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24025,\"name\":\"van-api-key-3\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:50:11.000Z\"},{\"id\":24027,\"name\":\"db_user-3\",\"type\":\"Database\",\"username\":\"db_user-3\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":87976,\"remoteHostName\":\"redshift-10002\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:49:11.000Z\"},{\"id\":24029,\"name\":\"db_user-4\",\"type\":\"Database\",\"username\":\"db_user-4\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":87977,\"remoteHostName\":\"redshift-10003\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:48:11.000Z\"},{\"id\":24030,\"name\":\"salesforce-user-key-2\",\"type\":\"Salesforce User\",\"username\":\"skomanduri@civisanalytics.com\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:47:11.000Z\"},{\"id\":24032,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory84\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:11.000Z\",\"updatedAt\":\"2019-07-18T20:45:11.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"5","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"84c20b14-78c9-4e23-9f24-f9ae7ab37b5b","X-Runtime":"0.260577","Content-Length":"1382"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 9521e9c05a5dd52a5d63d3973d119080a000b2f60ba087887738b49ff5032a91\" \\\n\t-H \"Accept: application/vnd.civis-platform.v2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database","description":"List all credentials of the specified type","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer cc7db1647665a368cf4fe13caa1db275ec8ce05da74dd06e17cc9ee7f6581383","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24035,\"name\":\"db_user-5\",\"type\":\"Database\",\"username\":\"db_user-5\",\"description\":null,\"owner\":\"devuserfactory85\",\"remoteHostId\":87979,\"remoteHostName\":\"redshift-10004\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:13.000Z\",\"updatedAt\":\"2019-07-18T20:49:12.000Z\"},{\"id\":24037,\"name\":\"db_user-6\",\"type\":\"Database\",\"username\":\"db_user-6\",\"description\":null,\"owner\":\"devuserfactory85\",\"remoteHostId\":87980,\"remoteHostName\":\"redshift-10005\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:13.000Z\",\"updatedAt\":\"2019-07-18T20:48:13.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"2","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"442153be-56a1-490f-8f5d-2dff64fb66fb","X-Runtime":"0.281617","Content-Length":"531"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer cc7db1647665a368cf4fe13caa1db275ec8ce05da74dd06e17cc9ee7f6581383\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","description":"List all credentials of multiple types","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?type=Database,VAN::MyCampaign","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer d0b80df97ca1ae171288b141195cdca207d6d6e337165350b5bc7e428f9a25b0","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"type":"Database,VAN::MyCampaign"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24041,\"name\":\"van-api-key-7\",\"type\":\"VAN::MyCampaign\",\"username\":\"MBrennanAPIUser\",\"description\":null,\"owner\":\"devuserfactory86\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:14.000Z\",\"updatedAt\":\"2019-07-18T20:50:14.000Z\"},{\"id\":24043,\"name\":\"db_user-7\",\"type\":\"Database\",\"username\":\"db_user-7\",\"description\":null,\"owner\":\"devuserfactory86\",\"remoteHostId\":87982,\"remoteHostName\":\"redshift-10006\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:15.000Z\",\"updatedAt\":\"2019-07-18T20:49:14.000Z\"},{\"id\":24045,\"name\":\"db_user-8\",\"type\":\"Database\",\"username\":\"db_user-8\",\"description\":null,\"owner\":\"devuserfactory86\",\"remoteHostId\":87983,\"remoteHostName\":\"redshift-10007\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:15.000Z\",\"updatedAt\":\"2019-07-18T20:48:15.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"3","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"aa0b4516-8c95-4772-8f91-cbcc6757a095","X-Runtime":"0.226039","Content-Length":"800"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?type=Database,VAN::MyCampaign\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer d0b80df97ca1ae171288b141195cdca207d6d6e337165350b5bc7e428f9a25b0\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials?remoteHostId=:remote_host_id","description":"List all credentials of the specified remote host","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials?remoteHostId=87985","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer f9b2cb027f31f8418fd59c23f2344dd4311c81a6aa77066a167450bb287f50d4","Host":"api.civis.test","Cookie":""},"request_query_parameters":{"remoteHostId":"87985"},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"[{\"id\":24051,\"name\":\"db_user-9\",\"type\":\"Database\",\"username\":\"db_user-9\",\"description\":null,\"owner\":\"devuserfactory87\",\"remoteHostId\":87985,\"remoteHostName\":\"redshift-10008\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:16.000Z\",\"updatedAt\":\"2019-07-18T20:49:16.000Z\"}]","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","X-Pagination-Per-Page":"1000","Access-Control-Expose-Headers":"X-Pagination-Per-Page, X-Pagination-Current-Page, X-Pagination-Total-Pages, X-Pagination-Total-Entries","X-Pagination-Current-Page":"1","X-Pagination-Total-Pages":"1","X-Pagination-Total-Entries":"1","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"b46f3e4a-dfc0-45de-816a-2121c9e72dc2","X-Runtime":"0.257944","Content-Length":"266"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials?remoteHostId=87985\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f9b2cb027f31f8418fd59c23f2344dd4311c81a6aa77066a167450bb287f50d4\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"post":{"summary":"Create a credential","parameters":[{"name":"Object59","in":"body","schema":{"$ref":"#/definitions/Object59"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object58"}}},"x-examples":[{"resource":"Credentials","http_method":"POST","route":"http://api.civis.test/credentials","description":"Create a credential with a remote host","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/credentials","request_body":"{\n  \"username\": \"myUsername\",\n  \"password\": \"myPassword\",\n  \"type\": \"Database\",\n  \"remote_host_id\": 87990\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 512ade34128a818c512f513e217a53e0448c282b4df66e8e3f3b476cf1f4666f","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":24065,\"name\":\"myUsername\",\"type\":\"Database\",\"username\":\"myUsername\",\"description\":null,\"owner\":\"devuserfactory88\",\"remoteHostId\":87990,\"remoteHostName\":\"mysql-10005\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:18.000Z\",\"updatedAt\":\"2019-07-18T20:50:18.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"e5a4d1a1-1a94-41af-a45e-471d93bd9ce8","X-Runtime":"0.110558","Content-Length":"263"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -d '{\"username\":\"myUsername\",\"password\":\"myPassword\",\"type\":\"Database\",\"remote_host_id\":87990}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 512ade34128a818c512f513e217a53e0448c282b4df66e8e3f3b476cf1f4666f\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"POST","route":"http://api.civis.test/credentials","description":"Create a credential without a remote host","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"POST","request_path":"http://api.civis.test/credentials","request_body":"{\n  \"username\": \"myUsername\",\n  \"password\": \"myPassword\",\n  \"type\": \"Custom\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer f27d66c99c939578ad90b62ca3a710137ab25bb108e190614d9da8d6d0778359","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":24074,\"name\":\"myUsername\",\"type\":\"Custom\",\"username\":\"myUsername\",\"description\":null,\"owner\":\"devuserfactory89\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:19.000Z\",\"updatedAt\":\"2019-07-18T20:50:19.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"80a4890e-8a51-42cc-ae41-fc1c3fe5b6c8","X-Runtime":"0.134456","Content-Length":"251"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials\" -d '{\"username\":\"myUsername\",\"password\":\"myPassword\",\"type\":\"Custom\"}' -X POST \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer f27d66c99c939578ad90b62ca3a710137ab25bb108e190614d9da8d6d0778359\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/credentials/{id}":{"put":{"summary":"Update an existing credential","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the credential.","type":"integer"},{"name":"Object60","in":"body","schema":{"$ref":"#/definitions/Object60"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object58"}}},"x-examples":[{"resource":"Credentials","http_method":"PUT","route":"http://api.civis.test/credentials/:id","description":"Update a database credential","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"PUT","request_path":"http://api.civis.test/credentials/24082","request_body":"{\n  \"name\": \"Updated Credential Name\",\n  \"username\": \"myNewUsername\",\n  \"password\": \"myNewPassword\",\n  \"type\": \"Database\",\n  \"remote_host_id\": 87996\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer de21f9ed72d4b66a24db355fb0dfbc442028b1156878b852a209ddd3c4812d5f","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":24082,\"name\":\"Updated Credential Name\",\"type\":\"Database\",\"username\":\"myNewUsername\",\"description\":null,\"owner\":\"devuserfactory90\",\"remoteHostId\":87996,\"remoteHostName\":\"mysql-10007\",\"state\":null,\"createdAt\":\"2019-07-18T20:50:19.000Z\",\"updatedAt\":\"2019-07-18T20:50:20.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"03f9bae5-dae0-4d98-a304-bd6f648e1c7a","X-Runtime":"0.167712","Content-Length":"279"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials/24082\" -d '{\"name\":\"Updated Credential Name\",\"username\":\"myNewUsername\",\"password\":\"myNewPassword\",\"type\":\"Database\",\"remote_host_id\":87996}' -X PUT \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer de21f9ed72d4b66a24db355fb0dfbc442028b1156878b852a209ddd3c4812d5f\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"PUT","route":"http://api.civis.test/credentials/:id","description":"Update a custom credential","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"PUT","request_path":"http://api.civis.test/credentials/24090","request_body":"{\n  \"name\": \"Custom Name\",\n  \"username\": \"myUserName\",\n  \"password\": \"myNewPassword\",\n  \"type\": \"Custom\"\n}","request_headers":{"Content-Type":"application/json","Authorization":"Bearer 8fb716f84a65fdc318a6acf77262ed118eede8b1b5e0da5f2992835341347138","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":24090,\"name\":\"Custom Name\",\"type\":\"Custom\",\"username\":\"myUserName\",\"description\":null,\"owner\":\"devuserfactory91\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:20.000Z\",\"updatedAt\":\"2019-07-18T20:50:21.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"f0c15ad9-6de1-426c-9c73-be450b149fbe","X-Runtime":"0.123917","Content-Length":"252"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials/24090\" -d '{\"name\":\"Custom Name\",\"username\":\"myUserName\",\"password\":\"myNewPassword\",\"type\":\"Custom\"}' -X PUT \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 8fb716f84a65fdc318a6acf77262ed118eede8b1b5e0da5f2992835341347138\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]},"get":{"summary":"Get a credential","parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the credential.","type":"integer"}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object58"}}},"x-examples":[{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials/:id","description":"#get view credential","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials/24098","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 60a641c25ce52e1432587632b6c6d2c73cf24654a1ed1cb20dd433738c788d4a","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":24098,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory92\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:21.000Z\",\"updatedAt\":\"2019-07-18T20:45:21.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"8485cc3a-2b59-4605-9fb7-9dfbe56f2521","X-Runtime":"0.092131","Content-Length":"290"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials/24098\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 60a641c25ce52e1432587632b6c6d2c73cf24654a1ed1cb20dd433738c788d4a\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]},{"resource":"Credentials","http_method":"GET","route":"http://api.civis.test/credentials/:id","description":"#get view credential","explanation":null,"parameters":[{"required":false,"name":"type","description":"The type (or types) of credentials to return. One or more of: Amazon Web Services S3, Bitbucket, BSD::API, CASS/NCOA PAF, Catalist::API, Catalist::SFTP, Certificate, Civis Platform, Custom, Database, Google, Github, JobTraits::Ftp, Salesforce User, Salesforce Client, Silverpop Application, Silverpop Refresh Token, Silverpop User, TableauUser, VAN::MyVoterFile, VAN::MyCampaign, and VAN::BothModes. Specify multiple values as a comma-separated list (e.g., \"A,B\")."},{"required":false,"name":"remoteHostId","description":"The ID of the remote host associated with the credentials to return."},{"required":false,"name":"default","description":"If true, will return a list with a single credential which is the current user's default credential."},{"required":false,"name":"limit","description":"Number of results to return. Defaults to its maximum of 1000."},{"required":false,"name":"pageNum","description":"Page number of the results to return. Defaults to the first page, 1."},{"required":false,"name":"order","description":"The field on which to order the result set. Defaults to updated_at. Must be one of: updated_at, created_at, name."},{"required":false,"name":"orderDir","description":"Direction in which to sort, either asc (ascending) or desc (descending) defaulting to desc."}],"response_fields":[],"requests":[{"request_method":"GET","request_path":"http://api.civis.test/credentials/24106","request_body":null,"request_headers":{"Content-Type":"application/json","Authorization":"Bearer 7109b962a6b3a97900992739650a0c0941f613e974ac7488b087fbceabceff5c","Accept":"application/vnd.civis-platform.v2","Host":"api.civis.test","Cookie":""},"request_query_parameters":{},"request_content_type":"application/json","response_status":200,"response_status_text":"OK","response_body":"{\"id\":24106,\"name\":\"Rentrak\",\"type\":\"Amazon Web Services S3\",\"username\":\"b1a44ca7-2c68-4a69-9986-cad248264f35\",\"description\":null,\"owner\":\"devuserfactory93\",\"remoteHostId\":null,\"remoteHostName\":null,\"state\":null,\"createdAt\":\"2019-07-18T20:50:22.000Z\",\"updatedAt\":\"2019-07-18T20:45:22.000Z\"}","response_headers":{"X-Frame-Options":"SAMEORIGIN","X-XSS-Protection":"1; mode=block","X-Content-Type-Options":"nosniff","X-Download-Options":"noopen","X-Permitted-Cross-Domain-Policies":"none","Referrer-Policy":"strict-origin-when-cross-origin","Access-Control-Allow-Origin":"null","Vary":"Origin","Cache-Control":"no-cache, no-store","Pragma":"no-cache","Expires":"0","Content-Type":"application/json; charset=utf-8","Set-Cookie":"augury=false; path=/","X-Request-Id":"3276807b-a8c1-4219-af93-2527b39dd07f","X-Runtime":"0.072666","Content-Length":"290"},"response_content_type":"application/json; charset=utf-8","curl":"curl \"api.civis.testhttp://api.civis.test/credentials/24106\" -X GET \\\n\t-H \"Content-Type: application/json\" \\\n\t-H \"Authorization: Bearer 7109b962a6b3a97900992739650a0c0941f613e974ac7488b087fbceabceff5c\" \\\n\t-H \"Accept: application/vnd.civis-platform.v2\" \\\n\t-H \"Host: api.civis.test\" \\\n\t-H \"Cookie: \""}]}]}},"/credentials/authenticate":{"post":{"summary":"Authenticate against a remote host","parameters":[{"name":"Object61","in":"body","schema":{"$ref":"#/definitions/Object61"},"required":true}],"responses":{"200":{"description":"success","schema":{"$ref":"#/definitions/Object
[...]
