interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.civisanalytics.com/channels
  response:
    body:
      string: '{"origin": "civis.pubnub.com", "subscribeKey": "test-sub-key", "cipherKey":
              "test-cipher-key", "authKey": "test-auth-key", "channels": [{"name":
              "channel1"}, {"name": "channel2"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"352581d592b512b0d1306f0a5995c69d"]
      X-RateLimit-Limit: ['1000']
      X-RateLimit-Remaining: ['999']
    status: {code: 200, message: OK}
recorded_with: VCR
version: 1
