interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.civisanalytics.com/users/me
  response:
    body:
      string: '{"feature_flags": {"pubnub": true, "python_3_scripts": true, "container_scripts":
              true}, "id": 1583, "name": "devuser"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"5440d51c4de9928c3a40474fccdc5ffd"]
      X-RateLimit-Limit: ['1000']
      X-RateLimit-Remaining: ['999']
    status: {code: 200, message: OK}
recorded_with: VCR
version: 1
